<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ALL.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,164},{27,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{29,164},{27,12}}</string>
				<key>sourceSize</key>
				<string>{27,12}</string>
			</dict>
			<key>RECORD.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{155,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{155,38}}</string>
				<key>sourceSize</key>
				<string>{155,38}</string>
			</dict>
			<key>cardTypeB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,164},{139,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,164},{139,20}}</string>
				<key>sourceSize</key>
				<string>{139,20}</string>
			</dict>
			<key>cardTypeB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,445},{57,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,445},{57,20}}</string>
				<key>sourceSize</key>
				<string>{57,20}</string>
			</dict>
			<key>cardTypeB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,355},{84,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,355},{84,21}}</string>
				<key>sourceSize</key>
				<string>{84,21}</string>
			</dict>
			<key>cardTypeB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,508},{49,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,508},{49,23}}</string>
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>cardTypeB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,227},{122,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{29,227},{122,23}}</string>
				<key>sourceSize</key>
				<string>{122,23}</string>
			</dict>
			<key>cardTypeB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,563},{43,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,563},{43,20}}</string>
				<key>sourceSize</key>
				<string>{43,20}</string>
			</dict>
			<key>cardTypeR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,439},{52,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,439},{52,18}}</string>
				<key>sourceSize</key>
				<string>{52,18}</string>
			</dict>
			<key>cardTypeR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,497},{46,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,497},{46,18}}</string>
				<key>sourceSize</key>
				<string>{46,18}</string>
			</dict>
			<key>cardTypeR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,309},{66,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,309},{66,18}}</string>
				<key>sourceSize</key>
				<string>{66,18}</string>
			</dict>
			<key>cardTypeR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,634},{41,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,634},{41,20}}</string>
				<key>sourceSize</key>
				<string>{41,20}</string>
			</dict>
			<key>cardTypeR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,381},{52,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,381},{52,18}}</string>
				<key>sourceSize</key>
				<string>{52,18}</string>
			</dict>
			<key>cardTypeR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,549},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,549},{36,18}}</string>
				<key>sourceSize</key>
				<string>{36,18}</string>
			</dict>
			<key>cardTypeS_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,125},{48,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{47,125},{48,14}}</string>
				<key>sourceSize</key>
				<string>{48,14}</string>
			</dict>
			<key>cardTypeS_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,179},{42,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{47,179},{42,14}}</string>
				<key>sourceSize</key>
				<string>{42,14}</string>
			</dict>
			<key>cardTypeS_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,3},{62,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{47,3},{62,14}}</string>
				<key>sourceSize</key>
				<string>{62,14}</string>
			</dict>
			<key>cardTypeS_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,591},{37,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,591},{37,16}}</string>
				<key>sourceSize</key>
				<string>{37,16}</string>
			</dict>
			<key>cardTypeS_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,71},{48,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{47,71},{48,14}}</string>
				<key>sourceSize</key>
				<string>{48,14}</string>
			</dict>
			<key>cardTypeS_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,612},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,612},{32,14}}</string>
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1cb922a57.png</string>
			<key>size</key>
			<string>{64,657}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1cb922a57.png</string>
		</dict>
	</dict>
</plist>
