<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,496},{120,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{45,496},{120,31}}</string>
				<key>sourceSize</key>
				<string>{120,31}</string>
			</dict>
			<key>Recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,439},{115,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,439},{115,36}}</string>
				<key>sourceSize</key>
				<string>{115,36}</string>
			</dict>
			<key>activityLockTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,186},{175,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{107,186},{175,18}}</string>
				<key>sourceSize</key>
				<string>{175,18}</string>
			</dict>
			<key>activity_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,972},{40,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{99,972},{40,17}}</string>
				<key>sourceSize</key>
				<string>{40,17}</string>
			</dict>
			<key>bonus_turn_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,773},{78,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,773},{78,20}}</string>
				<key>sourceSize</key>
				<string>{78,20}</string>
			</dict>
			<key>brazil_carnival.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,936},{59,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,936},{59,18}}</string>
				<key>sourceSize</key>
				<string>{59,18}</string>
			</dict>
			<key>brc_rebate.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,910},{66,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,910},{66,18}}</string>
				<key>sourceSize</key>
				<string>{66,18}</string>
			</dict>
			<key>carnival.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,740},{81,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,740},{81,18}}</string>
				<key>sourceSize</key>
				<string>{81,18}</string>
			</dict>
			<key>charge_giftpack_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,714},{28,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{111,714},{28,15}}</string>
				<key>sourceSize</key>
				<string>{28,15}</string>
			</dict>
			<key>first_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1001},{50,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1001},{50,18}}</string>
				<key>sourceSize</key>
				<string>{50,18}</string>
			</dict>
			<key>free_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,680},{87,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,680},{87,20}}</string>
				<key>sourceSize</key>
				<string>{87,20}</string>
			</dict>
			<key>friend_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,367},{126,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{102,367},{126,25}}</string>
				<key>sourceSize</key>
				<string>{126,25}</string>
			</dict>
			<key>game_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,827},{55,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{104,827},{55,21}}</string>
				<key>sourceSize</key>
				<string>{55,21}</string>
			</dict>
			<key>gold_tide.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,748},{73,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{106,748},{73,18}}</string>
				<key>sourceSize</key>
				<string>{73,18}</string>
			</dict>
			<key>gold_tide_slots.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,857},{73,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,857},{73,18}}</string>
				<key>sourceSize</key>
				<string>{73,18}</string>
			</dict>
			<key>holiDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,945},{62,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,945},{62,21}}</string>
				<key>sourceSize</key>
				<string>{62,21}</string>
			</dict>
			<key>holiDay_last_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,711},{83,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{57,711},{83,19}}</string>
				<key>sourceSize</key>
				<string>{83,19}</string>
			</dict>
			<key>holiDay_last_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,622},{83,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{57,622},{83,19}}</string>
				<key>sourceSize</key>
				<string>{83,19}</string>
			</dict>
			<key>holiDay_last_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,740},{83,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{29,740},{83,19}}</string>
				<key>sourceSize</key>
				<string>{83,19}</string>
			</dict>
			<key>img_earn.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,292},{198,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{62,292},{198,34}}</string>
				<key>sourceSize</key>
				<string>{198,34}</string>
			</dict>
			<key>img_lb_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,663},{71,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,663},{71,23}}</string>
				<key>sourceSize</key>
				<string>{71,23}</string>
			</dict>
			<key>img_lb_withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,560},{114,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,560},{114,23}}</string>
				<key>sourceSize</key>
				<string>{114,23}</string>
			</dict>
			<key>label_cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,663},{45,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{111,663},{45,16}}</string>
				<key>sourceSize</key>
				<string>{45,16}</string>
			</dict>
			<key>label_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,972},{42,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,972},{42,17}}</string>
				<key>sourceSize</key>
				<string>{42,17}</string>
			</dict>
			<key>landlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,622},{112,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,622},{112,19}}</string>
				<key>sourceSize</key>
				<string>{112,19}</string>
			</dict>
			<key>lb_holiDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{283,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{283,98}}</string>
				<key>sourceSize</key>
				<string>{283,98}</string>
			</dict>
			<key>lucky_ticket_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,587},{70,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,587},{70,33}}</string>
				<key>sourceSize</key>
				<string>{70,33}</string>
			</dict>
			<key>raffle_draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,800},{70,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{54,800},{70,20}}</string>
				<key>sourceSize</key>
				<string>{70,20}</string>
			</dict>
			<key>rebate.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,906},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,906},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>rescue_funds.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,829},{75,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{29,829},{75,18}}</string>
				<key>sourceSize</key>
				<string>{75,18}</string>
			</dict>
			<key>sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,876},{63,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,876},{63,21}}</string>
				<key>sourceSize</key>
				<string>{63,21}</string>
			</dict>
			<key>second_recharge_package.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,827},{73,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{80,827},{73,18}}</string>
				<key>sourceSize</key>
				<string>{73,18}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,3},{177,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{107,3},{177,20}}</string>
				<key>sourceSize</key>
				<string>{177,20}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,499},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,499},{82,38}}</string>
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>txt_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,292},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,292},{141,53}}</string>
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>vip_system.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,995},{26,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,995},{26,17}}</string>
				<key>sourceSize</key>
				<string>{26,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a496264b.png</string>
			<key>size</key>
			<string>{130,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a496264b.png</string>
		</dict>
	</dict>
</plist>
