<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,3},{785,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{577,3},{785,207}}</string>
				<key>sourceSize</key>
				<string>{785,207}</string>
			</dict>
			<key>activity_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{877,568}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{877,568}}</string>
				<key>sourceSize</key>
				<string>{879,569}</string>
			</dict>
			<key>betting.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,604},{85,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,604},{85,23}}</string>
				<key>sourceSize</key>
				<string>{85,23}</string>
			</dict>
			<key>btn_getreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,794},{120,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{776,794},{120,36}}</string>
				<key>sourceSize</key>
				<string>{120,36}</string>
			</dict>
			<key>count_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,794},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,794},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>he.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,982},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,982},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>sprite_titel.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,910},{396,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{360,910},{396,76}}</string>
				<key>sourceSize</key>
				<string>{396,76}</string>
			</dict>
			<key>sprite_titel_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,298},{112,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,298},{112,20}}</string>
				<key>sourceSize</key>
				<string>{112,20}</string>
			</dict>
			<key>task_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,879},{193,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,879},{193,25}}</string>
				<key>sourceSize</key>
				<string>{193,25}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,3},{289,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,3},{289,21}}</string>
				<key>sourceSize</key>
				<string>{289,21}</string>
			</dict>
			<key>titel.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,982},{253,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,982},{253,38}}</string>
				<key>sourceSize</key>
				<string>{253,38}</string>
			</dict>
			<key>title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,886},{351,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,886},{351,90}}</string>
				<key>sourceSize</key>
				<string>{351,90}</string>
			</dict>
			<key>txt_p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,794},{69,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,794},{69,24}}</string>
				<key>sourceSize</key>
				<string>{69,24}</string>
			</dict>
			<key>txt_p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,824},{60,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,824},{60,27}}</string>
				<key>sourceSize</key>
				<string>{60,27}</string>
			</dict>
			<key>txt_p3.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,510},{88,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,510},{88,23}}</string>
				<key>sourceSize</key>
				<string>{88,23}</string>
			</dict>
			<key>txt_p4.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,416},{88,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{790,416},{88,23}}</string>
				<key>sourceSize</key>
				<string>{88,23}</string>
			</dict>
			<key>txt_repeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,794},{78,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{661,794},{78,33}}</string>
				<key>sourceSize</key>
				<string>{78,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1d1876253.png</string>
			<key>size</key>
			<string>{816,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1d1876253.png</string>
		</dict>
	</dict>
</plist>
