<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,3},{114,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{658,3},{114,90}}</string>
				<key>sourceSize</key>
				<string>{114,90}</string>
			</dict>
			<key>check_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,199},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{658,199},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>check_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,199},{30,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,199},{30,27}}</string>
				<key>sourceSize</key>
				<string>{30,27}</string>
			</dict>
			<key>left.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,161},{32,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{658,161},{32,65}}</string>
				<key>sourceSize</key>
				<string>{32,65}</string>
			</dict>
			<key>right.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,123},{32,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{658,123},{32,65}}</string>
				<key>sourceSize</key>
				<string>{32,65}</string>
			</dict>
			<key>rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1007,649}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1007,649}}</string>
				<key>sourceSize</key>
				<string>{1007,649}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ab170e4e.png</string>
			<key>size</key>
			<string>{751,1013}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ab170e4e.png</string>
		</dict>
	</dict>
</plist>
