<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,751},{190,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,751},{190,71}}</string>
				<key>sourceSize</key>
				<string>{190,71}</string>
			</dict>
			<key>buyNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,689},{439,56}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,689},{439,56}}</string>
				<key>sourceSize</key>
				<string>{456,56}</string>
			</dict>
			<key>buybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{680,380}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{680,380}}</string>
				<key>sourceSize</key>
				<string>{684,382}</string>
			</dict>
			<key>x.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,751},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,751},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>152d0fbd9.png</string>
			<key>size</key>
			<string>{445,825}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>152d0fbd9.png</string>
		</dict>
	</dict>
</plist>
