<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,291},{72,67}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,291},{72,67}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,219},{66,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,219},{66,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{94,66}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{94,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,442},{76,79}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,442},{76,79}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,75},{75,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,75},{75,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,219},{66,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,219},{66,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,219},{78,66}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,219},{78,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,291},{75,67}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,291},{75,67}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,147},{66,95}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,147},{66,95}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,75},{67,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,75},{67,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,75},{70,66}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,75},{70,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,291},{66,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,291},{66,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,442},{88,76}}</string>
				<key>offset</key>
				<string>{-10,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{88,442},{88,76}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,147},{66,66}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,147},{66,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,364},{89,73}}</string>
				<key>offset</key>
				<string>{12,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{179,364},{89,73}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,3},{73,66}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,3},{73,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,3},{66,67}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{182,3},{66,67}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,364},{97,72}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,364},{97,72}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,147},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,147},{66,66}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>face_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,364},{67,67}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,364},{67,67}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>178a6408c.png</string>
			<key>size</key>
			<string>{255,533}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>178a6408c.png</string>
		</dict>
	</dict>
</plist>
