<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,524},{36,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{323,524},{36,29}}</string>
				<key>sourceSize</key>
				<string>{36,29}</string>
			</dict>
			<key>annr.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,3},{50,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,3},{50,70}}</string>
				<key>sourceSize</key>
				<string>{50,70}</string>
			</dict>
			<key>auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,525},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,525},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>betLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,124},{162,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{368,124},{162,35}}</string>
				<key>sourceSize</key>
				<string>{162,35}</string>
			</dict>
			<key>bluebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,124},{194,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,124},{194,359}}</string>
				<key>sourceSize</key>
				<string>{194,359}</string>
			</dict>
			<key>box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{540,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{540,115}}</string>
				<key>sourceSize</key>
				<string>{540,115}</string>
			</dict>
			<key>box2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,227},{141,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{368,227},{141,76}}</string>
				<key>sourceSize</key>
				<string>{141,76}</string>
			</dict>
			<key>box3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,524},{314,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,524},{314,74}}</string>
				<key>sourceSize</key>
				<string>{314,74}</string>
			</dict>
			<key>btn_add_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,805},{65,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{519,805},{65,87}}</string>
				<key>sourceSize</key>
				<string>{65,87}</string>
			</dict>
			<key>btn_add_base1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,805},{65,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{426,805},{65,87}}</string>
				<key>sourceSize</key>
				<string>{65,87}</string>
			</dict>
			<key>btn_add_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,309},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,309},{32,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>btn_add_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,347},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,347},{32,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>btn_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,431},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,431},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_auto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,562},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{323,562},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,165},{149,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{368,165},{149,56}}</string>
				<key>sourceSize</key>
				<string>{149,56}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,810},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,810},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_green1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,913},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,913},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,936},{85,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{410,936},{85,87}}</string>
				<key>sourceSize</key>
				<string>{85,87}</string>
			</dict>
			<key>btn_info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,936},{85,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{317,936},{85,87}}</string>
				<key>sourceSize</key>
				<string>{85,87}</string>
			</dict>
			<key>btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,604},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,604},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,707},{308,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,707},{308,97}}</string>
				<key>sourceSize</key>
				<string>{308,97}</string>
			</dict>
			<key>btn_sub_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,165},{37,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{523,165},{37,12}}</string>
				<key>sourceSize</key>
				<string>{37,12}</string>
			</dict>
			<key>btn_sub_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,208},{37,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{523,208},{37,11}}</string>
				<key>sourceSize</key>
				<string>{37,11}</string>
			</dict>
			<key>gold_extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,324},{194,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,324},{194,359}}</string>
				<key>sourceSize</key>
				<string>{194,359}</string>
			</dict>
			<key>haixingimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,936},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,936},{86,85}}</string>
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>intro_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,59},{304,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,59},{304,69}}</string>
				<key>sourceSize</key>
				<string>{304,69}</string>
			</dict>
			<key>lsk.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,745},{185,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{426,745},{185,54}}</string>
				<key>sourceSize</key>
				<string>{185,54}</string>
			</dict>
			<key>maxbet_base1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,309},{102,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{368,309},{102,135}}</string>
				<key>sourceSize</key>
				<string>{102,135}</string>
			</dict>
			<key>maxbet_base2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,417},{102,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{368,417},{102,135}}</string>
				<key>sourceSize</key>
				<string>{102,135}</string>
			</dict>
			<key>numbase.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,876},{300,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,876},{300,54}}</string>
				<key>sourceSize</key>
				<string>{300,54}</string>
			</dict>
			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,562},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{426,562},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>stopnumbase.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,385},{112,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,385},{112,40}}</string>
				<key>sourceSize</key>
				<string>{112,40}</string>
			</dict>
			<key>xiaotubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,622},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{426,622},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>16c452810.png</string>
			<key>size</key>
			<string>{624,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>16c452810.png</string>
		</dict>
	</dict>
</plist>
