<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chip_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{111,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,145},{111,120}}</string>
				<key>sourceSize</key>
				<string>{111,120}</string>
			</dict>
			<key>chip_10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,145},{114,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,145},{114,119}}</string>
				<key>sourceSize</key>
				<string>{114,119}</string>
			</dict>
			<key>chip_100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,1},{111,114}}</string>
				<key>sourceSize</key>
				<string>{111,114}</string>
			</dict>
			<key>chip_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,266},{112,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,266},{112,114}}</string>
				<key>sourceSize</key>
				<string>{112,114}</string>
			</dict>
			<key>chip_50000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,258},{112,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,258},{112,119}}</string>
				<key>sourceSize</key>
				<string>{112,119}</string>
			</dict>
			<key>choice_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{137,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,142}}</string>
				<key>sourceSize</key>
				<string>{137,142}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>rocket_chips.png</string>
			<key>size</key>
			<string>{252,379}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>rocket_chips.png</string>
		</dict>
	</dict>
</plist>
