<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>holiDay_lb_goNow.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,3},{168,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{113,3},{168,59}}</string>
				<key>sourceSize</key>
				<string>{168,59}</string>
			</dict>
			<key>holiDay_lb_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,503},{478,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{101,503},{478,61}}</string>
				<key>sourceSize</key>
				<string>{478,61}</string>
			</dict>
			<key>holiDay_lb_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{554,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{554,66}}</string>
				<key>sourceSize</key>
				<string>{554,66}</string>
			</dict>
			<key>holiDay_lb_msg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,3},{494,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{75,3},{494,32}}</string>
				<key>sourceSize</key>
				<string>{494,32}</string>
			</dict>
			<key>holiDay_lb_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,563},{436,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,563},{436,92}}</string>
				<key>sourceSize</key>
				<string>{436,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a07ea7e3.png</string>
			<key>size</key>
			<string>{175,1002}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a07ea7e3.png</string>
		</dict>
	</dict>
</plist>
