<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{770,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{770,485}}</string>
				<key>sourceSize</key>
				<string>{774,489}</string>
			</dict>
			<key>btn_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,577},{214,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,577},{214,77}}</string>
				<key>sourceSize</key>
				<string>{214,77}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,494},{214,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,494},{214,77}}</string>
				<key>sourceSize</key>
				<string>{214,77}</string>
			</dict>
			<key>btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,494},{214,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,494},{214,77}}</string>
				<key>sourceSize</key>
				<string>{214,77}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,714},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,714},{53,53}}</string>
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>countdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,577},{154,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,577},{154,46}}</string>
				<key>sourceSize</key>
				<string>{154,46}</string>
			</dict>
			<key>light_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,494},{336,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,494},{336,336}}</string>
				<key>sourceSize</key>
				<string>{336,336}</string>
			</dict>
			<key>num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,577},{151,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{480,577},{151,34}}</string>
				<key>sourceSize</key>
				<string>{151,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a2e9e709.png</string>
			<key>size</key>
			<string>{776,833}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a2e9e709.png</string>
		</dict>
	</dict>
</plist>
