<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,431},{149,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{75,431},{149,36}}</string>
				<key>sourceSize</key>
				<string>{149,36}</string>
			</dict>
			<key>Deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,486},{143,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,486},{143,41}}</string>
				<key>sourceSize</key>
				<string>{143,41}</string>
			</dict>
			<key>Deposit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,635},{121,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,635},{121,36}}</string>
				<key>sourceSize</key>
				<string>{121,36}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{477,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{477,56}}</string>
				<key>sourceSize</key>
				<string>{477,56}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,346},{79,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,346},{79,34}}</string>
				<key>sourceSize</key>
				<string>{79,34}</string>
			</dict>
			<key>trial.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,486},{122,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{50,486},{122,19}}</string>
				<key>sourceSize</key>
				<string>{122,19}</string>
			</dict>
			<key>withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,3},{169,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,3},{169,19}}</string>
				<key>sourceSize</key>
				<string>{169,19}</string>
			</dict>
			<key>withdraw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,3},{162,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{90,3},{162,28}}</string>
				<key>sourceSize</key>
				<string>{162,28}</string>
			</dict>
			<key>withdraw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,178},{162,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,178},{162,28}}</string>
				<key>sourceSize</key>
				<string>{162,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a50b4de1.png</string>
			<key>size</key>
			<string>{127,674}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a50b4de1.png</string>
		</dict>
	</dict>
</plist>
