<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,377},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,377},{74,56}}</string>
				<key>sourceSize</key>
				<string>{74,56}</string>
			</dict>
			<key>btn_bet_select_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,439},{185,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,439},{185,48}}</string>
				<key>sourceSize</key>
				<string>{185,48}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,182},{185,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{215,182},{185,48}}</string>
				<key>sourceSize</key>
				<string>{185,48}</string>
			</dict>
			<key>btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,3},{142,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,3},{142,76}}</string>
				<key>sourceSize</key>
				<string>{142,76}</string>
			</dict>
			<key>btn_max_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,151},{142,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{366,151},{142,76}}</string>
				<key>sourceSize</key>
				<string>{142,76}</string>
			</dict>
			<key>btn_op_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,85},{260,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,85},{260,91}}</string>
				<key>sourceSize</key>
				<string>{260,91}</string>
			</dict>
			<key>btn_op_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,85},{260,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{269,85},{260,91}}</string>
				<key>sourceSize</key>
				<string>{260,91}</string>
			</dict>
			<key>btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,299},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{366,299},{72,76}}</string>
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>btn_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,493},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,493},{74,56}}</string>
				<key>sourceSize</key>
				<string>{74,56}</string>
			</dict>
			<key>img_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{366,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{366,76}}</string>
				<key>sourceSize</key>
				<string>{366,76}</string>
			</dict>
			<key>img_bet_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,379},{191,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,379},{191,204}}</string>
				<key>sourceSize</key>
				<string>{191,204}</string>
			</dict>
			<key>img_free_count_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,373},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,373},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>img_times_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,410},{31,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,410},{31,22}}</string>
				<key>sourceSize</key>
				<string>{31,22}</string>
			</dict>
			<key>img_times_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,435},{49,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{431,435},{49,22}}</string>
				<key>sourceSize</key>
				<string>{49,22}</string>
			</dict>
			<key>img_times_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,377},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{431,377},{52,22}}</string>
				<key>sourceSize</key>
				<string>{52,22}</string>
			</dict>
			<key>img_times_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,182},{191,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,182},{191,206}}</string>
				<key>sourceSize</key>
				<string>{191,206}</string>
			</dict>
			<key>img_times_∞.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,410},{50,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,410},{50,23}}</string>
				<key>sourceSize</key>
				<string>{50,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18d1481a5.png</string>
			<key>size</key>
			<string>{456,573}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18d1481a5.png</string>
		</dict>
	</dict>
</plist>
