<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>txt_btnDouble.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,436},{115,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{75,436},{115,34}}</string>
				<key>sourceSize</key>
				<string>{115,34}</string>
			</dict>
			<key>txt_btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,580},{122,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,580},{122,36}}</string>
				<key>sourceSize</key>
				<string>{122,36}</string>
			</dict>
			<key>txt_btnReceive.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,557},{92,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{78,557},{92,35}}</string>
				<key>sourceSize</key>
				<string>{92,35}</string>
			</dict>
			<key>txt_btnShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,436},{138,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,436},{138,33}}</string>
				<key>sourceSize</key>
				<string>{138,33}</string>
			</dict>
			<key>txt_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,436},{323,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,436},{323,27}}</string>
				<key>sourceSize</key>
				<string>{323,27}</string>
			</dict>
			<key>txt_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{427,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{427,92}}</string>
				<key>sourceSize</key>
				<string>{427,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>112961941.png</string>
			<key>size</key>
			<string>{116,762}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>112961941.png</string>
		</dict>
	</dict>
</plist>
