<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Activedirect.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,630},{182,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,630},{182,13}}</string>
				<key>sourceSize</key>
				<string>{182,13}</string>
			</dict>
			<key>Changeteam.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,118},{445,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{437,118},{445,34}}</string>
				<key>sourceSize</key>
				<string>{445,34}</string>
			</dict>
			<key>Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,338},{119,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,338},{119,31}}</string>
				<key>sourceSize</key>
				<string>{119,31}</string>
			</dict>
			<key>Contributionranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,118},{349,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{388,118},{349,21}}</string>
				<key>sourceSize</key>
				<string>{349,21}</string>
			</dict>
			<key>Directteam.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,649},{165,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{848,649},{165,13}}</string>
				<key>sourceSize</key>
				<string>{165,13}</string>
			</dict>
			<key>EstimatedRule.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{520,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{520,109}}</string>
				<key>sourceSize</key>
				<string>{520,109}</string>
			</dict>
			<key>EstimatedRule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,118},{520,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,118},{520,109}}</string>
				<key>sourceSize</key>
				<string>{520,109}</string>
			</dict>
			<key>Estimatedincome3.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,607},{223,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,607},{223,19}}</string>
				<key>sourceSize</key>
				<string>{223,19}</string>
			</dict>
			<key>Extract.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,693},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{749,693},{87,23}}</string>
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>Extract_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,256},{101,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,256},{101,24}}</string>
				<key>sourceSize</key>
				<string>{101,24}</string>
			</dict>
			<key>Highest.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,977},{55,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,977},{55,27}}</string>
				<key>sourceSize</key>
				<string>{55,27}</string>
			</dict>
			<key>Hisgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,861},{148,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{690,861},{148,17}}</string>
				<key>sourceSize</key>
				<string>{148,17}</string>
			</dict>
			<key>Histeam.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,810},{143,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,810},{143,17}}</string>
				<key>sourceSize</key>
				<string>{143,17}</string>
			</dict>
			<key>LimitedTimeTask.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,3},{513,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{793,3},{513,46}}</string>
				<key>sourceSize</key>
				<string>{513,46}</string>
			</dict>
			<key>MODIFY.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,118},{132,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{217,118},{132,30}}</string>
				<key>sourceSize</key>
				<string>{132,30}</string>
			</dict>
			<key>MODIFY2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,118},{132,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{253,118},{132,30}}</string>
				<key>sourceSize</key>
				<string>{132,30}</string>
			</dict>
			<key>MyTeamCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,411},{201,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,411},{201,27}}</string>
				<key>sourceSize</key>
				<string>{201,27}</string>
			</dict>
			<key>MyTotalEarnings.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,573},{226,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,573},{226,28}}</string>
				<key>sourceSize</key>
				<string>{226,28}</string>
			</dict>
			<key>Playename.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,749},{75,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{920,749},{75,17}}</string>
				<key>sourceSize</key>
				<string>{75,17}</string>
			</dict>
			<key>Revise.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,693},{108,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{714,693},{108,29}}</string>
				<key>sourceSize</key>
				<string>{108,29}</string>
			</dict>
			<key>Select.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,569},{92,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,569},{92,31}}</string>
				<key>sourceSize</key>
				<string>{92,31}</string>
			</dict>
			<key>Select_method.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,495},{313,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,495},{313,38}}</string>
				<key>sourceSize</key>
				<string>{313,38}</string>
			</dict>
			<key>Subordinate.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,118},{228,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{415,118},{228,13}}</string>
				<key>sourceSize</key>
				<string>{228,13}</string>
			</dict>
			<key>SurgeCoins.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,118},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{175,118},{172,36}}</string>
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>
			<key>Teamnickname.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,546},{212,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,546},{212,22}}</string>
				<key>sourceSize</key>
				<string>{212,22}</string>
			</dict>
			<key>Today2.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,522},{80,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{793,522},{80,18}}</string>
				<key>sourceSize</key>
				<string>{80,18}</string>
			</dict>
			<key>Total1.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,546},{80,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{579,546},{80,19}}</string>
				<key>sourceSize</key>
				<string>{80,19}</string>
			</dict>
			<key>Total2.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,668},{75,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{920,668},{75,18}}</string>
				<key>sourceSize</key>
				<string>{75,18}</string>
			</dict>
			<key>TotalRechargePoints.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,539},{249,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,539},{249,28}}</string>
				<key>sourceSize</key>
				<string>{249,28}</string>
			</dict>
			<key>Withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,600},{148,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,600},{148,26}}</string>
				<key>sourceSize</key>
				<string>{148,26}</string>
			</dict>
			<key>Withdraw_to_Bank_UPI.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,649},{181,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,649},{181,18}}</string>
				<key>sourceSize</key>
				<string>{181,18}</string>
			</dict>
			<key>Withdraw_to_balance.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,833},{144,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{875,833},{144,15}}</string>
				<key>sourceSize</key>
				<string>{144,15}</string>
			</dict>
			<key>Yesterday1.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,574},{143,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,574},{143,19}}</string>
				<key>sourceSize</key>
				<string>{143,19}</string>
			</dict>
			<key>Yesterday2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,668},{110,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{896,668},{110,18}}</string>
				<key>sourceSize</key>
				<string>{110,18}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,786},{60,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{749,786},{60,15}}</string>
				<key>sourceSize</key>
				<string>{60,15}</string>
			</dict>
			<key>congratulations.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,644},{327,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,644},{327,59}}</string>
				<key>sourceSize</key>
				<string>{327,59}</string>
			</dict>
			<key>direct_rule_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,3},{527,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{619,3},{527,19}}</string>
				<key>sourceSize</key>
				<string>{527,19}</string>
			</dict>
			<key>directdeposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,352},{120,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{415,352},{120,14}}</string>
				<key>sourceSize</key>
				<string>{120,14}</string>
			</dict>
			<key>estimatedrevenue.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,833},{161,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{896,833},{161,14}}</string>
				<key>sourceSize</key>
				<string>{161,14}</string>
			</dict>
			<key>history.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,118},{126,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{289,118},{126,26}}</string>
				<key>sourceSize</key>
				<string>{126,26}</string>
			</dict>
			<key>history1.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,807},{122,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,807},{122,22}}</string>
				<key>sourceSize</key>
				<string>{122,22}</string>
			</dict>
			<key>myteamrule1.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,3},{537,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{553,3},{537,60}}</string>
				<key>sourceSize</key>
				<string>{537,60}</string>
			</dict>
			<key>myteamrule2.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,634},{537,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,634},{537,60}}</string>
				<key>sourceSize</key>
				<string>{537,60}</string>
			</dict>
			<key>myteamrule3.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,3},{537,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{661,3},{537,60}}</string>
				<key>sourceSize</key>
				<string>{537,60}</string>
			</dict>
			<key>myteamrule4.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,3},{533,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{879,3},{533,60}}</string>
				<key>sourceSize</key>
				<string>{533,60}</string>
			</dict>
			<key>myteamrule5.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,3},{533,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{727,3},{533,60}}</string>
				<key>sourceSize</key>
				<string>{533,60}</string>
			</dict>
			<key>myteamrule6.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,3},{533,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,3},{533,60}}</string>
				<key>sourceSize</key>
				<string>{533,60}</string>
			</dict>
			<key>myteamrule7.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,892},{526,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,892},{526,17}}</string>
				<key>sourceSize</key>
				<string>{526,17}</string>
			</dict>
			<key>myteamrule8.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,915},{517,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,915},{517,17}}</string>
				<key>sourceSize</key>
				<string>{517,17}</string>
			</dict>
			<key>myteamrule9.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,700},{558,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,700},{558,17}}</string>
				<key>sourceSize</key>
				<string>{558,17}</string>
			</dict>
			<key>noun.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,539},{54,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,539},{54,16}}</string>
				<key>sourceSize</key>
				<string>{54,16}</string>
			</dict>
			<key>numberofm.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,673},{179,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,673},{179,14}}</string>
				<key>sourceSize</key>
				<string>{179,14}</string>
			</dict>
			<key>onlineservice.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,673},{173,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{846,673},{173,17}}</string>
				<key>sourceSize</key>
				<string>{173,17}</string>
			</dict>
			<key>other_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,448},{264,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,448},{264,41}}</string>
				<key>sourceSize</key>
				<string>{264,41}</string>
			</dict>
			<key>pop_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,118},{324,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{118,118},{324,51}}</string>
				<key>sourceSize</key>
				<string>{324,51}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,364},{230,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{501,364},{230,22}}</string>
				<key>sourceSize</key>
				<string>{230,22}</string>
			</dict>
			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,296},{146,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,296},{146,36}}</string>
				<key>sourceSize</key>
				<string>{146,36}</string>
			</dict>
			<key>team_rule_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,867},{521,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,867},{521,19}}</string>
				<key>sourceSize</key>
				<string>{521,19}</string>
			</dict>
			<key>teamdeposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,784},{110,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,784},{110,14}}</string>
				<key>sourceSize</key>
				<string>{110,14}</string>
			</dict>
			<key>teamname.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,606},{117,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,606},{117,16}}</string>
				<key>sourceSize</key>
				<string>{117,16}</string>
			</dict>
			<key>teamsize.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,693},{97,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{815,693},{97,17}}</string>
				<key>sourceSize</key>
				<string>{97,17}</string>
			</dict>
			<key>tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,118},{502,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{477,118},{502,18}}</string>
				<key>sourceSize</key>
				<string>{502,18}</string>
			</dict>
			<key>tipCan.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,3},{625,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{529,3},{625,18}}</string>
				<key>sourceSize</key>
				<string>{625,18}</string>
			</dict>
			<key>today0.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,546},{77,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{553,546},{77,20}}</string>
				<key>sourceSize</key>
				<string>{77,20}</string>
			</dict>
			<key>today01.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,536},{81,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{619,536},{81,24}}</string>
				<key>sourceSize</key>
				<string>{81,24}</string>
			</dict>
			<key>today1.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,693},{87,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{778,693},{87,19}}</string>
				<key>sourceSize</key>
				<string>{87,19}</string>
			</dict>
			<key>totalearning.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,542},{138,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{879,542},{138,22}}</string>
				<key>sourceSize</key>
				<string>{138,22}</string>
			</dict>
			<key>totalperfor.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,693},{162,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{690,693},{162,18}}</string>
				<key>sourceSize</key>
				<string>{162,18}</string>
			</dict>
			<key>txt_tc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,644},{371,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,644},{371,27}}</string>
				<key>sourceSize</key>
				<string>{371,27}</string>
			</dict>
			<key>txt_tc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,600},{186,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,600},{186,24}}</string>
				<key>sourceSize</key>
				<string>{186,24}</string>
			</dict>
			<key>txt_tc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,574},{210,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{661,574},{210,20}}</string>
				<key>sourceSize</key>
				<string>{210,20}</string>
			</dict>
			<key>txt_tc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,118},{287,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{327,118},{287,19}}</string>
				<key>sourceSize</key>
				<string>{287,19}</string>
			</dict>
			<key>txt_tc_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,852},{155,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,852},{155,19}}</string>
				<key>sourceSize</key>
				<string>{155,19}</string>
			</dict>
			<key>txt_tc_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,693},{168,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{665,693},{168,19}}</string>
				<key>sourceSize</key>
				<string>{168,19}</string>
			</dict>
			<key>yesteday.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,375},{140,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,375},{140,25}}</string>
				<key>sourceSize</key>
				<string>{140,25}</string>
			</dict>
			<key>yesteday0.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,668},{136,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{869,668},{136,21}}</string>
				<key>sourceSize</key>
				<string>{136,21}</string>
			</dict>
			<key>yestotalearning.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,118},{240,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{501,118},{240,22}}</string>
				<key>sourceSize</key>
				<string>{240,22}</string>
			</dict>
			<key>yestotalperfor.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,118},{253,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{352,118},{253,22}}</string>
				<key>sourceSize</key>
				<string>{253,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>115e0d620.png</string>
			<key>size</key>
			<string>{1023,1018}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>115e0d620.png</string>
		</dict>
	</dict>
</plist>
