<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>16_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{548,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>26_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{320,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>31_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>32_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>36_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{776,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>6_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,3},{70,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{396,3},{70,27}}</string>
				<key>sourceSize</key>
				<string>{70,27}</string>
			</dict>
			<key>andar.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,3},{116,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,3},{116,25}}</string>
				<key>sourceSize</key>
				<string>{116,25}</string>
			</dict>
			<key>badar.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{113,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{113,25}}</string>
				<key>sourceSize</key>
				<string>{113,25}</string>
			</dict>
			<key>joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,34},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,34},{126,30}}</string>
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>other_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,38},{115,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,38},{115,93}}</string>
				<key>sourceSize</key>
				<string>{115,93}</string>
			</dict>
			<key>result_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,34},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,34},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>result_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,34},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{172,34},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>result_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,36},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{209,36},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>result_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,36},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,36},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,3},{162,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{852,3},{162,29}}</string>
				<key>sourceSize</key>
				<string>{162,29}</string>
			</dict>
			<key>win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,38},{576,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,38},{576,77}}</string>
				<key>sourceSize</key>
				<string>{576,77}</string>
			</dict>
			<key>xuanzhong_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,121},{432,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,121},{432,104}}</string>
				<key>sourceSize</key>
				<string>{432,104}</string>
			</dict>
			<key>xuanzhong_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,79},{264,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,79},{264,108}}</string>
				<key>sourceSize</key>
				<string>{264,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1fe6cac30.png</string>
			<key>size</key>
			<string>{1017,228}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1fe6cac30.png</string>
		</dict>
	</dict>
</plist>
