<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,622},{80,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,622},{80,37}}</string>
				<key>sourceSize</key>
				<string>{80,37}</string>
			</dict>
			<key>mail_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,334},{174,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,334},{174,65}}</string>
				<key>sourceSize</key>
				<string>{174,65}</string>
			</dict>
			<key>mail_lb_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,622},{50,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{46,622},{50,23}}</string>
				<key>sourceSize</key>
				<string>{50,23}</string>
			</dict>
			<key>mail_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,514},{102,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,514},{102,67}}</string>
				<key>sourceSize</key>
				<string>{102,67}</string>
			</dict>
			<key>notMsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{325,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{325,53}}</string>
				<key>sourceSize</key>
				<string>{325,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1d2c70f00.png</string>
			<key>size</key>
			<string>{73,705}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1d2c70f00.png</string>
		</dict>
	</dict>
</plist>
