<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bind_phone_lb_OPT.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,140},{53,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{30,140},{53,20}}</string>
				<key>sourceSize</key>
				<string>{53,20}</string>
			</dict>
			<key>bind_phone_lb_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,700},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,700},{57,29}}</string>
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
			<key>bind_phone_lb_submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,3},{131,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{30,3},{131,27}}</string>
				<key>sourceSize</key>
				<string>{131,27}</string>
			</dict>
			<key>bind_phone_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{382,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{382,21}}</string>
				<key>sourceSize</key>
				<string>{382,21}</string>
			</dict>
			<key>bind_phone_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,391},{303,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,391},{303,52}}</string>
				<key>sourceSize</key>
				<string>{303,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1d301e166.png</string>
			<key>size</key>
			<string>{63,732}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1d301e166.png</string>
		</dict>
	</dict>
</plist>
