<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,400},{114,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,400},{114,51}}</string>
				<key>sourceSize</key>
				<string>{114,51}</string>
			</dict>
			<key>Deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,240},{83,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,240},{83,33}}</string>
				<key>sourceSize</key>
				<string>{83,33}</string>
			</dict>
			<key>Deposit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,329},{62,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,329},{62,24}}</string>
				<key>sourceSize</key>
				<string>{62,24}</string>
			</dict>
			<key>Withdraw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,457},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,457},{92,36}}</string>
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{391,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{391,65}}</string>
				<key>sourceSize</key>
				<string>{391,65}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,457},{88,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,457},{88,44}}</string>
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>
			<key>trial.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,457},{97,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{95,457},{97,29}}</string>
				<key>sourceSize</key>
				<string>{97,29}</string>
			</dict>
			<key>withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,101},{133,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,101},{133,22}}</string>
				<key>sourceSize</key>
				<string>{133,22}</string>
			</dict>
			<key>withdraw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,3},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,3},{92,36}}</string>
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1d7dc529d.png</string>
			<key>size</key>
			<string>{127,557}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1d7dc529d.png</string>
		</dict>
	</dict>
</plist>
