<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>txt_betting.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,372},{84,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,372},{84,25}}</string>
				<key>sourceSize</key>
				<string>{84,25}</string>
			</dict>
			<key>txt_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,440},{126,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,440},{126,43}}</string>
				<key>sourceSize</key>
				<string>{126,43}</string>
			</dict>
			<key>txt_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,238},{112,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{162,238},{112,26}}</string>
				<key>sourceSize</key>
				<string>{112,26}</string>
			</dict>
			<key>txt_claim.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,735},{90,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{176,735},{90,26}}</string>
				<key>sourceSize</key>
				<string>{90,26}</string>
			</dict>
			<key>txt_claim2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,429},{104,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{146,429},{104,30}}</string>
				<key>sourceSize</key>
				<string>{104,30}</string>
			</dict>
			<key>txt_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,871},{127,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{173,871},{127,29}}</string>
				<key>sourceSize</key>
				<string>{127,29}</string>
			</dict>
			<key>txt_congratuations.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,3},{587,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,3},{587,56}}</string>
				<key>sourceSize</key>
				<string>{587,56}</string>
			</dict>
			<key>txt_live.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,572},{51,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,572},{51,17}}</string>
				<key>sourceSize</key>
				<string>{51,17}</string>
			</dict>
			<key>txt_live2.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,595},{51,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,595},{51,17}}</string>
				<key>sourceSize</key>
				<string>{51,17}</string>
			</dict>
			<key>txt_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,539},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,539},{48,25}}</string>
				<key>sourceSize</key>
				<string>{48,25}</string>
			</dict>
			<key>txt_ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,618},{111,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{176,618},{111,18}}</string>
				<key>sourceSize</key>
				<string>{111,18}</string>
			</dict>
			<key>txt_ranking2.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,596},{111,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,596},{111,18}}</string>
				<key>sourceSize</key>
				<string>{111,18}</string>
			</dict>
			<key>txt_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,966},{164,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,966},{164,40}}</string>
				<key>sourceSize</key>
				<string>{164,40}</string>
			</dict>
			<key>txt_rule_claim.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,403},{65,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,403},{65,20}}</string>
				<key>sourceSize</key>
				<string>{65,20}</string>
			</dict>
			<key>txt_rule_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,238},{196,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,238},{196,15}}</string>
				<key>sourceSize</key>
				<string>{196,15}</string>
			</dict>
			<key>txt_step_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,3},{229,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,3},{229,108}}</string>
				<key>sourceSize</key>
				<string>{229,108}</string>
			</dict>
			<key>txt_step_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,620},{245,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,620},{245,53}}</string>
				<key>sourceSize</key>
				<string>{245,53}</string>
			</dict>
			<key>txt_step_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,621},{262,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,621},{262,108}}</string>
				<key>sourceSize</key>
				<string>{262,108}</string>
			</dict>
			<key>txt_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{612,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{612,26}}</string>
				<key>sourceSize</key>
				<string>{612,26}</string>
			</dict>
			<key>txt_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,238},{128,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{118,238},{128,38}}</string>
				<key>sourceSize</key>
				<string>{128,38}</string>
			</dict>
			<key>txt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,889},{145,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,889},{145,71}}</string>
				<key>sourceSize</key>
				<string>{145,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c942e927.png</string>
			<key>size</key>
			<string>{208,1009}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c942e927.png</string>
		</dict>
	</dict>
</plist>
