<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,510},{36,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,510},{36,25}}</string>
				<key>sourceSize</key>
				<string>{36,25}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,530},{113,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,530},{113,38}}</string>
				<key>sourceSize</key>
				<string>{113,38}</string>
			</dict>
			<key>convertnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,510},{44,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,510},{44,28}}</string>
				<key>sourceSize</key>
				<string>{44,28}</string>
			</dict>
			<key>ifthere.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,3},{502,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{175,3},{502,27}}</string>
				<key>sourceSize</key>
				<string>{502,27}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{501,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{501,103}}</string>
				<key>sourceSize</key>
				<string>{501,103}</string>
			</dict>
			<key>yourcurrent.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,3},{521,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{112,3},{521,57}}</string>
				<key>sourceSize</key>
				<string>{521,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19cb294c6.png</string>
			<key>size</key>
			<string>{205,571}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19cb294c6.png</string>
		</dict>
	</dict>
</plist>
