<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Rp.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,3},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{992,3},{20,27}}</string>
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,189},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{806,189},{137,141}}</string>
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>bonus_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,738},{95,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{947,738},{95,70}}</string>
				<key>sourceSize</key>
				<string>{95,70}</string>
			</dict>
			<key>bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,958},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,958},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>bonus_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,517},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,517},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>bonus_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,555},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,555},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>btn_shop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,951},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{289,951},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>charge_giftpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,66},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{992,66},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>chip_selct.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,819},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,819},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,761},{251,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{429,761},{251,253}}</string>
				<key>sourceSize</key>
				<string>{251,253}</string>
			</dict>
			<key>coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,761},{251,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{688,761},{251,253}}</string>
				<key>sourceSize</key>
				<string>{251,253}</string>
			</dict>
			<key>coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,697},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{968,697},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,951},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,951},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>coin_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,819},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,819},{137,141}}</string>
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>coin_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,332},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,332},{137,141}}</string>
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>coin_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,962},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,962},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>firstCharge_bagIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,922},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{947,922},{72,73}}</string>
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>first_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,958},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,958},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,479},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{856,479},{125,126}}</string>
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,612},{150,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,612},{150,82}}</string>
				<key>sourceSize</key>
				<string>{150,82}</string>
			</dict>
			<key>gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,819},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{289,819},{125,126}}</string>
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,289},{40,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,289},{40,31}}</string>
				<key>sourceSize</key>
				<string>{40,31}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,700},{146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,700},{146,45}}</string>
				<key>sourceSize</key>
				<string>{146,45}</string>
			</dict>
			<key>gold_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,479},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{988,479},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>img_charge_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,962},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,962},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>img_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,610},{96,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,610},{96,81}}</string>
				<key>sourceSize</key>
				<string>{96,81}</string>
			</dict>
			<key>img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,365},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{399,365},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,700},{32,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{908,700},{32,54}}</string>
				<key>sourceSize</key>
				<string>{32,54}</string>
			</dict>
			<key>img_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,332},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{806,332},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>img_icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,962},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,962},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>img_icon_tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,738},{8,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{908,738},{8,13}}</string>
				<key>sourceSize</key>
				<string>{8,13}</string>
			</dict>
			<key>img_icon_withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,839},{69,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{947,839},{69,77}}</string>
				<key>sourceSize</key>
				<string>{69,77}</string>
			</dict>
			<key>img_recommondLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,399},{18,435}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,399},{18,435}}</string>
				<key>sourceSize</key>
				<string>{21,445}</string>
			</dict>
			<key>item_cm.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,95},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{992,95},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>loadingIcon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,3},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{806,3},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>loadingIcon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,423},{390,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{243,423},{390,180}}</string>
				<key>sourceSize</key>
				<string>{390,180}</string>
			</dict>
			<key>loadingIcon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,423},{234,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,423},{234,390}}</string>
				<key>sourceSize</key>
				<string>{234,390}</string>
			</dict>
			<key>loadingIcon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{390,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{390,390}}</string>
				<key>sourceSize</key>
				<string>{390,390}</string>
			</dict>
			<key>loadingIconRecommond.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,365},{306,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,365},{306,390}}</string>
				<key>sourceSize</key>
				<string>{306,390}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,365},{241,94}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{756,365},{241,94}}</string>
				<key>sourceSize</key>
				<string>{245,99}</string>
			</dict>
			<key>more_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,3},{356,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{399,3},{356,401}}</string>
				<key>sourceSize</key>
				<string>{356,401}</string>
			</dict>
			<key>second_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,189},{66,94}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,189},{66,94}}</string>
				<key>sourceSize</key>
				<string>{67,120}</string>
			</dict>
			<key>zy_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,36},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{992,36},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19f40b315.png</string>
			<key>size</key>
			<string>{1023,1021}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19f40b315.png</string>
		</dict>
	</dict>
</plist>
