<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,590},{761,310}}</string>
				<key>offset</key>
				<string>{-18,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,590},{761,310}}</string>
				<key>sourceSize</key>
				<string>{840,360}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{910,581}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{910,581}}</string>
				<key>sourceSize</key>
				<string>{910,581}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,861},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{770,861},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>img_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,590},{8,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{876,590},{8,330}}</string>
				<key>sourceSize</key>
				<string>{8,330}</string>
			</dict>
			<key>img_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,849},{6,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{770,849},{6,100}}</string>
				<key>sourceSize</key>
				<string>{6,100}</string>
			</dict>
			<key>titel.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,590},{253,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{770,590},{253,38}}</string>
				<key>sourceSize</key>
				<string>{253,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1132c7c6e.png</string>
			<key>size</key>
			<string>{916,923}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1132c7c6e.png</string>
		</dict>
	</dict>
</plist>
