<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{744,528}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{744,528}}</string>
				<key>sourceSize</key>
				<string>{746,532}</string>
			</dict>
			<key>bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,537},{692,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,537},{692,361}}</string>
				<key>sourceSize</key>
				<string>{692,361}</string>
			</dict>
			<key>bg_tl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,537},{294,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{701,537},{294,58}}</string>
				<key>sourceSize</key>
				<string>{294,58}</string>
			</dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,3},{44,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{753,3},{44,71}}</string>
				<key>sourceSize</key>
				<string>{44,71}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,728},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{765,728},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>btnbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,904},{316,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,904},{316,74}}</string>
				<key>sourceSize</key>
				<string>{316,74}</string>
			</dict>
			<key>btnclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,178},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{753,178},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,402},{127,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{753,402},{127,126}}</string>
				<key>sourceSize</key>
				<string>{127,126}</string>
			</dict>
			<key>coinimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,245},{151,113}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{753,245},{151,113}}</string>
				<key>sourceSize</key>
				<string>{154,115}</string>
			</dict>
			<key>img_gold_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,132},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{753,132},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,3},{236,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{820,3},{236,46}}</string>
				<key>sourceSize</key>
				<string>{236,46}</string>
			</dict>
			<key>img_money_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,80},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{753,80},{46,47}}</string>
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>img_title1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,3},{557,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{888,3},{557,47}}</string>
				<key>sourceSize</key>
				<string>{557,47}</string>
			</dict>
			<key>jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,534},{188,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{765,534},{188,69}}</string>
				<key>sourceSize</key>
				<string>{188,69}</string>
			</dict>
			<key>lineh.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,309},{581,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{949,309},{581,8}}</string>
				<key>sourceSize</key>
				<string>{581,8}</string>
			</dict>
			<key>linev.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,957},{2,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,957},{2,57}}</string>
				<key>sourceSize</key>
				<string>{2,57}</string>
			</dict>
			<key>max.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,957},{47,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,957},{47,18}}</string>
				<key>sourceSize</key>
				<string>{47,18}</string>
			</dict>
			<key>max_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,837},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{701,837},{113,52}}</string>
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>maxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,148},{75,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{941,148},{75,34}}</string>
				<key>sourceSize</key>
				<string>{75,34}</string>
			</dict>
			<key>maxbig.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,229},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{941,229},{74,28}}</string>
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>namebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,3},{139,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{941,3},{139,36}}</string>
				<key>sourceSize</key>
				<string>{139,36}</string>
			</dict>
			<key>namebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,566},{397,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{888,566},{397,55}}</string>
				<key>sourceSize</key>
				<string>{397,55}</string>
			</dict>
			<key>tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,904},{557,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,904},{557,47}}</string>
				<key>sourceSize</key>
				<string>{557,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b3fc863c.png</string>
			<key>size</key>
			<string>{980,981}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b3fc863c.png</string>
		</dict>
	</dict>
</plist>
