<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_cg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1844},{294,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{330,1844},{294,75}}</string>
				<key>sourceSize</key>
				<string>{294,75}</string>
			</dict>
			<key>btn_cg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,3},{248,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,3},{248,64}}</string>
				<key>sourceSize</key>
				<string>{248,64}</string>
			</dict>
			<key>btn_cg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,392},{222,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{575,392},{222,64}}</string>
				<key>sourceSize</key>
				<string>{222,64}</string>
			</dict>
			<key>btn_cg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1736},{188,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,1736},{188,55}}</string>
				<key>sourceSize</key>
				<string>{188,55}</string>
			</dict>
			<key>btn_co_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,404},{248,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{505,404},{248,64}}</string>
				<key>sourceSize</key>
				<string>{248,64}</string>
			</dict>
			<key>btn_copa_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,620},{207,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{575,620},{207,54}}</string>
				<key>sourceSize</key>
				<string>{207,54}</string>
			</dict>
			<key>btn_cw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1135},{176,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{593,1135},{176,45}}</string>
				<key>sourceSize</key>
				<string>{176,45}</string>
			</dict>
			<key>btn_cw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,658},{248,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{505,658},{248,64}}</string>
				<key>sourceSize</key>
				<string>{248,64}</string>
			</dict>
			<key>btn_kyc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,833},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{575,833},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_kyc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,912},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,912},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_kyc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1602},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,1602},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_kyc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1543},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{593,1543},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_kyc_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,912},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{564,912},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_kyc_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1484},{53,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{593,1484},{53,34}}</string>
				<key>sourceSize</key>
				<string>{53,34}</string>
			</dict>
			<key>btn_order.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,257},{129,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,257},{129,55}}</string>
				<key>sourceSize</key>
				<string>{129,55}</string>
			</dict>
			<key>img_account_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,970},{667,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,970},{667,141}}</string>
				<key>sourceSize</key>
				<string>{667,141}</string>
			</dict>
			<key>img_account_phonecode_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,952},{177,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{593,952},{177,47}}</string>
				<key>sourceSize</key>
				<string>{177,47}</string>
			</dict>
			<key>img_account_phonecode_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1317},{161,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{593,1317},{161,35}}</string>
				<key>sourceSize</key>
				<string>{161,35}</string>
			</dict>
			<key>img_account_phonecode_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1643},{72,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{539,1643},{72,47}}</string>
				<key>sourceSize</key>
				<string>{72,47}</string>
			</dict>
			<key>img_account_phonecode_fg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1949},{57,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{515,1949},{57,35}}</string>
				<key>sourceSize</key>
				<string>{57,35}</string>
			</dict>
			<key>img_account_phonecode_otp.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,2030},{35,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,2030},{35,15}}</string>
				<key>sourceSize</key>
				<string>{35,15}</string>
			</dict>
			<key>img_channel_state_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,3},{395,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{505,3},{395,58}}</string>
				<key>sourceSize</key>
				<string>{395,58}</string>
			</dict>
			<key>img_channel_state_tips_bg_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1949},{413,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1949},{413,75}}</string>
				<key>sourceSize</key>
				<string>{413,75}</string>
			</dict>
			<key>img_edit_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,2030},{259,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2030},{259,2}}</string>
				<key>sourceSize</key>
				<string>{259,2}</string>
			</dict>
			<key>img_edit_withdraw_username.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,918},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{623,918},{21,23}}</string>
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>img_ele_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,2030},{18,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,2030},{18,15}}</string>
				<key>sourceSize</key>
				<string>{18,15}</string>
			</dict>
			<key>img_fap_questing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,970},{868,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{330,970},{868,110}}</string>
				<key>sourceSize</key>
				<string>{868,110}</string>
			</dict>
			<key>img_faq_answer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,970},{956,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,970},{956,321}}</string>
				<key>sourceSize</key>
				<string>{956,321}</string>
			</dict>
			<key>img_icon_faq.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,889},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{623,889},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>img_icon_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,2012},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,2012},{31,30}}</string>
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>img_icon_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1696},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,1696},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>img_icon_state_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1925},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{556,1925},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_state_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1643},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,1643},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_state_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1949},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,1949},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_tablecoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1797},{23,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{626,1797},{23,16}}</string>
				<key>sourceSize</key>
				<string>{23,16}</string>
			</dict>
			<key>img_icon_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,2018},{49,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{552,2018},{49,25}}</string>
				<key>sourceSize</key>
				<string>{49,25}</string>
			</dict>
			<key>img_icon_withdraw_username.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,2018},{31,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{607,2018},{31,23}}</string>
				<key>sourceSize</key>
				<string>{31,23}</string>
			</dict>
			<key>img_icon_withdrawcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1642},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{617,1642},{22,19}}</string>
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>img_kyc_info_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1797},{174,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,1797},{174,25}}</string>
				<key>sourceSize</key>
				<string>{174,25}</string>
			</dict>
			<key>img_question_select_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1696},{56,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{539,1696},{56,30}}</string>
				<key>sourceSize</key>
				<string>{56,30}</string>
			</dict>
			<key>img_question_select_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,833},{50,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{615,833},{50,30}}</string>
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>img_rule_content_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{961,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{961,496}}</string>
				<key>sourceSize</key>
				<string>{961,496}</string>
			</dict>
			<key>img_rule_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1670},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,1670},{21,20}}</string>
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>img_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1932},{547,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1932},{547,11}}</string>
				<key>sourceSize</key>
				<string>{547,11}</string>
			</dict>
			<key>img_vline.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,2018},{2,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{644,2018},{2,23}}</string>
				<key>sourceSize</key>
				<string>{2,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17b7b32af.png</string>
			<key>size</key>
			<string>{649,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17b7b32af.png</string>
		</dict>
	</dict>
</plist>
