<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_cancle.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,494},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,494},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>btn_co_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,395},{111,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,395},{111,27}}</string>
				<key>sourceSize</key>
				<string>{111,27}</string>
			</dict>
			<key>btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,362},{121,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,362},{121,27}}</string>
				<key>sourceSize</key>
				<string>{121,27}</string>
			</dict>
			<key>btn_see_log.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,462},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{658,462},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>img_dot_last.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,485},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{726,485},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>img_dot_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,551},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,551},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>img_icon_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,496},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,496},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img_icon_order_detail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,462},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,462},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,428},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,428},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,428},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{658,428},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,460},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{692,460},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,428},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,428},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,424},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{746,424},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,462},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,462},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_order_detail_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,458},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{746,458},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_icon_time_last.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,496},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,496},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>img_icon_time_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,524},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,524},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,3},{1,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,3},{1,353}}</string>
				<key>sourceSize</key>
				<string>{1,353}</string>
			</dict>
			<key>img_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,603},{952,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,603},{952,441}}</string>
				<key>sourceSize</key>
				<string>{952,441}</string>
			</dict>
			<key>img_list_change_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,460},{11,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{726,460},{11,19}}</string>
				<key>sourceSize</key>
				<string>{11,19}</string>
			</dict>
			<key>img_list_line_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,444},{10,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{692,444},{10,1}}</string>
				<key>sourceSize</key>
				<string>{10,1}</string>
			</dict>
			<key>img_list_line_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,428},{1,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{692,428},{1,10}}</string>
				<key>sourceSize</key>
				<string>{1,10}</string>
			</dict>
			<key>img_order_detail_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{594,499}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{594,499}}</string>
				<key>sourceSize</key>
				<string>{594,499}</string>
			</dict>
			<key>img_order_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,3},{588,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{508,3},{588,76}}</string>
				<key>sourceSize</key>
				<string>{588,76}</string>
			</dict>
			<key>img_page_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,395},{65,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{707,395},{65,23}}</string>
				<key>sourceSize</key>
				<string>{65,23}</string>
			</dict>
			<key>img_refresh_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,528},{16,17}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,528},{16,17}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>img_titleicon_order_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,424},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{707,424},{30,33}}</string>
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17e983bb2.png</string>
			<key>size</key>
			<string>{958,1047}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17e983bb2.png</string>
		</dict>
	</dict>
</plist>
