<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CloseAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,3},{191,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{402,3},{191,46}}</string>
				<key>sourceSize</key>
				<string>{191,46}</string>
			</dict>
			<key>Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,3},{148,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{599,3},{148,46}}</string>
				<key>sourceSize</key>
				<string>{148,46}</string>
			</dict>
			<key>OFF.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,55},{132,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,55},{132,56}}</string>
				<key>sourceSize</key>
				<string>{133,56}</string>
			</dict>
			<key>ON.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,47},{133,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{256,47},{133,56}}</string>
				<key>sourceSize</key>
				<string>{133,56}</string>
			</dict>
			<key>SoundEffect.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,47},{247,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,47},{247,48}}</string>
				<key>sourceSize</key>
				<string>{247,48}</string>
			</dict>
			<key>Vibration.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,3},{185,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,3},{185,38}}</string>
				<key>sourceSize</key>
				<string>{185,38}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,117},{519,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,117},{519,750}}</string>
				<key>sourceSize</key>
				<string>{519,750}</string>
			</dict>
			<key>settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{202,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{202,34}}</string>
				<key>sourceSize</key>
				<string>{202,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18b137f0c.png</string>
			<key>size</key>
			<string>{756,639}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18b137f0c.png</string>
		</dict>
	</dict>
</plist>
