<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,135},{392,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,135},{392,113}}</string>
				<key>sourceSize</key>
				<string>{392,113}</string>
			</dict>
			<key>img.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{610,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{610,126}}</string>
				<key>sourceSize</key>
				<string>{610,126}</string>
			</dict>
			<key>jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,3},{350,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{619,3},{350,211}}</string>
				<key>sourceSize</key>
				<string>{350,211}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>178336867.png</string>
			<key>size</key>
			<string>{972,251}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>178336867.png</string>
		</dict>
	</dict>
</plist>
