<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,3},{879,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,3},{879,25}}</string>
				<key>sourceSize</key>
				<string>{879,25}</string>
			</dict>
			<key>label_info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,3},{591,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{128,3},{591,32}}</string>
				<key>sourceSize</key>
				<string>{591,32}</string>
			</dict>
			<key>label_reward_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,296},{453,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,296},{453,48}}</string>
				<key>sourceSize</key>
				<string>{453,48}</string>
			</dict>
			<key>label_reward_send_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,755},{263,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,755},{263,36}}</string>
				<key>sourceSize</key>
				<string>{263,36}</string>
			</dict>
			<key>label_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{287,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{287,88}}</string>
				<key>sourceSize</key>
				<string>{287,88}</string>
			</dict>
			<key>txt_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,755},{195,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{45,755},{195,40}}</string>
				<key>sourceSize</key>
				<string>{195,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>196fe56c5.png</string>
			<key>size</key>
			<string>{163,1021}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>196fe56c5.png</string>
		</dict>
	</dict>
</plist>
