<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>compare_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,112},{81,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,112},{81,18}}</string>
				<key>sourceSize</key>
				<string>{81,18}</string>
			</dict>
			<key>label_room_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,943},{326,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,943},{326,25}}</string>
				<key>sourceSize</key>
				<string>{326,25}</string>
			</dict>
			<key>label_user_all_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,291},{43,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,291},{43,28}}</string>
				<key>sourceSize</key>
				<string>{43,28}</string>
			</dict>
			<key>label_user_all_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,602},{47,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{460,602},{47,27}}</string>
				<key>sourceSize</key>
				<string>{47,27}</string>
			</dict>
			<key>label_user_win_rage_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,888},{103,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,888},{103,37}}</string>
				<key>sourceSize</key>
				<string>{103,37}</string>
			</dict>
			<key>label_user_win_rage_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,3},{103,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,3},{103,37}}</string>
				<key>sourceSize</key>
				<string>{103,37}</string>
			</dict>
			<key>label_user_win_rage_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,211},{103,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,211},{103,37}}</string>
				<key>sourceSize</key>
				<string>{103,37}</string>
			</dict>
			<key>roomInfo_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,943},{99,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,943},{99,25}}</string>
				<key>sourceSize</key>
				<string>{99,25}</string>
			</dict>
			<key>sprite_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,420},{49,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{490,420},{49,18}}</string>
				<key>sourceSize</key>
				<string>{49,18}</string>
			</dict>
			<key>sprite_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,523},{54,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,523},{54,18}}</string>
				<key>sourceSize</key>
				<string>{54,18}</string>
			</dict>
			<key>sprite_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,136},{51,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{404,136},{51,37}}</string>
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>
			<key>sprite_drop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,781},{101,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{403,781},{101,59}}</string>
				<key>sourceSize</key>
				<string>{101,59}</string>
			</dict>
			<key>sprite_lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,487},{49,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,487},{49,30}}</string>
				<key>sourceSize</key>
				<string>{49,30}</string>
			</dict>
			<key>sprite_multi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,3},{127,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{353,3},{127,39}}</string>
				<key>sourceSize</key>
				<string>{127,39}</string>
			</dict>
			<key>sprite_multi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,325},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{478,325},{52,24}}</string>
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>sprite_type_-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,390},{60,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{442,390},{60,24}}</string>
				<key>sourceSize</key>
				<string>{60,24}</string>
			</dict>
			<key>sprite_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,421},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{416,421},{60,32}}</string>
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>sprite_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,136},{69,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{353,136},{69,45}}</string>
				<key>sourceSize</key>
				<string>{69,45}</string>
			</dict>
			<key>sprite_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,239},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{468,239},{41,37}}</string>
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>sprite_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,931},{68,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{440,931},{68,38}}</string>
				<key>sourceSize</key>
				<string>{68,38}</string>
			</dict>
			<key>sprite_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,685},{111,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,685},{111,37}}</string>
				<key>sourceSize</key>
				<string>{111,37}</string>
			</dict>
			<key>sprite_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,549},{49,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,549},{49,40}}</string>
				<key>sourceSize</key>
				<string>{49,40}</string>
			</dict>
			<key>tips_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,3},{317,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{260,3},{317,87}}</string>
				<key>sourceSize</key>
				<string>{317,87}</string>
			</dict>
			<key>tips_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,852},{394,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,852},{394,85}}</string>
				<key>sourceSize</key>
				<string>{394,85}</string>
			</dict>
			<key>txt_3PATTI.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,767},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{468,767},{114,31}}</string>
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>txt_Blind.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,642},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,642},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>
			<key>txt_Chaal.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,547},{49,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{471,547},{49,20}}</string>
				<key>sourceSize</key>
				<string>{49,20}</string>
			</dict>
			<key>txt_Show.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,728},{81,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,728},{81,33}}</string>
				<key>sourceSize</key>
				<string>{81,33}</string>
			</dict>
			<key>txt_SideShow.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,136},{97,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,136},{97,33}}</string>
				<key>sourceSize</key>
				<string>{97,33}</string>
			</dict>
			<key>txt_WinMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,291},{107,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,291},{107,29}}</string>
				<key>sourceSize</key>
				<string>{107,29}</string>
			</dict>
			<key>txt_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,3},{92,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{478,3},{92,29}}</string>
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>txt_ak47.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,3},{92,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,3},{92,31}}</string>
				<key>sourceSize</key>
				<string>{92,31}</string>
			</dict>
			<key>txt_blind2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,738},{157,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,738},{157,37}}</string>
				<key>sourceSize</key>
				<string>{157,37}</string>
			</dict>
			<key>txt_chaal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,326},{89,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{416,326},{89,20}}</string>
				<key>sourceSize</key>
				<string>{89,20}</string>
			</dict>
			<key>txt_compare_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,326},{310,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{338,326},{310,72}}</string>
				<key>sourceSize</key>
				<string>{310,72}</string>
			</dict>
			<key>txt_compare_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,326},{310,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{260,326},{310,72}}</string>
				<key>sourceSize</key>
				<string>{310,72}</string>
			</dict>
			<key>txt_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,254},{109,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,254},{109,31}}</string>
				<key>sourceSize</key>
				<string>{109,31}</string>
			</dict>
			<key>txt_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,829},{49,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,829},{49,17}}</string>
				<key>sourceSize</key>
				<string>{49,17}</string>
			</dict>
			<key>txt_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,420},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{454,420},{40,30}}</string>
				<key>sourceSize</key>
				<string>{40,30}</string>
			</dict>
			<key>txt_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,326},{58,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{442,326},{58,30}}</string>
				<key>sourceSize</key>
				<string>{58,30}</string>
			</dict>
			<key>txt_pot_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{843,251}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{843,251}}</string>
				<key>sourceSize</key>
				<string>{844,251}</string>
			</dict>
			<key>txt_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,487},{56,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{416,487},{56,22}}</string>
				<key>sourceSize</key>
				<string>{56,22}</string>
			</dict>
			<key>txt_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,781},{134,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,781},{134,42}}</string>
				<key>sourceSize</key>
				<string>{134,42}</string>
			</dict>
			<key>txt_see.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,595},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,595},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>txt_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,642},{119,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,642},{119,90}}</string>
				<key>sourceSize</key>
				<string>{119,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15fd2984d.png</string>
			<key>size</key>
			<string>{512,972}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15fd2984d.png</string>
		</dict>
	</dict>
</plist>
