<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,625},{40,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{875,625},{40,33}}</string>
				<key>sourceSize</key>
				<string>{40,33}</string>
			</dict>
			<key>backbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,374},{453,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,374},{453,95}}</string>
				<key>sourceSize</key>
				<string>{453,95}</string>
			</dict>
			<key>backtag.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,459},{55,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{970,459},{55,37}}</string>
				<key>sourceSize</key>
				<string>{55,37}</string>
			</dict>
			<key>bigjiangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,791},{162,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,791},{162,143}}</string>
				<key>sourceSize</key>
				<string>{162,143}</string>
			</dict>
			<key>btn_edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,812},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{875,812},{27,26}}</string>
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>btn_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,399},{277,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,399},{277,74}}</string>
				<key>sourceSize</key>
				<string>{277,74}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,118},{88,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,118},{88,40}}</string>
				<key>sourceSize</key>
				<string>{88,40}</string>
			</dict>
			<key>btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,925},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,925},{58,67}}</string>
				<key>sourceSize</key>
				<string>{58,67}</string>
			</dict>
			<key>btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,871},{277,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,871},{277,74}}</string>
				<key>sourceSize</key>
				<string>{277,74}</string>
			</dict>
			<key>btnclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,959},{63,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,959},{63,57}}</string>
				<key>sourceSize</key>
				<string>{63,57}</string>
			</dict>
			<key>btnshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,625},{252,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{800,625},{252,69}}</string>
				<key>sourceSize</key>
				<string>{252,69}</string>
			</dict>
			<key>changepage.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,951},{145,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,951},{145,70}}</string>
				<key>sourceSize</key>
				<string>{145,70}</string>
			</dict>
			<key>changepage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,302},{145,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,302},{145,70}}</string>
				<key>sourceSize</key>
				<string>{145,70}</string>
			</dict>
			<key>changeteamd.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,592},{256,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,592},{256,27}}</string>
				<key>sourceSize</key>
				<string>{256,27}</string>
			</dict>
			<key>creact2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,632},{341,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,632},{341,112}}</string>
				<key>sourceSize</key>
				<string>{341,112}</string>
			</dict>
			<key>crect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,60},{86,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{909,60},{86,80}}</string>
				<key>sourceSize</key>
				<string>{86,80}</string>
			</dict>
			<key>fyd.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,791},{74,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{152,791},{74,31}}</string>
				<key>sourceSize</key>
				<string>{74,31}</string>
			</dict>
			<key>gamebenefit.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,997},{27,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{847,997},{27,20}}</string>
				<key>sourceSize</key>
				<string>{27,20}</string>
			</dict>
			<key>gamebenefit2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,709},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,709},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>goldbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,3},{181,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,3},{181,44}}</string>
				<key>sourceSize</key>
				<string>{181,44}</string>
			</dict>
			<key>goldbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,592},{289,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{966,592},{289,54}}</string>
				<key>sourceSize</key>
				<string>{289,54}</string>
			</dict>
			<key>guidebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,475},{349,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{192,475},{349,135}}</string>
				<key>sourceSize</key>
				<string>{349,135}</string>
			</dict>
			<key>guidebg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,475},{349,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,475},{349,107}}</string>
				<key>sourceSize</key>
				<string>{349,107}</string>
			</dict>
			<key>guidebg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,782},{348,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,782},{348,137}}</string>
				<key>sourceSize</key>
				<string>{348,137}</string>
			</dict>
			<key>helpbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,925},{276,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,925},{276,64}}</string>
				<key>sourceSize</key>
				<string>{276,64}</string>
			</dict>
			<key>infinite.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,830},{35,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,830},{35,29}}</string>
				<key>sourceSize</key>
				<string>{35,29}</string>
			</dict>
			<key>infobs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{213,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{213,365}}</string>
				<key>sourceSize</key>
				<string>{213,365}</string>
			</dict>
			<key>infobs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,475},{183,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,475},{183,310}}</string>
				<key>sourceSize</key>
				<string>{183,310}</string>
			</dict>
			<key>infobs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,305},{184,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{462,305},{184,321}}</string>
				<key>sourceSize</key>
				<string>{184,321}</string>
			</dict>
			<key>input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,378},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,378},{70,75}}</string>
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>jiangpai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,830},{33,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{349,830},{33,46}}</string>
				<key>sourceSize</key>
				<string>{33,46}</string>
			</dict>
			<key>jiangpai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,830},{33,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{243,830},{33,47}}</string>
				<key>sourceSize</key>
				<string>{33,47}</string>
			</dict>
			<key>jiangpai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,830},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{296,830},{32,47}}</string>
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,3},{43,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{985,3},{43,33}}</string>
				<key>sourceSize</key>
				<string>{43,33}</string>
			</dict>
			<key>jinzita.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,951},{66,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,951},{66,54}}</string>
				<key>sourceSize</key>
				<string>{66,54}</string>
			</dict>
			<key>leftmenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,302},{212,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,302},{212,91}}</string>
				<key>sourceSize</key>
				<string>{212,91}</string>
			</dict>
			<key>line_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,475},{301,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,475},{301,1}}</string>
				<key>sourceSize</key>
				<string>{301,1}</string>
			</dict>
			<key>line_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,53},{1,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{798,53},{1,209}}</string>
				<key>sourceSize</key>
				<string>{1,209}</string>
			</dict>
			<key>lvicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,997},{26,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{880,997},{26,22}}</string>
				<key>sourceSize</key>
				<string>{26,22}</string>
			</dict>
			<key>member_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,883},{28,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{800,883},{28,20}}</string>
				<key>sourceSize</key>
				<string>{28,21}</string>
			</dict>
			<key>menu_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,177},{396,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,177},{396,1}}</string>
				<key>sourceSize</key>
				<string>{396,1}</string>
			</dict>
			<key>mymoney1.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,260},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{610,260},{28,22}}</string>
				<key>sourceSize</key>
				<string>{28,22}</string>
			</dict>
			<key>mymoney2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,226},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{610,226},{28,22}}</string>
				<key>sourceSize</key>
				<string>{28,22}</string>
			</dict>
			<key>newicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,671},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,671},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>other_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,479},{312,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,479},{312,56}}</string>
				<key>sourceSize</key>
				<string>{312,56}</string>
			</dict>
			<key>pagemenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,911},{152,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{800,911},{152,80}}</string>
				<key>sourceSize</key>
				<string>{152,80}</string>
			</dict>
			<key>person.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,887},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,887},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>personicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,305},{19,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{439,305},{19,15}}</string>
				<key>sourceSize</key>
				<string>{19,15}</string>
			</dict>
			<key>ph_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,184},{14,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,184},{14,36}}</string>
				<key>sourceSize</key>
				<string>{14,36}</string>
			</dict>
			<key>ph_hdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,165},{6,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{222,165},{6,410}}</string>
				<key>sourceSize</key>
				<string>{6,410}</string>
			</dict>
			<key>ph_hdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,158},{1,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{222,158},{1,412}}</string>
				<key>sourceSize</key>
				<string>{1,412}</string>
			</dict>
			<key>picon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,951},{66,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,951},{66,55}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>picon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,959},{64,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,959},{64,56}}</string>
				<key>sourceSize</key>
				<string>{64,56}</string>
			</dict>
			<key>picon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,305},{83,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,305},{83,55}}</string>
				<key>sourceSize</key>
				<string>{83,55}</string>
			</dict>
			<key>point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,118},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{892,118},{11,10}}</string>
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,135},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{892,135},{9,9}}</string>
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,165},{381,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,165},{381,131}}</string>
				<key>sourceSize</key>
				<string>{381,131}</string>
			</dict>
			<key>qipao_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,3},{570,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,3},{570,58}}</string>
				<key>sourceSize</key>
				<string>{570,58}</string>
			</dict>
			<key>qipao_black1.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,118},{570,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,118},{570,34}}</string>
				<key>sourceSize</key>
				<string>{570,34}</string>
			</dict>
			<key>qipao_stri.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,142},{26,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{995,142},{26,15}}</string>
				<key>sourceSize</key>
				<string>{26,15}</string>
			</dict>
			<key>rankicon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,883},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{834,883},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>rankicon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,997},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,997},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>rect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,541},{314,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,541},{314,45}}</string>
				<key>sourceSize</key>
				<string>{314,45}</string>
			</dict>
			<key>rect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,592},{313,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{914,592},{313,46}}</string>
				<key>sourceSize</key>
				<string>{313,46}</string>
			</dict>
			<key>rect_virtual.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,305},{122,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,305},{122,55}}</string>
				<key>sourceSize</key>
				<string>{122,55}</string>
			</dict>
			<key>settleicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,845},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,845},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>sprite_pop_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,184},{382,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,184},{382,115}}</string>
				<key>sourceSize</key>
				<string>{382,115}</string>
			</dict>
			<key>step3wordbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,67},{681,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,67},{681,45}}</string>
				<key>sourceSize</key>
				<string>{681,45}</string>
			</dict>
			<key>team1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,883},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{867,883},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>team2.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,997},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{814,997},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>teamicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,995},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,995},{20,21}}</string>
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>topgbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,911},{109,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{958,911},{109,48}}</string>
				<key>sourceSize</key>
				<string>{109,48}</string>
			</dict>
			<key>wenhao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,997},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{912,997},{23,25}}</string>
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>wenhao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,779},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,779},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>wenhao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,746},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{875,746},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>xuxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,52},{3,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,52},{3,84}}</string>
				<key>sourceSize</key>
				<string>{3,84}</string>
			</dict>
			<key>yuebase.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,830},{48,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,830},{48,31}}</string>
				<key>sourceSize</key>
				<string>{48,31}</string>
			</dict>
			<key>zhiding.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,520},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{972,520},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>148eda245.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>148eda245.png</string>
		</dict>
	</dict>
</plist>
