<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,331},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,331},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>card_back_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,331},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,331},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>card_back_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,331},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,331},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>card_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,513},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>card_blink.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,513},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,513},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>card_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,513},{150,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,513},{150,180}}</string>
				<key>sourceSize</key>
				<string>{150,180}</string>
			</dict>
			<key>type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,85},{70,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{315,85},{70,94}}</string>
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>type_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,85},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,85},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>
			<key>type_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,202},{91,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,202},{91,127}}</string>
				<key>sourceSize</key>
				<string>{91,127}</string>
			</dict>
			<key>type_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,202},{91,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,202},{91,120}}</string>
				<key>sourceSize</key>
				<string>{91,120}</string>
			</dict>
			<key>type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,85},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,85},{72,82}}</string>
				<key>sourceSize</key>
				<string>{72,82}</string>
			</dict>
			<key>type_2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,202},{88,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,202},{88,115}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>
			<key>type_2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,202},{91,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{370,202},{91,127}}</string>
				<key>sourceSize</key>
				<string>{91,127}</string>
			</dict>
			<key>type_2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,202},{91,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,202},{91,120}}</string>
				<key>sourceSize</key>
				<string>{91,120}</string>
			</dict>
			<key>type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,85},{72,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,85},{72,79}}</string>
				<key>sourceSize</key>
				<string>{72,79}</string>
			</dict>
			<key>type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,85},{72,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,85},{72,84}}</string>
				<key>sourceSize</key>
				<string>{72,84}</string>
			</dict>
			<key>type_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,85},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,85},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>type_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,37},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{314,37},{38,42}}</string>
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>type_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,37},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{274,37},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>type_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,37},{38,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{354,37},{38,43}}</string>
				<key>sourceSize</key>
				<string>{38,43}</string>
			</dict>
			<key>v1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,37},{50,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{114,37},{50,35}}</string>
				<key>sourceSize</key>
				<string>{50,35}</string>
			</dict>
			<key>v1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{17,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,1},{17,34}}</string>
				<key>sourceSize</key>
				<string>{17,34}</string>
			</dict>
			<key>v1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,37},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,37},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>v1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>v1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,1},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>v1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,1},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,1},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,1},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,1},{30,33}}</string>
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
			<key>v1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1},{27,34}}</string>
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>v1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,1},{25,33}}</string>
				<key>sourceSize</key>
				<string>{25,33}</string>
			</dict>
			<key>v1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,37},{26,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,37},{26,35}}</string>
				<key>sourceSize</key>
				<string>{26,35}</string>
			</dict>
			<key>v1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{355,1},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,37},{50,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,37},{50,35}}</string>
				<key>sourceSize</key>
				<string>{50,35}</string>
			</dict>
			<key>v2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1},{17,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,1},{17,34}}</string>
				<key>sourceSize</key>
				<string>{17,34}</string>
			</dict>
			<key>v2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,85},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,85},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>v2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,1},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>v2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{402,1},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>v2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{438,1},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,37},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,37},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1},{30,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1},{30,33}}</string>
				<key>sourceSize</key>
				<string>{30,33}</string>
			</dict>
			<key>v2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,37},{27,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,37},{27,34}}</string>
				<key>sourceSize</key>
				<string>{27,34}</string>
			</dict>
			<key>v2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,37},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,37},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>v2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,1},{25,33}}</string>
				<key>sourceSize</key>
				<string>{25,33}</string>
			</dict>
			<key>v2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,37},{26,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,37},{26,35}}</string>
				<key>sourceSize</key>
				<string>{26,35}</string>
			</dict>
			<key>v2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,37},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,37},{26,34}}</string>
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>holdem.png</string>
			<key>size</key>
			<string>{476,694}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>holdem.png</string>
		</dict>
	</dict>
</plist>
