<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RANK.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,46},{158,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,46},{158,72}}</string>
				<key>sourceSize</key>
				<string>{158,72}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,107},{105,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,107},{105,35}}</string>
				<key>sourceSize</key>
				<string>{105,35}</string>
			</dict>
			<key>quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,46},{55,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,46},{55,40}}</string>
				<key>sourceSize</key>
				<string>{55,40}</string>
			</dict>
			<key>winmore.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{118,37}}</string>
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1835170af.png</string>
			<key>size</key>
			<string>{124,215}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1835170af.png</string>
		</dict>
	</dict>
</plist>
