<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>+.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,916},{85,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{906,916},{85,101}}</string>
				<key>sourceSize</key>
				<string>{85,101}</string>
			</dict>
			<key>+2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,528},{85,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,528},{85,101}}</string>
				<key>sourceSize</key>
				<string>{85,101}</string>
			</dict>
			<key>-.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,825},{85,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{906,825},{85,101}}</string>
				<key>sourceSize</key>
				<string>{85,101}</string>
			</dict>
			<key>-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,436},{86,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,436},{86,101}}</string>
				<key>sourceSize</key>
				<string>{86,101}</string>
			</dict>
			<key>ADD.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,976},{36,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,976},{36,40}}</string>
				<key>sourceSize</key>
				<string>{36,40}</string>
			</dict>
			<key>bet_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,720},{269,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,720},{269,82}}</string>
				<key>sourceSize</key>
				<string>{269,82}</string>
			</dict>
			<key>bottomsec.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,341},{679,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,341},{679,63}}</string>
				<key>sourceSize</key>
				<string>{679,63}</string>
			</dict>
			<key>box1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,341},{107,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,341},{107,89}}</string>
				<key>sourceSize</key>
				<string>{107,89}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,720},{181,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,720},{181,62}}</string>
				<key>sourceSize</key>
				<string>{181,62}</string>
			</dict>
			<key>choice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,69},{202,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{801,69},{202,310}}</string>
				<key>sourceSize</key>
				<string>{202,310}</string>
			</dict>
			<key>choice_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,3},{217,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{801,3},{217,60}}</string>
				<key>sourceSize</key>
				<string>{217,60}</string>
			</dict>
			<key>extend_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,535},{78,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{774,535},{78,181}}</string>
				<key>sourceSize</key>
				<string>{78,181}</string>
			</dict>
			<key>free_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,939},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,939},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>freespinswon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,385},{144,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{780,385},{144,238}}</string>
				<key>sourceSize</key>
				<string>{144,238}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,619},{322,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,619},{322,95}}</string>
				<key>sourceSize</key>
				<string>{322,95}</string>
			</dict>
			<key>iconbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,341},{656,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{72,341},{656,589}}</string>
				<key>sourceSize</key>
				<string>{656,589}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,720},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{942,720},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,69},{163,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1009,69},{163,4}}</string>
				<key>sourceSize</key>
				<string>{163,4}</string>
			</dict>
			<key>voice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,976},{37,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{797,976},{37,32}}</string>
				<key>sourceSize</key>
				<string>{37,32}</string>
			</dict>
			<key>voice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,976},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{835,976},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>win1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{792,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{792,182}}</string>
				<key>sourceSize</key>
				<string>{792,182}</string>
			</dict>
			<key>win2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,191},{792,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,191},{792,144}}</string>
				<key>sourceSize</key>
				<string>{792,144}</string>
			</dict>
			<key>zhuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,788},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{755,788},{145,145}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>∞.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,535},{69,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{961,535},{69,43}}</string>
				<key>sourceSize</key>
				<string>{69,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e6322ea4.png</string>
			<key>size</key>
			<string>{1021,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e6322ea4.png</string>
		</dict>
	</dict>
</plist>
