<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,533},{274,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{422,533},{274,85}}</string>
				<key>sourceSize</key>
				<string>{274,85}</string>
			</dict>
			<key>btn_winMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,685},{274,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,685},{274,85}}</string>
				<key>sourceSize</key>
				<string>{274,85}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,3},{185,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{430,3},{185,38}}</string>
				<key>sourceSize</key>
				<string>{185,38}</string>
			</dict>
			<key>free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,3},{524,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{348,3},{524,76}}</string>
				<key>sourceSize</key>
				<string>{524,76}</string>
			</dict>
			<key>luckyball.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,533},{143,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{348,533},{143,37}}</string>
				<key>sourceSize</key>
				<string>{143,37}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,671},{133,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,671},{133,38}}</string>
				<key>sourceSize</key>
				<string>{133,38}</string>
			</dict>
			<key>txt_freespins.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,776},{313,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,776},{313,34}}</string>
				<key>sourceSize</key>
				<string>{313,34}</string>
			</dict>
			<key>txt_youwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{662,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{662,170}}</string>
				<key>sourceSize</key>
				<string>{662,170}</string>
			</dict>
			<key>txt_youwon.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,3},{676,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{179,3},{676,163}}</string>
				<key>sourceSize</key>
				<string>{676,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17e1588a1.png</string>
			<key>size</key>
			<string>{510,813}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17e1588a1.png</string>
		</dict>
	</dict>
</plist>
