<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lb_action.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,315},{49,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,315},{49,26}}</string>
				<key>sourceSize</key>
				<string>{49,26}</string>
			</dict>
			<key>lb_btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,3},{141,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,3},{141,41}}</string>
				<key>sourceSize</key>
				<string>{141,41}</string>
			</dict>
			<key>lb_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,150},{76,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{53,150},{76,30}}</string>
				<key>sourceSize</key>
				<string>{76,30}</string>
			</dict>
			<key>lb_match_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,3},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,3},{103,23}}</string>
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>lb_no_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{225,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{225,44}}</string>
				<key>sourceSize</key>
				<string>{225,44}</string>
			</dict>
			<key>lb_no_record2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,150},{159,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{89,150},{159,35}}</string>
				<key>sourceSize</key>
				<string>{159,35}</string>
			</dict>
			<key>lb_number_of_rounds.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,377},{116,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,377},{116,25}}</string>
				<key>sourceSize</key>
				<string>{116,25}</string>
			</dict>
			<key>lb_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,234},{137,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,234},{137,63}}</string>
				<key>sourceSize</key>
				<string>{137,63}</string>
			</dict>
			<key>lb_room_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,408},{106,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,408},{106,26}}</string>
				<key>sourceSize</key>
				<string>{106,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>185899737.png</string>
			<key>size</key>
			<string>{127,437}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>185899737.png</string>
		</dict>
	</dict>
</plist>
