<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{98,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{98,41}}</string>
				<key>sourceSize</key>
				<string>{98,41}</string>
			</dict>
			<key>Recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,602},{54,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,602},{54,25}}</string>
				<key>sourceSize</key>
				<string>{54,25}</string>
			</dict>
			<key>activityLockTips.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,855},{157,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{52,855},{157,24}}</string>
				<key>sourceSize</key>
				<string>{157,24}</string>
			</dict>
			<key>activity_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,834},{50,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,834},{50,15}}</string>
				<key>sourceSize</key>
				<string>{50,15}</string>
			</dict>
			<key>bonus_turn_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,478},{81,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,478},{81,25}}</string>
				<key>sourceSize</key>
				<string>{81,25}</string>
			</dict>
			<key>brazil_carnival.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,49},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{107,49},{30,20}}</string>
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>brc_rebate.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,741},{60,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,741},{60,18}}</string>
				<key>sourceSize</key>
				<string>{60,18}</string>
			</dict>
			<key>carnival.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,626},{62,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,626},{62,24}}</string>
				<key>sourceSize</key>
				<string>{62,24}</string>
			</dict>
			<key>charge_giftpack_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,179},{22,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,179},{22,17}}</string>
				<key>sourceSize</key>
				<string>{22,17}</string>
			</dict>
			<key>charge_giftpack_task_sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,855},{33,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,855},{33,12}}</string>
				<key>sourceSize</key>
				<string>{33,12}</string>
			</dict>
			<key>first_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,540},{78,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,540},{78,18}}</string>
				<key>sourceSize</key>
				<string>{78,18}</string>
			</dict>
			<key>free_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,594},{62,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,594},{62,26}}</string>
				<key>sourceSize</key>
				<string>{62,26}</string>
			</dict>
			<key>friend_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,332},{94,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,332},{94,32}}</string>
				<key>sourceSize</key>
				<string>{94,32}</string>
			</dict>
			<key>game_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,544},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,544},{40,21}}</string>
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>gold_tide.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,712},{60,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,712},{60,23}}</string>
				<key>sourceSize</key>
				<string>{60,23}</string>
			</dict>
			<key>gold_tide_slots.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,683},{60,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,683},{60,23}}</string>
				<key>sourceSize</key>
				<string>{60,23}</string>
			</dict>
			<key>holiDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,656},{62,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,656},{62,21}}</string>
				<key>sourceSize</key>
				<string>{62,21}</string>
			</dict>
			<key>holiDay_last_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,292},{84,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{105,292},{84,21}}</string>
				<key>sourceSize</key>
				<string>{84,21}</string>
			</dict>
			<key>holiDay_last_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,202},{84,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{105,202},{84,21}}</string>
				<key>sourceSize</key>
				<string>{84,21}</string>
			</dict>
			<key>holiDay_last_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,451},{82,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,451},{82,21}}</string>
				<key>sourceSize</key>
				<string>{82,21}</string>
			</dict>
			<key>img_earn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,808},{213,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,808},{213,43}}</string>
				<key>sourceSize</key>
				<string>{213,43}</string>
			</dict>
			<key>img_lb_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,571},{54,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,571},{54,25}}</string>
				<key>sourceSize</key>
				<string>{54,25}</string>
			</dict>
			<key>img_lb_withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,370},{92,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,370},{92,32}}</string>
				<key>sourceSize</key>
				<string>{92,32}</string>
			</dict>
			<key>label_cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,3},{40,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{107,3},{40,20}}</string>
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>
			<key>label_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,866},{37,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,866},{37,24}}</string>
				<key>sourceSize</key>
				<string>{37,24}</string>
			</dict>
			<key>landlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,85},{88,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{105,85},{88,22}}</string>
				<key>sourceSize</key>
				<string>{88,22}</string>
			</dict>
			<key>lb_holiDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,50},{276,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,50},{276,96}}</string>
				<key>sourceSize</key>
				<string>{276,96}</string>
			</dict>
			<key>lucky_ticket_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,765},{57,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,765},{57,37}}</string>
				<key>sourceSize</key>
				<string>{57,37}</string>
			</dict>
			<key>raffle_draw.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,509},{79,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,509},{79,25}}</string>
				<key>sourceSize</key>
				<string>{79,25}</string>
			</dict>
			<key>rebate.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,909},{35,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,909},{35,32}}</string>
				<key>sourceSize</key>
				<string>{35,32}</string>
			</dict>
			<key>rescue_funds.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,564},{64,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,564},{64,24}}</string>
				<key>sourceSize</key>
				<string>{64,24}</string>
			</dict>
			<key>sale.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,633},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,633},{52,28}}</string>
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>second_recharge_package.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,667},{51,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,667},{51,19}}</string>
				<key>sourceSize</key>
				<string>{51,19}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,382},{156,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{101,382},{156,26}}</string>
				<key>sourceSize</key>
				<string>{156,26}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,408},{82,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,408},{82,37}}</string>
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>txt_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,692},{136,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{69,692},{136,58}}</string>
				<key>sourceSize</key>
				<string>{136,58}</string>
			</dict>
			<key>vip_system.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,834},{26,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{108,834},{26,17}}</string>
				<key>sourceSize</key>
				<string>{26,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15a4e4124.png</string>
			<key>size</key>
			<string>{130,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15a4e4124.png</string>
		</dict>
	</dict>
</plist>
