<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_chance_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,3},{159,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,3},{159,137}}</string>
				<key>sourceSize</key>
				<string>{159,137}</string>
			</dict>
			<key>img_gezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,146},{934,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,146},{934,510}}</string>
				<key>sourceSize</key>
				<string>{934,510}</string>
			</dict>
			<key>img_slots_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{73,71}}</string>
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,3},{154,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,3},{154,132}}</string>
				<key>sourceSize</key>
				<string>{154,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1eec5b63f.png</string>
			<key>size</key>
			<string>{940,659}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1eec5b63f.png</string>
		</dict>
	</dict>
</plist>
