<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>any7s.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,3},{101,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{93,3},{101,19}}</string>
				<key>sourceSize</key>
				<string>{101,19}</string>
			</dict>
			<key>anybars.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,3},{124,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,3},{124,19}}</string>
				<key>sourceSize</key>
				<string>{124,19}</string>
			</dict>
			<key>auto1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,570},{109,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,570},{109,72}}</string>
				<key>sourceSize</key>
				<string>{109,72}</string>
			</dict>
			<key>auto2.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,454},{109,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,454},{109,72}}</string>
				<key>sourceSize</key>
				<string>{109,72}</string>
			</dict>
			<key>awarded.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,569},{69,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,569},{69,23}}</string>
				<key>sourceSize</key>
				<string>{69,23}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,406},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,406},{40,21}}</string>
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>freegames.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,313},{87,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,313},{87,29}}</string>
				<key>sourceSize</key>
				<string>{87,29}</string>
			</dict>
			<key>maxbet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,685},{62,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,685},{62,50}}</string>
				<key>sourceSize</key>
				<string>{62,50}</string>
			</dict>
			<key>maxbet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,741},{62,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,741},{62,50}}</string>
				<key>sourceSize</key>
				<string>{62,50}</string>
			</dict>
			<key>playing.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,249},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{102,249},{52,22}}</string>
				<key>sourceSize</key>
				<string>{52,22}</string>
			</dict>
			<key>spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{149,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,59}}</string>
				<key>sourceSize</key>
				<string>{149,59}</string>
			</dict>
			<key>spin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,158},{149,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,158},{149,59}}</string>
				<key>sourceSize</key>
				<string>{149,59}</string>
			</dict>
			<key>stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,454},{110,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,454},{110,34}}</string>
				<key>sourceSize</key>
				<string>{110,34}</string>
			</dict>
			<key>stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,133},{110,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,133},{110,34}}</string>
				<key>sourceSize</key>
				<string>{110,34}</string>
			</dict>
			<key>superfreegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,313},{135,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,313},{135,75}}</string>
				<key>sourceSize</key>
				<string>{135,75}</string>
			</dict>
			<key>totalbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,249},{58,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,249},{58,28}}</string>
				<key>sourceSize</key>
				<string>{58,28}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,685},{89,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{71,685},{89,42}}</string>
				<key>sourceSize</key>
				<string>{89,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1dd4c99cf.png</string>
			<key>size</key>
			<string>{127,794}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1dd4c99cf.png</string>
		</dict>
	</dict>
</plist>
