<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cardDes1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,125},{116,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,125},{116,18}}</string>
				<key>sourceSize</key>
				<string>{116,18}</string>
			</dict>
			<key>cardDes1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,3},{116,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,3},{116,18}}</string>
				<key>sourceSize</key>
				<string>{116,18}</string>
			</dict>
			<key>cardDes2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,576},{116,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{87,576},{116,18}}</string>
				<key>sourceSize</key>
				<string>{116,18}</string>
			</dict>
			<key>cardDes2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,901},{116,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{96,901},{116,18}}</string>
				<key>sourceSize</key>
				<string>{116,18}</string>
			</dict>
			<key>cardDes3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,3},{156,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{31,3},{156,19}}</string>
				<key>sourceSize</key>
				<string>{156,19}</string>
			</dict>
			<key>cardDes3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,759},{156,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,759},{156,19}}</string>
				<key>sourceSize</key>
				<string>{156,19}</string>
			</dict>
			<key>cardDes4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,165},{155,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{31,165},{155,19}}</string>
				<key>sourceSize</key>
				<string>{155,19}</string>
			</dict>
			<key>cardDes4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,326},{155,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{31,326},{155,18}}</string>
				<key>sourceSize</key>
				<string>{155,18}</string>
			</dict>
			<key>cardDes5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,753},{142,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,753},{142,21}}</string>
				<key>sourceSize</key>
				<string>{142,21}</string>
			</dict>
			<key>cardDes5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,465},{142,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,465},{142,21}}</string>
				<key>sourceSize</key>
				<string>{142,21}</string>
			</dict>
			<key>cardType10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,419},{164,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,419},{164,22}}</string>
				<key>sourceSize</key>
				<string>{164,22}</string>
			</dict>
			<key>cardType10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,589},{164,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,589},{164,22}}</string>
				<key>sourceSize</key>
				<string>{164,22}</string>
			</dict>
			<key>cardType1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,326},{133,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,326},{133,22}}</string>
				<key>sourceSize</key>
				<string>{133,22}</string>
			</dict>
			<key>cardType1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,753},{133,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,753},{133,22}}</string>
				<key>sourceSize</key>
				<string>{133,22}</string>
			</dict>
			<key>cardType2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,261},{59,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,261},{59,21}}</string>
				<key>sourceSize</key>
				<string>{59,21}</string>
			</dict>
			<key>cardType2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,386},{59,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{83,386},{59,21}}</string>
				<key>sourceSize</key>
				<string>{59,21}</string>
			</dict>
			<key>cardType3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,261},{119,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{83,261},{119,22}}</string>
				<key>sourceSize</key>
				<string>{119,22}</string>
			</dict>
			<key>cardType3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,451},{119,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{86,451},{119,22}}</string>
				<key>sourceSize</key>
				<string>{119,22}</string>
			</dict>
			<key>cardType4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,613},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,613},{72,22}}</string>
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>cardType4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,725},{72,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,725},{72,22}}</string>
				<key>sourceSize</key>
				<string>{72,22}</string>
			</dict>
			<key>cardType5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,3},{123,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,3},{123,22}}</string>
				<key>sourceSize</key>
				<string>{123,22}</string>
			</dict>
			<key>cardType5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,132},{123,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,132},{123,22}}</string>
				<key>sourceSize</key>
				<string>{123,22}</string>
			</dict>
			<key>cardType6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,985},{79,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,985},{79,22}}</string>
				<key>sourceSize</key>
				<string>{79,22}</string>
			</dict>
			<key>cardType6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,640},{79,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{31,640},{79,22}}</string>
				<key>sourceSize</key>
				<string>{79,22}</string>
			</dict>
			<key>cardType7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,759},{147,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{28,759},{147,22}}</string>
				<key>sourceSize</key>
				<string>{147,22}</string>
			</dict>
			<key>cardType7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,487},{147,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{31,487},{147,22}}</string>
				<key>sourceSize</key>
				<string>{147,22}</string>
			</dict>
			<key>cardType8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,921},{87,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,921},{87,26}}</string>
				<key>sourceSize</key>
				<string>{87,26}</string>
			</dict>
			<key>cardType8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,953},{87,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,953},{87,26}}</string>
				<key>sourceSize</key>
				<string>{87,26}</string>
			</dict>
			<key>cardType9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{202,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{202,22}}</string>
				<key>sourceSize</key>
				<string>{202,22}</string>
			</dict>
			<key>cardType9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,211},{202,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,211},{202,22}}</string>
				<key>sourceSize</key>
				<string>{202,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a2d85090.png</string>
			<key>size</key>
			<string>{117,1020}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a2d85090.png</string>
		</dict>
	</dict>
</plist>
