<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_closeAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,331},{219,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,331},{219,47}}</string>
				<key>sourceSize</key>
				<string>{219,47}</string>
			</dict>
			<key>btn_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,60},{275,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,60},{275,49}}</string>
				<key>sourceSize</key>
				<string>{275,49}</string>
			</dict>
			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,281},{250,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,281},{250,44}}</string>
				<key>sourceSize</key>
				<string>{250,44}</string>
			</dict>
			<key>btn_exit_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,227},{250,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,227},{250,48}}</string>
				<key>sourceSize</key>
				<string>{250,48}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,170},{250,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,170},{250,51}}</string>
				<key>sourceSize</key>
				<string>{250,51}</string>
			</dict>
			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,60},{205,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{284,60},{205,40}}</string>
				<key>sourceSize</key>
				<string>{205,40}</string>
			</dict>
			<key>btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,429},{186,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,429},{186,51}}</string>
				<key>sourceSize</key>
				<string>{186,51}</string>
			</dict>
			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{285,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{285,51}}</string>
				<key>sourceSize</key>
				<string>{285,51}</string>
			</dict>
			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,271},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,271},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,486},{175,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,486},{175,47}}</string>
				<key>sourceSize</key>
				<string>{175,47}</string>
			</dict>
			<key>btn_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,115},{254,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,115},{254,49}}</string>
				<key>sourceSize</key>
				<string>{254,49}</string>
			</dict>
			<key>btn_vibration.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,384},{213,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,384},{213,39}}</string>
				<key>sourceSize</key>
				<string>{213,39}</string>
			</dict>
			<key>friend_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,343},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,343},{81,66}}</string>
				<key>sourceSize</key>
				<string>{81,66}</string>
			</dict>
			<key>sprite_addsash.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,845},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,845},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_addsash1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,539},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,539},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,415},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{222,415},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>sprite_online.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,539},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,539},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_online1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,692},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,692},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_spectators.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,692},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,692},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_spectators1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,845},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,845},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1893d4109.png</string>
			<key>size</key>
			<string>{327,995}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1893d4109.png</string>
		</dict>
	</dict>
</plist>
