<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,3},{82,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{484,3},{82,23}}</string>
				<key>sourceSize</key>
				<string>{82,23}</string>
			</dict>
			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,804},{258,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,804},{258,56}}</string>
				<key>sourceSize</key>
				<string>{258,56}</string>
			</dict>
			<key>rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,801},{52,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,801},{52,168}}</string>
				<key>sourceSize</key>
				<string>{52,168}</string>
			</dict>
			<key>sprite_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,470},{325,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,470},{325,171}}</string>
				<key>sourceSize</key>
				<string>{325,171}</string>
			</dict>
			<key>sprite_mega.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{475,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{475,146}}</string>
				<key>sourceSize</key>
				<string>{475,146}</string>
			</dict>
			<key>sprite_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,239},{547,157}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{298,239},{547,157}}</string>
				<key>sourceSize</key>
				<string>{547,158}</string>
			</dict>
			<key>sprite_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,155},{309,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,155},{309,126}}</string>
				<key>sourceSize</key>
				<string>{309,126}</string>
			</dict>
			<key>star_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,204},{29,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,204},{29,30}}</string>
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
			<key>star_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,204},{29,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{477,204},{29,30}}</string>
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
			<key>top_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,155},{212,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,155},{212,43}}</string>
				<key>sourceSize</key>
				<string>{212,43}</string>
			</dict>
			<key>win_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,155},{643,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,155},{643,112}}</string>
				<key>sourceSize</key>
				<string>{643,112}</string>
			</dict>
			<key>xx_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,91},{14,30}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{484,91},{14,30}}</string>
				<key>sourceSize</key>
				<string>{29,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15ad036f6.png</string>
			<key>size</key>
			<string>{510,863}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15ad036f6.png</string>
		</dict>
	</dict>
</plist>
