<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_blue_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1765},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{821,1765},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>btn_blue_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,737},{84,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,737},{84,74}}</string>
				<key>sourceSize</key>
				<string>{84,74}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,593},{63,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{848,593},{63,58}}</string>
				<key>sourceSize</key>
				<string>{63,58}</string>
			</dict>
			<key>btn_close_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1814},{34,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{779,1814},{34,38}}</string>
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>btn_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,817},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,817},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>btn_dice_ctrl_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1733},{153,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1733},{153,153}}</string>
				<key>sourceSize</key>
				<string>{153,153}</string>
			</dict>
			<key>btn_green_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1411},{390,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1411},{390,111}}</string>
				<key>sourceSize</key>
				<string>{390,111}</string>
			</dict>
			<key>btn_green_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1528},{333,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1528},{333,55}}</string>
				<key>sourceSize</key>
				<string>{333,55}</string>
			</dict>
			<key>btn_green_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1965},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{767,1965},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>btn_green_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,657},{84,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,657},{84,74}}</string>
				<key>sourceSize</key>
				<string>{84,74}</string>
			</dict>
			<key>btn_green_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1079},{68,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{824,1079},{68,80}}</string>
				<key>sourceSize</key>
				<string>{68,80}</string>
			</dict>
			<key>btn_open_flower_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1857},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,1857},{30,38}}</string>
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>btn_orange_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1655},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,1655},{48,59}}</string>
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1765},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,1765},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1819},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{821,1819},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,905},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,905},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>img_account_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1998},{172,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{485,1998},{172,46}}</string>
				<key>sourceSize</key>
				<string>{172,46}</string>
			</dict>
			<key>img_count_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,509},{219,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{623,509},{219,65}}</string>
				<key>sourceSize</key>
				<string>{219,65}</string>
			</dict>
			<key>img_dice_ctrl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,580},{561,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{623,580},{561,195}}</string>
				<key>sourceSize</key>
				<string>{561,195}</string>
			</dict>
			<key>img_dice_ctrl_ele.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1821},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,1821},{38,40}}</string>
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>img_dice_ctrl_red_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1087},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1087},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>img_dice_show_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,3},{500,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{623,3},{500,289}}</string>
				<key>sourceSize</key>
				<string>{500,289}</string>
			</dict>
			<key>img_dice_task_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,1087},{32,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,1087},{32,19}}</string>
				<key>sourceSize</key>
				<string>{32,19}</string>
			</dict>
			<key>img_dice_task_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,622},{28,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{824,622},{28,14}}</string>
				<key>sourceSize</key>
				<string>{28,14}</string>
			</dict>
			<key>img_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,509},{78,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{848,509},{78,63}}</string>
				<key>sourceSize</key>
				<string>{78,63}</string>
			</dict>
			<key>img_grid_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1965},{78,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{713,1965},{78,48}}</string>
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>img_grid_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1765},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{779,1765},{43,36}}</string>
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>
			<key>img_main_task_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,993},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{824,993},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img_main_task_sub_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1589},{128,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{129,1589},{128,78}}</string>
				<key>sourceSize</key>
				<string>{128,78}</string>
			</dict>
			<key>img_main_task_sub_bg_to_try.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1589},{128,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{213,1589},{128,78}}</string>
				<key>sourceSize</key>
				<string>{128,78}</string>
			</dict>
			<key>img_mode_switch_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1377},{162,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{528,1377},{162,60}}</string>
				<key>sourceSize</key>
				<string>{162,60}</string>
			</dict>
			<key>img_mode_switch_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1589},{162,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,1589},{162,60}}</string>
				<key>sourceSize</key>
				<string>{162,60}</string>
			</dict>
			<key>img_record_data_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1655},{40,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{351,1655},{40,100}}</string>
				<key>sourceSize</key>
				<string>{40,100}</string>
			</dict>
			<key>img_record_data_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1858},{40,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{779,1858},{40,29}}</string>
				<key>sourceSize</key>
				<string>{40,29}</string>
			</dict>
			<key>img_record_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1225},{393,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1225},{393,180}}</string>
				<key>sourceSize</key>
				<string>{393,180}</string>
			</dict>
			<key>img_record_icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1819},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{877,1819},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>img_record_page_btn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1171},{471,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1171},{471,48}}</string>
				<key>sourceSize</key>
				<string>{471,48}</string>
			</dict>
			<key>img_record_page_btn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1117},{471,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1117},{471,48}}</string>
				<key>sourceSize</key>
				<string>{471,48}</string>
			</dict>
			<key>img_reward_log_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1892},{143,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,1892},{143,44}}</string>
				<key>sourceSize</key>
				<string>{143,44}</string>
			</dict>
			<key>img_rule_img_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1153},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{606,1153},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img_rule_img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1459},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{594,1459},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img_rule_img_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,1733},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,1733},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>img_score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1117},{915,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1117},{915,120}}</string>
				<key>sourceSize</key>
				<string>{915,120}</string>
			</dict>
			<key>img_score_flower_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1869},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{683,1869},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>img_score_flower_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,1765},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{594,1765},{95,98}}</string>
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>img_score_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1225},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{528,1225},{70,72}}</string>
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>img_score_item_bg_avaible.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1019},{92,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{513,1019},{92,101}}</string>
				<key>sourceSize</key>
				<string>{92,101}</string>
			</dict>
			<key>img_score_item_bg_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1301},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{528,1301},{70,72}}</string>
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>img_score_item_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1998},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{663,1998},{45,44}}</string>
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>img_score_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,580},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{824,580},{36,18}}</string>
				<key>sourceSize</key>
				<string>{36,18}</string>
			</dict>
			<key>img_score_progress_dot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1765},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{884,1765},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_score_progress_dot_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1821},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{739,1821},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img_score_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1087},{30,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,1087},{30,12}}</string>
				<key>sourceSize</key>
				<string>{30,12}</string>
			</dict>
			<key>img_score_task_reward_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1892},{192,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{485,1892},{192,100}}</string>
				<key>sourceSize</key>
				<string>{192,100}</string>
			</dict>
			<key>img_score_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1545},{182,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{468,1545},{182,120}}</string>
				<key>sourceSize</key>
				<string>{182,120}</string>
			</dict>
			<key>img_window_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1010,614}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1010,614}}</string>
				<key>sourceSize</key>
				<string>{1010,614}</string>
			</dict>
			<key>img_window_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1019},{62,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1019},{62,504}}</string>
				<key>sourceSize</key>
				<string>{62,504}</string>
			</dict>
			<key>img_window_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,993},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,993},{1,41}}</string>
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1adb77e44.png</string>
			<key>size</key>
			<string>{915,2047}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1adb77e44.png</string>
		</dict>
	</dict>
</plist>
