<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,370},{154,125}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,370},{154,125}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,313},{154,125}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{766,313},{154,125}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,294},{154,124}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,294},{154,124}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,131},{138,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,131},{138,108}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,44},{138,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{907,44},{138,92}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,42},{138,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,42},{138,48}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,96},{138,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{555,96},{138,88}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>color1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,88},{132,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,88},{132,86}}</string>
				<key>sourceSize</key>
				<string>{132,86}</string>
			</dict>
			<key>color2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,65},{132,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,65},{132,86}}</string>
				<key>sourceSize</key>
				<string>{132,86}</string>
			</dict>
			<key>color3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,70},{132,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{279,70},{132,86}}</string>
				<key>sourceSize</key>
				<string>{132,86}</string>
			</dict>
			<key>color4.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,70},{132,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,70},{132,86}}</string>
				<key>sourceSize</key>
				<string>{132,86}</string>
			</dict>
			<key>color5.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,44},{132,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{769,44},{132,81}}</string>
				<key>sourceSize</key>
				<string>{132,81}</string>
			</dict>
			<key>gan.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,162},{108,317}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,162},{108,317}}</string>
				<key>sourceSize</key>
				<string>{108,318}</string>
			</dict>
			<key>lan7.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,180},{138,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,180},{138,108}}</string>
				<key>sourceSize</key>
				<string>{164,152}</string>
			</dict>
			<key>top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,276},{142,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,276},{142,119}}</string>
				<key>sourceSize</key>
				<string>{142,119}</string>
			</dict>
			<key>top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,190},{142,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{470,190},{142,119}}</string>
				<key>sourceSize</key>
				<string>{142,119}</string>
			</dict>
			<key>top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,276},{142,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,276},{142,119}}</string>
				<key>sourceSize</key>
				<string>{142,119}</string>
			</dict>
			<key>top4.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,188},{143,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{843,188},{143,119}}</string>
				<key>sourceSize</key>
				<string>{143,119}</string>
			</dict>
			<key>top5.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,245},{142,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,245},{142,119}}</string>
				<key>sourceSize</key>
				<string>{142,119}</string>
			</dict>
			<key>tu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,42},{128,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,42},{128,40}}</string>
				<key>sourceSize</key>
				<string>{128,40}</string>
			</dict>
			<key>tu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,27},{138,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{278,27},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,37}</string>
			</dict>
			<key>tu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,23},{136,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,23},{136,36}}</string>
				<key>sourceSize</key>
				<string>{136,36}</string>
			</dict>
			<key>tu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,3},{133,14}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,3},{133,14}}</string>
				<key>sourceSize</key>
				<string>{138,16}</string>
			</dict>
			<key>tu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,23},{127,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,23},{127,35}}</string>
				<key>sourceSize</key>
				<string>{127,35}</string>
			</dict>
			<key>tu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,3},{129,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{887,3},{129,35}}</string>
				<key>sourceSize</key>
				<string>{129,35}</string>
			</dict>
			<key>tu7.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,3},{129,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,3},{129,18}}</string>
				<key>sourceSize</key>
				<string>{129,18}</string>
			</dict>
			<key>tu8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{156,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{156,14}}</string>
				<key>sourceSize</key>
				<string>{164,14}</string>
			</dict>
			<key>wd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,3},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{439,3},{106,33}}</string>
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>wd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,3},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{551,3},{106,33}}</string>
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>wd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,3},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{663,3},{106,33}}</string>
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>wd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,3},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{775,3},{106,33}}</string>
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>wd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,42},{63,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{556,42},{63,44}}</string>
				<key>sourceSize</key>
				<string>{63,44}</string>
			</dict>
			<key>wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,315},{154,125}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{459,315},{154,125}}</string>
				<key>sourceSize</key>
				<string>{174,134}</string>
			</dict>
			<key>zhezhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,501},{961,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,501},{961,398}}</string>
				<key>sourceSize</key>
				<string>{961,398}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1376051ae.png</string>
			<key>size</key>
			<string>{1019,902}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1376051ae.png</string>
		</dict>
	</dict>
</plist>
