<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,457},{103,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,457},{103,87}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,395},{128,120}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,395},{128,120}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,521},{128,120}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,521},{128,120}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,269},{128,120}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,269},{128,120}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,558},{77,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{105,558},{77,85}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>Jp_Win.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,144},{135,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,144},{135,97}}</string>
				<key>sourceSize</key>
				<string>{145,135}</string>
			</dict>
			<key>WILD.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,144},{132,119}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{330,144},{132,119}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>a.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,558},{96,84}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,558},{96,84}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>diamono.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,424},{128,120}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{137,424},{128,120}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>j.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,550},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,550},{85,85}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>k.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,365},{94,86}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,365},{94,86}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>mingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,3},{135,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{350,3},{135,140}}</string>
				<key>sourceSize</key>
				<string>{135,140}</string>
			</dict>
			<key>neimaer.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,3},{135,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{189,3},{135,155}}</string>
				<key>sourceSize</key>
				<string>{135,155}</string>
			</dict>
			<key>q.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,269},{94,90}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,269},{94,90}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>taiyang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{180,180}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{180,180}}</string>
				<key>sourceSize</key>
				<string>{186,226}</string>
			</dict>
			<key>tubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,189},{131,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,189},{131,118}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>tubiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,247},{131,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,247},{131,104}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>tubiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,313},{130,105}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,313},{130,105}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>zhuam.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,424},{128,128}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,424},{128,128}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>137900d84.png</string>
			<key>size</key>
			<string>{508,645}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>137900d84.png</string>
		</dict>
	</dict>
</plist>
