<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{705,501}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{705,501}}</string>
				<key>sourceSize</key>
				<string>{707,504}</string>
			</dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,714},{256,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{164,714},{256,63}}</string>
				<key>sourceSize</key>
				<string>{256,63}</string>
			</dict>
			<key>btn_downloadApp.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,783},{231,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{164,783},{231,67}}</string>
				<key>sourceSize</key>
				<string>{231,67}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,856},{39,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,856},{39,40}}</string>
				<key>sourceSize</key>
				<string>{39,40}</string>
			</dict>
			<key>icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,856},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,856},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>icon_downloadApp.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,875},{48,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,875},{48,38}}</string>
				<key>sourceSize</key>
				<string>{48,38}</string>
			</dict>
			<key>icon_pt_br.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,783},{104,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,783},{104,110}}</string>
				<key>sourceSize</key>
				<string>{104,110}</string>
			</dict>
			<key>img_bd.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,714},{38,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{426,714},{38,47}}</string>
				<key>sourceSize</key>
				<string>{38,47}</string>
			</dict>
			<key>img_ida.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,875},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,875},{50,42}}</string>
				<key>sourceSize</key>
				<string>{50,42}</string>
			</dict>
			<key>img_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,856},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{332,856},{25,34}}</string>
				<key>sourceSize</key>
				<string>{25,34}</string>
			</dict>
			<key>img_ng.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,856},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{256,856},{35,34}}</string>
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>img_pak.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,714},{47,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{470,714},{47,34}}</string>
				<key>sourceSize</key>
				<string>{47,34}</string>
			</dict>
			<key>img_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,856},{30,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{296,856},{30,34}}</string>
				<key>sourceSize</key>
				<string>{30,34}</string>
			</dict>
			<key>img_pt_BR.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,875},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,875},{48,44}}</string>
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>tipsTypeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,714},{155,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,714},{155,155}}</string>
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>141c106ba.png</string>
			<key>size</key>
			<string>{508,922}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>141c106ba.png</string>
		</dict>
	</dict>
</plist>
