<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,398},{24,25}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{723,398},{24,25}}</string>
				<key>sourceSize</key>
				<string>{28,50}</string>
			</dict>
			<key>betBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,217},{290,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,217},{290,70}}</string>
				<key>sourceSize</key>
				<string>{290,70}</string>
			</dict>
			<key>betNumBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,465},{169,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,465},{169,68}}</string>
				<key>sourceSize</key>
				<string>{169,68}</string>
			</dict>
			<key>btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,217},{87,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,217},{87,86}}</string>
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>
			<key>btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,260},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{803,260},{190,86}}</string>
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,373},{241,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,373},{241,86}}</string>
				<key>sourceSize</key>
				<string>{241,86}</string>
			</dict>
			<key>btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,367},{241,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{392,367},{241,86}}</string>
				<key>sourceSize</key>
				<string>{241,86}</string>
			</dict>
			<key>btnBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,515},{44,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{936,515},{44,72}}</string>
				<key>sourceSize</key>
				<string>{44,72}</string>
			</dict>
			<key>btnBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,465},{44,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{936,465},{44,72}}</string>
				<key>sourceSize</key>
				<string>{44,72}</string>
			</dict>
			<key>btnBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,454},{44,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{639,454},{44,72}}</string>
				<key>sourceSize</key>
				<string>{44,72}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,393},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,393},{36,37}}</string>
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>btn_g_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,309},{87,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,309},{87,86}}</string>
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>
			<key>btn_g_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,168},{190,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{803,168},{190,86}}</string>
				<key>sourceSize</key>
				<string>{190,86}</string>
			</dict>
			<key>btn_g_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,275},{241,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{392,275},{241,86}}</string>
				<key>sourceSize</key>
				<string>{241,86}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,241},{15,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{999,241},{15,27}}</string>
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>btn_hostory.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,310},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,310},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>btn_log.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,343},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{762,343},{24,26}}</string>
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>btn_myHistory.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,275},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{762,275},{29,31}}</string>
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>btn_result2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,398},{78,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{639,398},{78,50}}</string>
				<key>sourceSize</key>
				<string>{78,50}</string>
			</dict>
			<key>cardTypeBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,349},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,349},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cardTypeBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,349},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{237,349},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cardTypeBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,454},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,454},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cardTypeBg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,349},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,349},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cardTypeBg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,349},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,349},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cardTypeBg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,401},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,401},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>delet.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,224},{16,11}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{999,224},{16,11}}</string>
				<key>sourceSize</key>
				<string>{21,50}</string>
			</dict>
			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,274},{75,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{999,274},{75,14}}</string>
				<key>sourceSize</key>
				<string>{75,14}</string>
			</dict>
			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,3},{198,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{808,3},{198,159}}</string>
				<key>sourceSize</key>
				<string>{198,159}</string>
			</dict>
			<key>newBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,168},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{999,168},{50,21}}</string>
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>panel_Bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{399,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{399,72}}</string>
				<key>sourceSize</key>
				<string>{399,72}</string>
			</dict>
			<key>rechargeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,293},{290,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,293},{290,50}}</string>
				<key>sourceSize</key>
				<string>{290,50}</string>
			</dict>
			<key>topCardType1.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,3},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,3},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>topCardType2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,81},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,81},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>topCardType3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,149},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,149},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>topCardType4.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,71},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,71},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>topCardType5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,139},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,139},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>topCardType6.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,207},{394,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,207},{394,62}}</string>
				<key>sourceSize</key>
				<string>{394,62}</string>
			</dict>
			<key>user_info_headBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,275},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{639,275},{117,117}}</string>
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19e8b7862.png</string>
			<key>size</key>
			<string>{1023,562}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19e8b7862.png</string>
		</dict>
	</dict>
</plist>
