<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,64},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,64},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>he_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,3},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,3},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>he_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,3},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,3},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,33},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,33},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>hu_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,3},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,3},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>hu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,3},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,3},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,64},{37,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,64},{37,227}}</string>
				<key>sourceSize</key>
				<string>{37,227}</string>
			</dict>
			<key>long.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,23},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,23},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>long_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,23},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,23},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>long_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>probProBar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,33},{642,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,33},{642,25}}</string>
				<key>sourceSize</key>
				<string>{642,25}</string>
			</dict>
			<key>record_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,162},{102,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,162},{102,349}}</string>
				<key>sourceSize</key>
				<string>{102,349}</string>
			</dict>
			<key>record_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,36},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,36},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>round20_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,116},{802,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,116},{802,40}}</string>
				<key>sourceSize</key>
				<string>{802,40}</string>
			</dict>
			<key>sprite_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,3},{322,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,3},{322,24}}</string>
				<key>sourceSize</key>
				<string>{322,24}</string>
			</dict>
			<key>sprite_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,162},{175,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,162},{175,138}}</string>
				<key>sourceSize</key>
				<string>{175,138}</string>
			</dict>
			<key>sprite_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,162},{188,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{539,162},{188,188}}</string>
				<key>sourceSize</key>
				<string>{188,188}</string>
			</dict>
			<key>sprite_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,3},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,3},{32,14}}</string>
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>
			<key>sprite_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,3},{322,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,3},{322,24}}</string>
				<key>sourceSize</key>
				<string>{322,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>12f91953f.png</string>
			<key>size</key>
			<string>{820,353}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>12f91953f.png</string>
		</dict>
	</dict>
</plist>
