<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>txt_btnDouble.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,515},{146,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,515},{146,25}}</string>
				<key>sourceSize</key>
				<string>{146,25}</string>
			</dict>
			<key>txt_btnMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,667},{139,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,667},{139,24}}</string>
				<key>sourceSize</key>
				<string>{139,24}</string>
			</dict>
			<key>txt_btnReceive.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,812},{96,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{34,812},{96,24}}</string>
				<key>sourceSize</key>
				<string>{96,24}</string>
			</dict>
			<key>txt_btnShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,817},{149,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,817},{149,25}}</string>
				<key>sourceSize</key>
				<string>{149,25}</string>
			</dict>
			<key>txt_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,515},{296,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,515},{296,23}}</string>
				<key>sourceSize</key>
				<string>{296,23}</string>
			</dict>
			<key>txt_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{506,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{506,71}}</string>
				<key>sourceSize</key>
				<string>{506,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>121f478e2.png</string>
			<key>size</key>
			<string>{77,969}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>121f478e2.png</string>
		</dict>
	</dict>
</plist>
