<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,59},{38,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{693,59},{38,16}}</string>
				<key>sourceSize</key>
				<string>{38,16}</string>
			</dict>
			<key>freeSpins1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{702,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{702,50}}</string>
				<key>sourceSize</key>
				<string>{702,50}</string>
			</dict>
			<key>freespinsRemain.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,471},{121,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,471},{121,96}}</string>
				<key>sourceSize</key>
				<string>{121,96}</string>
			</dict>
			<key>max.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,598},{116,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,598},{116,105}}</string>
				<key>sourceSize</key>
				<string>{116,105}</string>
			</dict>
			<key>max1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,471},{116,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,471},{116,105}}</string>
				<key>sourceSize</key>
				<string>{116,105}</string>
			</dict>
			<key>spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,331},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,331},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,111},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{233,111},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,111},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,111},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,221},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,221},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,441},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,441},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,111},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,111},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>totalbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,690},{104,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,690},{104,19}}</string>
				<key>sourceSize</key>
				<string>{104,19}</string>
			</dict>
			<key>totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,598},{88,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,598},{88,44}}</string>
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>
			<key>txt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,111},{537,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{89,111},{537,28}}</string>
				<key>sourceSize</key>
				<string>{537,28}</string>
			</dict>
			<key>txt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,59},{604,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,59},{604,28}}</string>
				<key>sourceSize</key>
				<string>{604,28}</string>
			</dict>
			<key>wild-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,59},{625,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,59},{625,46}}</string>
				<key>sourceSize</key>
				<string>{625,46}</string>
			</dict>
			<key>wild-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,59},{574,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,59},{574,46}}</string>
				<key>sourceSize</key>
				<string>{574,46}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,654},{64,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,654},{64,26}}</string>
				<key>sourceSize</key>
				<string>{64,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>157085bd7.png</string>
			<key>size</key>
			<string>{712,712}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>157085bd7.png</string>
		</dict>
	</dict>
</plist>
