<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,645},{47,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,645},{47,83}}</string>
				<key>sourceSize</key>
				<string>{47,83}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,304},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,304},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,353},{47,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,353},{47,83}}</string>
				<key>sourceSize</key>
				<string>{47,83}</string>
			</dict>
			<key>card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,3},{295,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,3},{295,376}}</string>
				<key>sourceSize</key>
				<string>{297,376}</string>
			</dict>
			<key>card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{336,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{336,423}}</string>
				<key>sourceSize</key>
				<string>{338,423}</string>
			</dict>
			<key>card3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,432},{296,376}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,432},{296,376}}</string>
				<key>sourceSize</key>
				<string>{297,376}</string>
			</dict>
			<key>coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,304},{169,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,304},{169,43}}</string>
				<key>sourceSize</key>
				<string>{169,43}</string>
			</dict>
			<key>pack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,591},{164,137}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,591},{164,137}}</string>
				<key>sourceSize</key>
				<string>{165,139}</string>
			</dict>
			<key>pack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,418},{221,176}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{385,418},{221,176}}</string>
				<key>sourceSize</key>
				<string>{221,177}</string>
			</dict>
			<key>pack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,406},{179,141}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,406},{179,141}}</string>
				<key>sourceSize</key>
				<string>{184,143}</string>
			</dict>
			<key>tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,304},{108,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,304},{108,98}}</string>
				<key>sourceSize</key>
				<string>{110,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f386a1e5.png</string>
			<key>size</key>
			<string>{734,731}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f386a1e5.png</string>
		</dict>
	</dict>
</plist>
