<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,421},{197,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{597,421},{197,144}}</string>
				<key>sourceSize</key>
				<string>{197,144}</string>
			</dict>
			<key>gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,875},{197,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,875},{197,144}}</string>
				<key>sourceSize</key>
				<string>{197,144}</string>
			</dict>
			<key>gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,831},{204,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{409,831},{204,160}}</string>
				<key>sourceSize</key>
				<string>{204,160}</string>
			</dict>
			<key>gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,421},{221,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,421},{221,177}}</string>
				<key>sourceSize</key>
				<string>{221,178}</string>
			</dict>
			<key>gold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,648},{221,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,648},{221,177}}</string>
				<key>sourceSize</key>
				<string>{221,178}</string>
			</dict>
			<key>gold_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,648},{221,178}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,648},{221,178}}</string>
				<key>sourceSize</key>
				<string>{221,179}</string>
			</dict>
			<key>gold_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,212},{259,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,212},{259,203}}</string>
				<key>sourceSize</key>
				<string>{259,203}</string>
			</dict>
			<key>gold_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{260,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{260,203}}</string>
				<key>sourceSize</key>
				<string>{260,203}</string>
			</dict>
			<key>gold_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,3},{260,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{535,3},{260,203}}</string>
				<key>sourceSize</key>
				<string>{260,203}</string>
			</dict>
			<key>prop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,814},{196,142}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{619,814},{196,142}}</string>
				<key>sourceSize</key>
				<string>{197,144}</string>
			</dict>
			<key>prop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,875},{197,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,875},{197,144}}</string>
				<key>sourceSize</key>
				<string>{197,144}</string>
			</dict>
			<key>prop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,604},{204,158}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{553,604},{204,158}}</string>
				<key>sourceSize</key>
				<string>{204,160}</string>
			</dict>
			<key>prop_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,421},{221,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{370,421},{221,177}}</string>
				<key>sourceSize</key>
				<string>{221,178}</string>
			</dict>
			<key>prop_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,604},{221,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{370,604},{221,177}}</string>
				<key>sourceSize</key>
				<string>{221,178}</string>
			</dict>
			<key>prop_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,421},{221,178}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,421},{221,178}}</string>
				<key>sourceSize</key>
				<string>{221,179}</string>
			</dict>
			<key>prop_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,212},{258,203}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{533,212},{258,203}}</string>
				<key>sourceSize</key>
				<string>{259,203}</string>
			</dict>
			<key>prop_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,212},{259,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,212},{259,203}}</string>
				<key>sourceSize</key>
				<string>{259,203}</string>
			</dict>
			<key>prop_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,3},{260,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,3},{260,203}}</string>
				<key>sourceSize</key>
				<string>{260,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f3e8d715.png</string>
			<key>size</key>
			<string>{798,1022}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f3e8d715.png</string>
		</dict>
	</dict>
</plist>
