<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_55101_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1677},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,1677},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_55101_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1105},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1105},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66101.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,933},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,933},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66102.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,919},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,919},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66103.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1677},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,1677},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66104.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1305},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,1305},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66105.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1291},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1291},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66106.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1305},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,1305},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66107.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1119},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,1119},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66109.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,747},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,747},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66110.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,561},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,561},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66111.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{166,166}}</string>
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>game_66112.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,189},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,189},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66113.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1491},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,1491},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66120.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,3},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{533,3},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66125.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1119},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,1119},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66650.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1491},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,1491},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66651.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,933},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,933},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66660.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,3},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,3},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66661.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,933},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,933},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66662.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1305},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,1305},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66663.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1663},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1663},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66664.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,547},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,547},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66665.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,175},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,175},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66666.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1477},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1477},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66667.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,375},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,375},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66668.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,747},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,747},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_66669.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,561},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,561},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77771.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,747},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,747},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77772.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,189},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,189},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77773.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,733},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,733},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77774.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1491},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,1491},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77775.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,375},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,375},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77776.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1119},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,1119},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_77777.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,3},{166,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,3},{166,166}}</string>
				<key>sourceSize</key>
				<string>{166,166}</string>
			</dict>
			<key>game_888.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,189},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,189},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_8888.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,561},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,561},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_88888.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,375},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,375},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>game_888888.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,361},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,361},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f651db16.png</string>
			<key>size</key>
			<string>{744,1860}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f651db16.png</string>
		</dict>
	</dict>
</plist>
