<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,920},{72,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{138,920},{72,33}}</string>
				<key>sourceSize</key>
				<string>{72,33}</string>
			</dict>
			<key>Replace.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,920},{59,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,920},{59,32}}</string>
				<key>sourceSize</key>
				<string>{59,32}</string>
			</dict>
			<key>TXT_biao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,530},{117,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,530},{117,33}}</string>
				<key>sourceSize</key>
				<string>{117,33}</string>
			</dict>
			<key>TXT_biao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,257},{240,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{203,257},{240,34}}</string>
				<key>sourceSize</key>
				<string>{240,34}</string>
			</dict>
			<key>TXT_biao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,642},{102,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,642},{102,31}}</string>
				<key>sourceSize</key>
				<string>{102,31}</string>
			</dict>
			<key>TXT_biao_b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,882},{75,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,882},{75,32}}</string>
				<key>sourceSize</key>
				<string>{75,32}</string>
			</dict>
			<key>TXT_biao_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,363},{171,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,363},{171,32}}</string>
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>TXT_biao_b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,434},{55,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{172,434},{55,22}}</string>
				<key>sourceSize</key>
				<string>{55,22}</string>
			</dict>
			<key>TXT_biao_b_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,115},{215,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,115},{215,32}}</string>
				<key>sourceSize</key>
				<string>{215,32}</string>
			</dict>
			<key>TXT_biao_b_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,859},{84,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,859},{84,32}}</string>
				<key>sourceSize</key>
				<string>{84,32}</string>
			</dict>
			<key>TXT_biao_c_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,679},{102,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,679},{102,31}}</string>
				<key>sourceSize</key>
				<string>{102,31}</string>
			</dict>
			<key>TXT_biao_c_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,958},{57,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{177,958},{57,33}}</string>
				<key>sourceSize</key>
				<string>{57,33}</string>
			</dict>
			<key>TXT_biao_c_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,569},{117,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,569},{117,32}}</string>
				<key>sourceSize</key>
				<string>{117,32}</string>
			</dict>
			<key>TXT_biao_c_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,716},{91,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,716},{91,32}}</string>
				<key>sourceSize</key>
				<string>{91,32}</string>
			</dict>
			<key>Total.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,590},{112,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{126,590},{112,33}}</string>
				<key>sourceSize</key>
				<string>{112,33}</string>
			</dict>
			<key>Unknown.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,222},{194,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,222},{194,54}}</string>
				<key>sourceSize</key>
				<string>{194,54}</string>
			</dict>
			<key>details.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,787},{89,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,787},{89,30}}</string>
				<key>sourceSize</key>
				<string>{89,30}</string>
			</dict>
			<key>details_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,823},{89,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,823},{89,30}}</string>
				<key>sourceSize</key>
				<string>{89,30}</string>
			</dict>
			<key>exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,754},{90,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,754},{90,27}}</string>
				<key>sourceSize</key>
				<string>{90,27}</string>
			</dict>
			<key>information.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,472},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{137,472},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>
			<key>information_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,607},{112,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,607},{112,29}}</string>
				<key>sourceSize</key>
				<string>{112,29}</string>
			</dict>
			<key>invitation.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,920},{99,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,920},{99,29}}</string>
				<key>sourceSize</key>
				<string>{99,29}</string>
			</dict>
			<key>invitation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,920},{99,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,920},{99,29}}</string>
				<key>sourceSize</key>
				<string>{99,29}</string>
			</dict>
			<key>record.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,844},{77,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,844},{77,32}}</string>
				<key>sourceSize</key>
				<string>{77,32}</string>
			</dict>
			<key>record_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,806},{77,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,806},{77,32}}</string>
				<key>sourceSize</key>
				<string>{77,32}</string>
			</dict>
			<key>title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,153},{206,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,153},{206,63}}</string>
				<key>sourceSize</key>
				<string>{206,63}</string>
			</dict>
			<key>title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,401},{163,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,401},{163,65}}</string>
				<key>sourceSize</key>
				<string>{163,65}</string>
			</dict>
			<key>title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,282},{172,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,282},{172,75}}</string>
				<key>sourceSize</key>
				<string>{172,75}</string>
			</dict>
			<key>title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,35},{217,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,35},{217,74}}</string>
				<key>sourceSize</key>
				<string>{217,74}</string>
			</dict>
			<key>txt_allDataLoaded.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{237,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{237,26}}</string>
				<key>sourceSize</key>
				<string>{237,26}</string>
			</dict>
			<key>txt_id.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,401},{27,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{172,401},{27,24}}</string>
				<key>sourceSize</key>
				<string>{27,24}</string>
			</dict>
			<key>txt_noData.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,503},{297,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{172,503},{297,63}}</string>
				<key>sourceSize</key>
				<string>{297,63}</string>
			</dict>
			<key>zy_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,472},{128,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,472},{128,52}}</string>
				<key>sourceSize</key>
				<string>{128,52}</string>
			</dict>
			<key>zy_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,716},{293,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,716},{293,59}}</string>
				<key>sourceSize</key>
				<string>{293,59}</string>
			</dict>
			<key>zy_transfer.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,153},{98,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{215,153},{98,24}}</string>
				<key>sourceSize</key>
				<string>{98,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1fb0dd35a.png</string>
			<key>size</key>
			<string>{243,1022}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1fb0dd35a.png</string>
		</dict>
	</dict>
</plist>
