<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,883},{84,112}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,883},{84,112}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,672},{122,100}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,672},{122,100}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,3},{151,115}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,3},{151,115}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,295},{138,125}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{151,295},{138,125}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,263},{142,123}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,263},{142,123}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,527},{129,112}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,527},{129,112}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,160},{129,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{157,160},{129,118}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,124},{148,133}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,124},{148,133}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,392},{133,129}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,392},{133,129}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,883},{70,112}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,883},{70,112}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,887},{100,106}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,887},{100,106}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,778},{103,106}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,778},{103,106}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,769},{113,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,769},{113,108}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,439},{132,103}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,439},{132,103}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,548},{124,118}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,548},{124,118}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,645},{123,118}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,645},{123,118}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
			<key>icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{152,115}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{152,115}}</string>
				<key>sourceSize</key>
				<string>{185,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19dfc4044.png</string>
			<key>size</key>
			<string>{279,998}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19dfc4044.png</string>
		</dict>
	</dict>
</plist>
