<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,473},{483,445}}</string>
				<key>offset</key>
				<string>{18,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,473},{483,445}}</string>
				<key>sourceSize</key>
				<string>{553,498}</string>
			</dict>
			<key>NIU.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,3},{483,455}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{492,3},{483,455}}</string>
				<key>sourceSize</key>
				<string>{483,464}</string>
			</dict>
			<key>SCATTER.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{483,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{483,464}}</string>
				<key>sourceSize</key>
				<string>{483,464}</string>
			</dict>
			<key>WILD.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,464},{483,449}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{492,464},{483,449}}</string>
				<key>sourceSize</key>
				<string>{483,464}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f40acc63.png</string>
			<key>size</key>
			<string>{978,921}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f40acc63.png</string>
		</dict>
	</dict>
</plist>
