<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_bg_ele.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{802,592}}</string>
				<key>offset</key>
				<string>{-26,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{802,592}}</string>
				<key>sourceSize</key>
				<string>{853,592}</string>
			</dict>
			<key>img_bg_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,601},{650,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,601},{650,122}}</string>
				<key>sourceSize</key>
				<string>{650,122}</string>
			</dict>
			<key>img_title_BONUS1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,729},{275,85}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{289,729},{275,85}}</string>
				<key>sourceSize</key>
				<string>{283,88}</string>
			</dict>
			<key>img_title_BONUS2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,729},{280,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,729},{280,99}}</string>
				<key>sourceSize</key>
				<string>{280,99}</string>
			</dict>
			<key>img_title_BONUS3.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,729},{265,87}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{570,729},{265,87}}</string>
				<key>sourceSize</key>
				<string>{266,94}</string>
			</dict>
			<key>img_title_BONUS5.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,601},{197,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,601},{197,97}}</string>
				<key>sourceSize</key>
				<string>{197,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ffe20f7a.png</string>
			<key>size</key>
			<string>{859,831}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ffe20f7a.png</string>
		</dict>
	</dict>
</plist>
