<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_55101_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,783},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,783},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_55101_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,336},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,336},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66101.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,225},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,225},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66102.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66103.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66104.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,447},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,447},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66105.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,225},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,225},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66106.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,447},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,447},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66107.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,117},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,117},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66109.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,669},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,669},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66110.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,447},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,447},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66112.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,114},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,114},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66113.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,339},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,339},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66650.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,336},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,336},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66651.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,558},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,558},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66660.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,558},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,558},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66661.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,114},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,114},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66662.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,781},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,781},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66663.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{108,109}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66664.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,893},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,893},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66665.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,225},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,225},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66666.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,336},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,336},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66667.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,447},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,447},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66668.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,558},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,558},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66669.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,114},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,114},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77771.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,561},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,561},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77772.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,228},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,228},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77773.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,225},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,225},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77774.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,450},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,450},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77775.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77776.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,672},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,672},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_888.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_8888.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,558},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,558},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_88888.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,114},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,114},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_888888.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,336},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,336},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>goldBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,669},{230,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,669},{230,41}}</string>
				<key>sourceSize</key>
				<string>{230,41}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,813},{58,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,813},{58,18}}</string>
				<key>sourceSize</key>
				<string>{58,18}</string>
			</dict>
			<key>img10.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,846},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{450,846},{49,56}}</string>
				<key>sourceSize</key>
				<string>{49,56}</string>
			</dict>
			<key>img11.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,846},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{226,846},{85,84}}</string>
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,846},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,846},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,908},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{450,908},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1005},{77,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,1005},{77,16}}</string>
				<key>sourceSize</key>
				<string>{77,16}</string>
			</dict>
			<key>img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,669},{171,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,669},{171,41}}</string>
				<key>sourceSize</key>
				<string>{171,41}</string>
			</dict>
			<key>img9.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,669},{138,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,669},{138,48}}</string>
				<key>sourceSize</key>
				<string>{138,48}</string>
			</dict>
			<key>img_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,937},{157,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,937},{157,28}}</string>
				<key>sourceSize</key>
				<string>{157,28}</string>
			</dict>
			<key>img_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,992},{137,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,992},{137,28}}</string>
				<key>sourceSize</key>
				<string>{137,28}</string>
			</dict>
			<key>img_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,813},{173,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{509,813},{173,28}}</string>
				<key>sourceSize</key>
				<string>{173,28}</string>
			</dict>
			<key>img_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,992},{183,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,992},{183,25}}</string>
				<key>sourceSize</key>
				<string>{183,25}</string>
			</dict>
			<key>jackpotVIP0.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,801},{33,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{226,801},{33,36}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,800},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,800},{34,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,760},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{226,760},{36,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,759},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,759},{38,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP4.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,716},{38,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,716},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP5.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,716},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{226,716},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,980},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,980},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP7.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,980},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,980},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP8.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,716},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{316,716},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>star.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,906},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{389,906},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>turntable.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,894},{93,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,894},{93,80}}</string>
				<key>sourceSize</key>
				<string>{93,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18556f1c2.png</string>
			<key>size</key>
			<string>{564,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18556f1c2.png</string>
		</dict>
	</dict>
</plist>
