<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,359},{203,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,359},{203,64}}</string>
				<key>sourceSize</key>
				<string>{203,64}</string>
			</dict>
			<key>label_bet_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,291},{61,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,291},{61,24}}</string>
				<key>sourceSize</key>
				<string>{61,24}</string>
			</dict>
			<key>label_cash_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,429},{195,54}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,429},{195,54}}</string>
				<key>sourceSize</key>
				<string>{195,64}</string>
			</dict>
			<key>label_cash_out2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,489},{138,37}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,489},{138,37}}</string>
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>label_menu_leave_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,199},{86,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{227,199},{86,26}}</string>
				<key>sourceSize</key>
				<string>{86,26}</string>
			</dict>
			<key>label_menu_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,3},{65,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{233,3},{65,18}}</string>
				<key>sourceSize</key>
				<string>{65,18}</string>
			</dict>
			<key>label_rule_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,489},{145,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,489},{145,55}}</string>
				<key>sourceSize</key>
				<string>{145,55}</string>
			</dict>
			<key>label_rule_content_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,199},{218,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,199},{218,59}}</string>
				<key>sourceSize</key>
				<string>{218,59}</string>
			</dict>
			<key>label_rule_content_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,264},{216,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,264},{216,89}}</string>
				<key>sourceSize</key>
				<string>{216,89}</string>
			</dict>
			<key>label_rule_content_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{224,93}}</string>
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>label_rule_content_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,102},{223,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,102},{223,91}}</string>
				<key>sourceSize</key>
				<string>{223,91}</string>
			</dict>
			<key>label_rule_no_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,359},{263,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,359},{263,34}}</string>
				<key>sourceSize</key>
				<string>{263,34}</string>
			</dict>
			<key>label_rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,532},{131,61}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,532},{131,61}}</string>
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e969dff0.png</string>
			<key>size</key>
			<string>{256,637}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e969dff0.png</string>
		</dict>
	</dict>
</plist>
