<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_claim_record_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,119},{108,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{296,119},{108,30}}</string>
				<key>sourceSize</key>
				<string>{108,30}</string>
			</dict>
			<key>label_claim_record_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,374},{110,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{262,374},{110,33}}</string>
				<key>sourceSize</key>
				<string>{110,33}</string>
			</dict>
			<key>label_guide_free_participation.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{937,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{937,144}}</string>
				<key>sourceSize</key>
				<string>{937,144}</string>
			</dict>
			<key>label_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,838},{142,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,838},{142,54}}</string>
				<key>sourceSize</key>
				<string>{142,54}</string>
			</dict>
			<key>label_invitation_record_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,227},{141,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{262,227},{141,28}}</string>
				<key>sourceSize</key>
				<string>{141,28}</string>
			</dict>
			<key>label_invitation_record_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,549},{143,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,549},{143,31}}</string>
				<key>sourceSize</key>
				<string>{143,31}</string>
			</dict>
			<key>label_main_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,490},{43,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{262,490},{43,24}}</string>
				<key>sourceSize</key>
				<string>{43,24}</string>
			</dict>
			<key>label_main_earn_dice.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,779},{163,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,779},{163,38}}</string>
				<key>sourceSize</key>
				<string>{163,38}</string>
			</dict>
			<key>label_main_finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,986},{63,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{434,986},{63,21}}</string>
				<key>sourceSize</key>
				<string>{63,21}</string>
			</dict>
			<key>label_main_forward.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,549},{224,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,549},{224,52}}</string>
				<key>sourceSize</key>
				<string>{224,52}</string>
			</dict>
			<key>label_main_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,549},{117,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{248,549},{117,35}}</string>
				<key>sourceSize</key>
				<string>{117,35}</string>
			</dict>
			<key>label_main_lucky_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,3},{615,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,3},{615,58}}</string>
				<key>sourceSize</key>
				<string>{615,58}</string>
			</dict>
			<key>label_main_receive.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,933},{67,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{332,933},{67,28}}</string>
				<key>sourceSize</key>
				<string>{67,28}</string>
			</dict>
			<key>label_main_receive_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,746},{49,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,746},{49,21}}</string>
				<key>sourceSize</key>
				<string>{49,21}</string>
			</dict>
			<key>label_main_roll_dice.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,3},{540,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,3},{540,103}}</string>
				<key>sourceSize</key>
				<string>{540,103}</string>
			</dict>
			<key>label_main_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,933},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{366,933},{72,25}}</string>
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>label_next_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,624},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,624},{116,24}}</string>
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>label_nm_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,342},{99,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{301,342},{99,24}}</string>
				<key>sourceSize</key>
				<string>{99,24}</string>
			</dict>
			<key>label_nm_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,233},{103,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{296,233},{103,30}}</string>
				<key>sourceSize</key>
				<string>{103,30}</string>
			</dict>
			<key>label_no_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,838},{276,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,838},{276,53}}</string>
				<key>sourceSize</key>
				<string>{276,53}</string>
			</dict>
			<key>label_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,698},{102,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,698},{102,46}}</string>
				<key>sourceSize</key>
				<string>{102,46}</string>
			</dict>
			<key>label_rules_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,3},{829,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{332,3},{829,108}}</string>
				<key>sourceSize</key>
				<string>{829,108}</string>
			</dict>
			<key>label_rules_content_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,897},{245,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,897},{245,30}}</string>
				<key>sourceSize</key>
				<string>{245,30}</string>
			</dict>
			<key>label_rules_content_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,624},{206,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,624},{206,30}}</string>
				<key>sourceSize</key>
				<string>{206,30}</string>
			</dict>
			<key>label_rules_content_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,3},{218,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{262,3},{218,28}}</string>
				<key>sourceSize</key>
				<string>{218,28}</string>
			</dict>
			<key>label_tm_desc.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,946},{323,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,946},{323,53}}</string>
				<key>sourceSize</key>
				<string>{323,53}</string>
			</dict>
			<key>label_tm_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,897},{106,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{404,897},{106,24}}</string>
				<key>sourceSize</key>
				<string>{106,24}</string>
			</dict>
			<key>label_tm_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,3},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{296,3},{110,30}}</string>
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>label_trial_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,520},{110,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{289,520},{110,32}}</string>
				<key>sourceSize</key>
				<string>{110,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17d7a46a8.png</string>
			<key>size</key>
			<string>{509,1010}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17d7a46a8.png</string>
		</dict>
	</dict>
</plist>
