<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_bonus_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,862},{78,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,862},{78,18}}</string>
				<key>sourceSize</key>
				<string>{78,18}</string>
			</dict>
			<key>label_desc_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,964},{86,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,964},{86,28}}</string>
				<key>sourceSize</key>
				<string>{86,28}</string>
			</dict>
			<key>label_desc_to_become.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,935},{118,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,935},{118,23}}</string>
				<key>sourceSize</key>
				<string>{118,23}</string>
			</dict>
			<key>label_dividend_period.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,249},{163,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{470,249},{163,23}}</string>
				<key>sourceSize</key>
				<string>{163,23}</string>
			</dict>
			<key>label_dividend_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,516},{136,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{402,516},{136,18}}</string>
				<key>sourceSize</key>
				<string>{136,18}</string>
			</dict>
			<key>label_dividend_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,763},{149,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,763},{149,18}}</string>
				<key>sourceSize</key>
				<string>{149,18}</string>
			</dict>
			<key>label_dividends_are.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,255},{327,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,255},{327,18}}</string>
				<key>sourceSize</key>
				<string>{327,18}</string>
			</dict>
			<key>label_dividends_are_based_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,790},{498,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,790},{498,110}}</string>
				<key>sourceSize</key>
				<string>{498,110}</string>
			</dict>
			<key>label_maximum_daily_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,328},{326,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,328},{326,24}}</string>
				<key>sourceSize</key>
				<string>{326,24}</string>
			</dict>
			<key>label_maximum_daily_count.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,328},{305,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{372,328},{305,24}}</string>
				<key>sourceSize</key>
				<string>{305,24}</string>
			</dict>
			<key>label_vip1_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,998},{113,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,998},{113,14}}</string>
				<key>sourceSize</key>
				<string>{113,14}</string>
			</dict>
			<key>label_vip_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,348},{62,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{563,348},{62,20}}</string>
				<key>sourceSize</key>
				<string>{62,20}</string>
			</dict>
			<key>label_vip_deposit_dividend.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3},{246,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,3},{246,25}}</string>
				<key>sourceSize</key>
				<string>{246,25}</string>
			</dict>
			<key>label_vip_upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,3},{257,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{403,3},{257,26}}</string>
				<key>sourceSize</key>
				<string>{257,26}</string>
			</dict>
			<key>txt_bonus_day.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,906},{127,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{467,906},{127,23}}</string>
				<key>sourceSize</key>
				<string>{127,23}</string>
			</dict>
			<key>txt_bonus_month.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,418},{163,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{470,418},{163,23}}</string>
				<key>sourceSize</key>
				<string>{163,23}</string>
			</dict>
			<key>txt_bonus_week.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,734},{153,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,734},{153,23}}</string>
				<key>sourceSize</key>
				<string>{153,23}</string>
			</dict>
			<key>txt_claim.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,830},{71,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,830},{71,26}}</string>
				<key>sourceSize</key>
				<string>{71,26}</string>
			</dict>
			<key>txt_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,660},{142,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,660},{142,36}}</string>
				<key>sourceSize</key>
				<string>{142,36}</string>
			</dict>
			<key>txt_deposit_become.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,3},{308,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{374,3},{308,23}}</string>
				<key>sourceSize</key>
				<string>{308,23}</string>
			</dict>
			<key>txt_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{781,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{781,333}}</string>
				<key>sourceSize</key>
				<string>{781,333}</string>
			</dict>
			<key>txt_rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,317},{193,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{402,317},{193,38}}</string>
				<key>sourceSize</key>
				<string>{193,38}</string>
			</dict>
			<key>txt_title_copper.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,3},{458,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{507,3},{458,50}}</string>
				<key>sourceSize</key>
				<string>{458,50}</string>
			</dict>
			<key>txt_title_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,906},{458,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,906},{458,50}}</string>
				<key>sourceSize</key>
				<string>{458,50}</string>
			</dict>
			<key>txt_title_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,962},{458,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,962},{458,50}}</string>
				<key>sourceSize</key>
				<string>{458,50}</string>
			</dict>
			<key>txt_upgrade_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,467},{357,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{507,467},{357,64}}</string>
				<key>sourceSize</key>
				<string>{357,64}</string>
			</dict>
			<key>txt_upgrade_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,702},{148,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,702},{148,26}}</string>
				<key>sourceSize</key>
				<string>{148,26}</string>
			</dict>
			<key>txt_vip_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,3},{240,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{466,3},{240,21}}</string>
				<key>sourceSize</key>
				<string>{240,21}</string>
			</dict>
			<key>txt_withdrawalAmount.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,3},{339,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{563,3},{339,26}}</string>
				<key>sourceSize</key>
				<string>{339,26}</string>
			</dict>
			<key>txt_withdrawalCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,3},{319,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,3},{319,26}}</string>
				<key>sourceSize</key>
				<string>{319,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e57c84e7.png</string>
			<key>size</key>
			<string>{597,1015}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e57c84e7.png</string>
		</dict>
	</dict>
</plist>
