<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>VIP0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1729},{217,234}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1729},{217,234}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1662},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,1662},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP10.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,712},{250,244}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,712},{250,244}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,976},{250,244}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,976},{250,244}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP12.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,770},{250,244}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,770},{250,244}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP13.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,514},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{531,514},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP14.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,712},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,712},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP15.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,200},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,200},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP16.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,456},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,456},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP17.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,258},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{555,258},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP18.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,200},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,200},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP19.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,456},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,456},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1680},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{242,1680},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1227},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1227},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1498},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{498,1498},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP4.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1442},{232,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{259,1442},{232,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1491},{232,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1491},{232,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP6.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1260},{232,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{515,1260},{232,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP7.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,962},{250,234}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,962},{250,234}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP8.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1202},{250,234}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,1202},{250,234}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>VIP9.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1020},{250,234}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,1020},{250,234}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,541},{316,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{961,541},{316,74}}</string>
				<key>sourceSize</key>
				<string>{316,74}</string>
			</dict>
			<key>btn_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1806},{105,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{609,1806},{105,113}}</string>
				<key>sourceSize</key>
				<string>{105,113}</string>
			</dict>
			<key>btn_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1573},{47,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{911,1573},{47,83}}</string>
				<key>sourceSize</key>
				<string>{47,83}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1617},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,1617},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>btn_info_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,490},{29,30}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{991,490},{29,30}}</string>
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>btn_upgrade.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1724},{202,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{481,1724},{202,76}}</string>
				<key>sourceSize</key>
				<string>{202,76}</string>
			</dict>
			<key>condition_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1272},{239,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{970,1272},{239,55}}</string>
				<key>sourceSize</key>
				<string>{239,55}</string>
			</dict>
			<key>equity_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,405},{816,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{890,405},{816,65}}</string>
				<key>sourceSize</key>
				<string>{816,65}</string>
			</dict>
			<key>exp_pro_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,437},{47,28}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1002,437},{47,28}}</string>
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>exp_pro_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,405},{52,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{961,405},{52,35}}</string>
				<key>sourceSize</key>
				<string>{52,35}</string>
			</dict>
			<key>exp_pro_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,3},{428,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1013,3},{428,20}}</string>
				<key>sourceSize</key>
				<string>{428,20}</string>
			</dict>
			<key>img_bonus_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,511},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{961,511},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>img_bonus_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1227},{362,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{771,1227},{362,134}}</string>
				<key>sourceSize</key>
				<string>{362,134}</string>
			</dict>
			<key>img_bonus_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,200},{78,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{531,200},{78,18}}</string>
				<key>sourceSize</key>
				<string>{78,18}</string>
			</dict>
			<key>img_info_ele_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,258},{34,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{819,258},{34,20}}</string>
				<key>sourceSize</key>
				<string>{34,20}</string>
			</dict>
			<key>img_info_ele_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,298},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{819,298},{21,26}}</string>
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>img_info_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,3},{396,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{846,3},{396,161}}</string>
				<key>sourceSize</key>
				<string>{396,161}</string>
			</dict>
			<key>img_info_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{557,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{557,191}}</string>
				<key>sourceSize</key>
				<string>{557,191}</string>
			</dict>
			<key>img_info_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,863},{403,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{961,863},{403,48}}</string>
				<key>sourceSize</key>
				<string>{403,48}</string>
			</dict>
			<key>img_level_ele.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1517},{94,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{970,1517},{94,48}}</string>
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>img_withdraw_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,405},{816,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{819,405},{816,65}}</string>
				<key>sourceSize</key>
				<string>{816,65}</string>
			</dict>
			<key>page_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,284},{30,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{531,284},{30,10}}</string>
				<key>sourceSize</key>
				<string>{42,24}</string>
			</dict>
			<key>page_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,463},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{961,463},{42,24}}</string>
				<key>sourceSize</key>
				<string>{42,24}</string>
			</dict>
			<key>reward_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1806},{124,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{481,1806},{124,122}}</string>
				<key>sourceSize</key>
				<string>{124,122}</string>
			</dict>
			<key>reward_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,3},{249,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{566,3},{249,274}}</string>
				<key>sourceSize</key>
				<string>{249,274}</string>
			</dict>
			<key>vipMaxBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1272},{295,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{911,1272},{295,53}}</string>
				<key>sourceSize</key>
				<string>{295,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ef231e76.png</string>
			<key>size</key>
			<string>{1038,1966}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ef231e76.png</string>
		</dict>
	</dict>
</plist>
