<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,382},{63,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{34,382},{63,25}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>
			<key>label_1_receive.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{127,34}}</string>
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>label_2_receive.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,136},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,136},{127,34}}</string>
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>label_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,387},{42,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,387},{42,25}}</string>
				<key>sourceSize</key>
				<string>{42,25}</string>
			</dict>
			<key>label_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,269},{112,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,269},{112,25}}</string>
				<key>sourceSize</key>
				<string>{112,25}</string>
			</dict>
			<key>label_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,269},{107,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{34,269},{107,25}}</string>
				<key>sourceSize</key>
				<string>{107,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a8335bfa.png</string>
			<key>size</key>
			<string>{62,448}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a8335bfa.png</string>
		</dict>
	</dict>
</plist>
