<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,536},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{177,536},{32,47}}</string>
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,527},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,527},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,481},{39,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,481},{39,49}}</string>
				<key>sourceSize</key>
				<string>{39,49}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,481},{40,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,481},{40,49}}</string>
				<key>sourceSize</key>
				<string>{40,49}</string>
			</dict>
			<key>baick.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,481},{114,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,481},{114,90}}</string>
				<key>sourceSize</key>
				<string>{114,90}</string>
			</dict>
			<key>base1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,3},{472,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,3},{472,91}}</string>
				<key>sourceSize</key>
				<string>{472,91}</string>
			</dict>
			<key>base2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{472,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{472,91}}</string>
				<key>sourceSize</key>
				<string>{472,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>171152f34.png</string>
			<key>size</key>
			<string>{227,574}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>171152f34.png</string>
		</dict>
	</dict>
</plist>
