<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,447},{247,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{445,447},{247,79}}</string>
				<key>sourceSize</key>
				<string>{247,79}</string>
			</dict>
			<key>btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,447},{247,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{698,447},{247,79}}</string>
				<key>sourceSize</key>
				<string>{247,79}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,532},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{445,532},{60,62}}</string>
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{778,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{778,438}}</string>
				<key>sourceSize</key>
				<string>{778,438}</string>
			</dict>
			<key>img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,447},{436,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,447},{436,436}}</string>
				<key>sourceSize</key>
				<string>{436,436}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1934ab8fc.png</string>
			<key>size</key>
			<string>{784,886}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1934ab8fc.png</string>
		</dict>
	</dict>
</plist>
