<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Additional.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,698},{322,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,698},{322,123}}</string>
				<key>sourceSize</key>
				<string>{322,123}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,671},{159,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{276,671},{159,43}}</string>
				<key>sourceSize</key>
				<string>{159,43}</string>
			</dict>
			<key>freegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,3},{418,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,3},{418,64}}</string>
				<key>sourceSize</key>
				<string>{418,64}</string>
			</dict>
			<key>layerfree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,3},{601,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{85,3},{601,68}}</string>
				<key>sourceSize</key>
				<string>{601,68}</string>
			</dict>
			<key>layerfreegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,3},{588,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{159,3},{588,66}}</string>
				<key>sourceSize</key>
				<string>{588,66}</string>
			</dict>
			<key>layertitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{689,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{689,76}}</string>
				<key>sourceSize</key>
				<string>{689,76}</string>
			</dict>
			<key>layertotalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,610},{228,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,610},{228,55}}</string>
				<key>sourceSize</key>
				<string>{228,55}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,836},{121,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{276,836},{121,43}}</string>
				<key>sourceSize</key>
				<string>{121,43}</string>
			</dict>
			<key>youwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,671},{287,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{203,671},{287,67}}</string>
				<key>sourceSize</key>
				<string>{287,67}</string>
			</dict>
			<key>youwon.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,671},{303,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{132,671},{303,65}}</string>
				<key>sourceSize</key>
				<string>{303,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17845641d.png</string>
			<key>size</key>
			<string>{322,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17845641d.png</string>
		</dict>
	</dict>
</plist>
