<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,790},{290,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,790},{290,77}}</string>
				<key>sourceSize</key>
				<string>{290,77}</string>
			</dict>
			<key>btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,790},{232,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,790},{232,77}}</string>
				<key>sourceSize</key>
				<string>{232,77}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,653},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,653},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{781,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{781,463}}</string>
				<key>sourceSize</key>
				<string>{781,463}</string>
			</dict>
			<key>img_tips_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,3},{644,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{472,3},{644,144}}</string>
				<key>sourceSize</key>
				<string>{644,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17a67517a.png</string>
			<key>size</key>
			<string>{619,870}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17a67517a.png</string>
		</dict>
	</dict>
</plist>
