<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,415},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,415},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>ball_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,499},{72,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{610,499},{72,21}}</string>
				<key>sourceSize</key>
				<string>{72,21}</string>
			</dict>
			<key>ball_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,55},{80,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,55},{80,39}}</string>
				<key>sourceSize</key>
				<string>{80,39}</string>
			</dict>
			<key>barrage_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,211},{250,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,211},{250,30}}</string>
				<key>sourceSize</key>
				<string>{250,30}</string>
			</dict>
			<key>barrage_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,155},{50,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{95,155},{50,33}}</string>
				<key>sourceSize</key>
				<string>{50,33}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,728},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{506,728},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>btn_add_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,728},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{389,728},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>btn_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,600},{160,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{343,600},{160,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>
			<key>btn_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,728},{160,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{564,728},{160,40}}</string>
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,121},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,121},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>btn_receive.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,247},{260,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{526,247},{260,61}}</string>
				<key>sourceSize</key>
				<string>{260,61}</string>
			</dict>
			<key>btn_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,728},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,728},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,55},{300,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,55},{300,60}}</string>
				<key>sourceSize</key>
				<string>{300,60}</string>
			</dict>
			<key>chip_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,600},{180,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{137,600},{180,200}}</string>
				<key>sourceSize</key>
				<string>{180,200}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,155},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,155},{50,46}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>icon_ball_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,155},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,155},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>icon_ball_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,183},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,183},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>icon_target.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,649},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,649},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>item_other_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,640},{375,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,640},{375,34}}</string>
				<key>sourceSize</key>
				<string>{375,34}</string>
			</dict>
			<key>item_other_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,211},{375,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{486,211},{375,34}}</string>
				<key>sourceSize</key>
				<string>{375,34}</string>
			</dict>
			<key>item_self_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,600},{375,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,600},{375,34}}</string>
				<key>sourceSize</key>
				<string>{375,34}</string>
			</dict>
			<key>item_self_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,211},{375,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,211},{375,34}}</string>
				<key>sourceSize</key>
				<string>{375,34}</string>
			</dict>
			<key>online_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,499},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,499},{68,56}}</string>
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>player_bg_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,3},{202,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{666,3},{202,94}}</string>
				<key>sourceSize</key>
				<string>{202,94}</string>
			</dict>
			<key>player_bg_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,55},{202,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,55},{202,94}}</string>
				<key>sourceSize</key>
				<string>{202,94}</string>
			</dict>
			<key>player_head_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,121},{76,82}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,121},{76,82}}</string>
				<key>sourceSize</key>
				<string>{79,82}</string>
			</dict>
			<key>player_head_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,121},{77,82}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,121},{77,82}}</string>
				<key>sourceSize</key>
				<string>{79,82}</string>
			</dict>
			<key>player_head_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,121},{70,82}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,121},{70,82}}</string>
				<key>sourceSize</key>
				<string>{79,82}</string>
			</dict>
			<key>rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,211},{370,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,211},{370,383}}</string>
				<key>sourceSize</key>
				<string>{370,383}</string>
			</dict>
			<key>rank_item_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,600},{50,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,600},{50,34}}</string>
				<key>sourceSize</key>
				<string>{50,34}</string>
			</dict>
			<key>rank_item_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,155},{50,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,155},{50,34}}</string>
				<key>sourceSize</key>
				<string>{50,34}</string>
			</dict>
			<key>rank_order_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,446},{31,26}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{750,446},{31,26}}</string>
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>rank_order_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,415},{30,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,415},{30,25}}</string>
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>rank_order_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,728},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{730,728},{30,31}}</string>
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>rank_tab.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,155},{186,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,155},{186,42}}</string>
				<key>sourceSize</key>
				<string>{186,42}</string>
			</dict>
			<key>rank_title_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,680},{369,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,680},{369,42}}</string>
				<key>sourceSize</key>
				<string>{369,42}</string>
			</dict>
			<key>right_bottom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{657,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{657,46}}</string>
				<key>sourceSize</key>
				<string>{657,46}</string>
			</dict>
			<key>round_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,211},{432,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,211},{432,61}}</string>
				<key>sourceSize</key>
				<string>{432,61}</string>
			</dict>
			<key>shoot_point_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,513},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,513},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,331},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,331},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,331},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,331},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,415},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,415},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,55},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,55},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,247},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,247},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>shoot_point_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,247},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,247},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>tuowei.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,488},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,488},{60,59}}</string>
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ddaaef75.png</string>
			<key>size</key>
			<string>{783,783}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ddaaef75.png</string>
		</dict>
	</dict>
</plist>
