<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,351},{342,126}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,351},{342,126}}</string>
				<key>sourceSize</key>
				<string>{344,126}</string>
			</dict>
			<key>desk_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,3},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{334,3},{130,78}}</string>
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>desk_bankerpair.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,3},{153,61}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,3},{153,61}}</string>
				<key>sourceSize</key>
				<string>{153,62}</string>
			</dict>
			<key>desk_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,162},{113,83}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,162},{113,83}}</string>
				<key>sourceSize</key>
				<string>{114,83}</string>
			</dict>
			<key>desk_playerpair.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,281},{141,64}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,281},{141,64}}</string>
				<key>sourceSize</key>
				<string>{141,65}</string>
			</dict>
			<key>desk_tie.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,351},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,351},{56,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>
			<key>pwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{342,126}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{342,126}}</string>
				<key>sourceSize</key>
				<string>{344,126}</string>
			</dict>
			<key>show_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,139},{115,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{356,139},{115,24}}</string>
				<key>sourceSize</key>
				<string>{115,24}</string>
			</dict>
			<key>show_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,139},{110,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{386,139},{110,24}}</string>
				<key>sourceSize</key>
				<string>{110,24}</string>
			</dict>
			<key>tiewin.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,3},{342,126}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{135,3},{342,126}}</string>
				<key>sourceSize</key>
				<string>{344,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1690755a9.png</string>
			<key>size</key>
			<string>{415,480}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1690755a9.png</string>
		</dict>
	</dict>
</plist>
