<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bestPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,570},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,570},{104,84}}</string>
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>btn_addCash.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,388},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,388},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,225},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,225},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,445},{34,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,445},{34,38}}</string>
				<key>sourceSize</key>
				<string>{34,38}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,283},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,283},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>img_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,462},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,462},{210,45}}</string>
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>img_playerNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,341},{41,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{193,341},{41,31}}</string>
				<key>sourceSize</key>
				<string>{41,31}</string>
			</dict>
			<key>img_room_list_content_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,3},{121,561}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,3},{121,561}}</string>
				<key>sourceSize</key>
				<string>{121,561}</string>
			</dict>
			<key>img_selectGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{230,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{230,216}}</string>
				<key>sourceSize</key>
				<string>{230,216}</string>
			</dict>
			<key>img_top_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,570},{86,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{278,570},{86,80}}</string>
				<key>sourceSize</key>
				<string>{86,80}</string>
			</dict>
			<key>maskBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,462},{231,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,462},{231,46}}</string>
				<key>sourceSize</key>
				<string>{231,46}</string>
			</dict>
			<key>maskTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,225},{231,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,225},{231,122}}</string>
				<key>sourceSize</key>
				<string>{231,122}</string>
			</dict>
			<key>modelLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,437},{2,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{131,437},{2,57}}</string>
				<key>sourceSize</key>
				<string>{2,57}</string>
			</dict>
			<key>toggleModel_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,225},{206,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{131,225},{206,56}}</string>
				<key>sourceSize</key>
				<string>{206,56}</string>
			</dict>
			<key>toggleModel_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,462},{212,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,462},{212,56}}</string>
				<key>sourceSize</key>
				<string>{212,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>145dbeaf5.png</string>
			<key>size</key>
			<string>{367,696}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>145dbeaf5.png</string>
		</dict>
	</dict>
</plist>
