<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,759},{162,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{86,759},{162,70}}</string>
				<key>sourceSize</key>
				<string>{163,70}</string>
			</dict>
			<key>icon_address.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,541},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{990,541},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>setting_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{613,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{613,750}}</string>
				<key>sourceSize</key>
				<string>{613,750}</string>
			</dict>
			<key>sprite_chat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,636},{80,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{622,636},{80,279}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_chat_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,881},{54,55}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,881},{54,55}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_chat_blue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,722},{80,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{791,722},{80,279}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_chat_blue_t2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,845},{54,55}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{606,845},{54,55}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_chat_blue_t2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,932},{80,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,932},{80,279}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_chat_purple_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,941},{54,55}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,941},{54,55}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_face_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,875},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,875},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>sprite_face_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,759},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,759},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>sprite_face_bg_blue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,875},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,875},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>sprite_face_bg_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,865},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{500,865},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>sprite_face_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,761},{54,56}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,761},{54,56}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_face_blue_t2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,701},{54,56}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,701},{54,56}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_face_blue_t2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,722},{80,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,722},{80,279}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_face_purple_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,821},{54,56}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,821},{54,56}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_face_purple_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,759},{80,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{506,759},{80,279}}</string>
				<key>sourceSize</key>
				<string>{80,279}</string>
			</dict>
			<key>sprite_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,759},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,759},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>sprite_head_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,759},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,759},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>sprite_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,541},{362,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,541},{362,89}}</string>
				<key>sourceSize</key>
				<string>{362,89}</string>
			</dict>
			<key>sprite_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,636},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,636},{59,56}}</string>
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>
			<key>sprite_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,475},{380,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,475},{380,60}}</string>
				<key>sourceSize</key>
				<string>{380,60}</string>
			</dict>
			<key>sprite_item_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,73},{382,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,73},{382,63}}</string>
				<key>sourceSize</key>
				<string>{382,63}</string>
			</dict>
			<key>sprite_item_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,277},{380,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,277},{380,60}}</string>
				<key>sourceSize</key>
				<string>{380,60}</string>
			</dict>
			<key>sprite_item_bg_blue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,142},{382,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,142},{382,63}}</string>
				<key>sourceSize</key>
				<string>{382,63}</string>
			</dict>
			<key>sprite_item_bg_blue_t2_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,343},{380,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,343},{380,60}}</string>
				<key>sourceSize</key>
				<string>{380,60}</string>
			</dict>
			<key>sprite_item_bg_blue_t2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,211},{380,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,211},{380,60}}</string>
				<key>sourceSize</key>
				<string>{380,60}</string>
			</dict>
			<key>sprite_item_bg_purple_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,3},{384,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,3},{384,64}}</string>
				<key>sourceSize</key>
				<string>{384,64}</string>
			</dict>
			<key>sprite_item_bg_purple_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,409},{380,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,409},{380,60}}</string>
				<key>sourceSize</key>
				<string>{380,60}</string>
			</dict>
			<key>sprite_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,3},{22,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1012,3},{22,1}}</string>
				<key>sourceSize</key>
				<string>{22,1}</string>
			</dict>
			<key>sprite_msg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,759},{167,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,759},{167,77}}</string>
				<key>sourceSize</key>
				<string>{167,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1465fc16f.png</string>
			<key>size</key>
			<string>{1022,1015}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1465fc16f.png</string>
		</dict>
	</dict>
</plist>
