<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{800,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{800,457}}</string>
				<key>sourceSize</key>
				<string>{806,463}</string>
			</dict>
			<key>btn_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,720},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,720},{66,73}}</string>
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,720},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{722,720},{66,73}}</string>
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,566},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{750,566},{66,73}}</string>
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,638},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,638},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>countdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,783},{154,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,783},{154,46}}</string>
				<key>sourceSize</key>
				<string>{154,46}</string>
			</dict>
			<key>img_changeroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,466},{121,113}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,466},{121,113}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_exit_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,593},{121,108}}</string>
				<key>offset</key>
				<string>{-20,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{636,593},{121,108}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_out_withdraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,635},{150,127}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{480,635},{150,127}}</string>
				<key>sourceSize</key>
				<string>{151,127}</string>
			</dict>
			<key>img_server_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,466},{105,94}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{722,466},{105,94}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_slots_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,466},{163,145}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,466},{163,145}}</string>
				<key>sourceSize</key>
				<string>{164,145}</string>
			</dict>
			<key>light_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,466},{332,324}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,466},{332,324}}</string>
				<key>sourceSize</key>
				<string>{364,364}</string>
			</dict>
			<key>num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,768},{151,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{493,768},{151,34}}</string>
				<key>sourceSize</key>
				<string>{151,34}</string>
			</dict>
			<key>pig.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,635},{142,141}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,635},{142,141}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,466},{159,113}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{484,466},{159,113}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>14ff49980.png</string>
			<key>size</key>
			<string>{830,832}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>14ff49980.png</string>
		</dict>
	</dict>
</plist>
