<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,591},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,591},{158,82}}</string>
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,297},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,297},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,297},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{104,297},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,3},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{104,3},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,3},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{205,3},{40,21}}</string>
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>txt_totalBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,666},{85,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,666},{85,25}}</string>
				<key>sourceSize</key>
				<string>{85,25}</string>
			</dict>
			<key>txt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,591},{69,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,591},{69,46}}</string>
				<key>sourceSize</key>
				<string>{69,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19841d759.png</string>
			<key>size</key>
			<string>{255,694}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19841d759.png</string>
		</dict>
	</dict>
</plist>
