<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,3},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{104,3},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,591},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,591},{158,82}}</string>
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,297},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,297},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>btn_stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,297},{288,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{104,297},{288,95}}</string>
				<key>sourceSize</key>
				<string>{288,95}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,113},{38,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{205,113},{38,16}}</string>
				<key>sourceSize</key>
				<string>{38,16}</string>
			</dict>
			<key>txt_totalBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,3},{104,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{205,3},{104,19}}</string>
				<key>sourceSize</key>
				<string>{104,19}</string>
			</dict>
			<key>txt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,591},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,591},{82,38}}</string>
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19a45805a.png</string>
			<key>size</key>
			<string>{227,676}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19a45805a.png</string>
		</dict>
	</dict>
</plist>
