<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,368},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{369,368},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>autobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,254},{87,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{249,254},{87,193}}</string>
				<key>sourceSize</key>
				<string>{87,193}</string>
			</dict>
			<key>bgBalance.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,3},{262,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,3},{262,76}}</string>
				<key>sourceSize</key>
				<string>{262,76}</string>
			</dict>
			<key>bgBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,536},{240,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,536},{240,90}}</string>
				<key>sourceSize</key>
				<string>{240,90}</string>
			</dict>
			<key>bgButtonGroup.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{527,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{527,118}}</string>
				<key>sourceSize</key>
				<string>{527,118}</string>
			</dict>
			<key>bgWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,3},{508,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{127,3},{508,107}}</string>
				<key>sourceSize</key>
				<string>{508,107}</string>
			</dict>
			<key>btn_addMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,300},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,300},{50,62}}</string>
				<key>sourceSize</key>
				<string>{50,62}</string>
			</dict>
			<key>btn_betAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,368},{135,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{240,368},{135,77}}</string>
				<key>sourceSize</key>
				<string>{135,77}</string>
			</dict>
			<key>btn_betDel.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,504},{121,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{374,504},{121,77}}</string>
				<key>sourceSize</key>
				<string>{121,77}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,368},{135,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{323,368},{135,40}}</string>
				<key>sourceSize</key>
				<string>{135,40}</string>
			</dict>
			<key>btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,509},{88,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{286,509},{88,82}}</string>
				<key>sourceSize</key>
				<string>{88,82}</string>
			</dict>
			<key>choicebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,509},{94,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{249,509},{94,31}}</string>
				<key>sourceSize</key>
				<string>{94,31}</string>
			</dict>
			<key>choicebg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,109},{185,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{470,109},{185,36}}</string>
				<key>sourceSize</key>
				<string>{185,36}</string>
			</dict>
			<key>extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,85},{163,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{249,85},{163,215}}</string>
				<key>sourceSize</key>
				<string>{163,215}</string>
			</dict>
			<key>∞.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,85},{38,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{470,85},{38,18}}</string>
				<key>sourceSize</key>
				<string>{38,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19f16461c.png</string>
			<key>size</key>
			<string>{511,629}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19f16461c.png</string>
		</dict>
	</dict>
</plist>
