<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{94,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,176}}</string>
				<key>sourceSize</key>
				<string>{94,176}</string>
			</dict>
			<key>card_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{31,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{97,0},{31,55}}</string>
				<key>sourceSize</key>
				<string>{31,55}</string>
			</dict>
			<key>card_back_dun.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{57,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,0},{57,107}}</string>
				<key>sourceSize</key>
				<string>{57,107}</string>
			</dict>
			<key>card_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,0},{46,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,0},{46,90}}</string>
				<key>sourceSize</key>
				<string>{46,90}</string>
			</dict>
			<key>card_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{93,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,0},{93,176}}</string>
				<key>sourceSize</key>
				<string>{93,176}</string>
			</dict>
			<key>card_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,179},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,179},{90,46}}</string>
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
			<key>fold_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,179},{25,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,179},{25,47}}</string>
				<key>sourceSize</key>
				<string>{25,47}</string>
			</dict>
			<key>light_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,179},{25,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,179},{25,47}}</string>
				<key>sourceSize</key>
				<string>{25,47}</string>
			</dict>
			<key>point_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,179},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,179},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>point_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,179},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,179},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>point_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,179},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,179},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>point_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,244},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>point_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,244},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,244},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>point_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,244},{58,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,244},{58,62}}</string>
				<key>sourceSize</key>
				<string>{58,62}</string>
			</dict>
			<key>point_op_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,244},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,244},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,244},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,244},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,244},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,244},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,244},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,244},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,309},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,309},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,309},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>point_op_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,309},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,309},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bone_card.png</string>
			<key>size</key>
			<string>{339,339}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bone_card.png</string>
		</dict>
	</dict>
</plist>
