<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>+1.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,465},{113,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{349,465},{113,46}}</string>
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>+2.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,465},{113,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{297,465},{113,46}}</string>
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>+3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,498},{113,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,498},{113,46}}</string>
				<key>sourceSize</key>
				<string>{113,46}</string>
			</dict>
			<key>-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,345},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{727,345},{114,46}}</string>
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,465},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{726,465},{114,46}}</string>
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,448},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{245,448},{114,46}}</string>
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,203},{120,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,203},{120,33}}</string>
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>betLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,490},{162,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{778,490},{162,35}}</string>
				<key>sourceSize</key>
				<string>{162,35}</string>
			</dict>
			<key>bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,3},{226,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,3},{226,49}}</string>
				<key>sourceSize</key>
				<string>{226,49}</string>
			</dict>
			<key>btn_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,203},{217,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{405,203},{217,54}}</string>
				<key>sourceSize</key>
				<string>{217,54}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,263},{217,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{405,263},{217,54}}</string>
				<key>sourceSize</key>
				<string>{217,54}</string>
			</dict>
			<key>btn_buyFree.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,531},{153,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{778,531},{153,61}}</string>
				<key>sourceSize</key>
				<string>{153,61}</string>
			</dict>
			<key>btn_buyFree_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,544},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{616,544},{34,35}}</string>
				<key>sourceSize</key>
				<string>{34,35}</string>
			</dict>
			<key>btn_buyFree_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,545},{40,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,545},{40,32}}</string>
				<key>sourceSize</key>
				<string>{40,32}</string>
			</dict>
			<key>btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,113},{282,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{329,113},{282,70}}</string>
				<key>sourceSize</key>
				<string>{282,70}</string>
			</dict>
			<key>buyFree_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,323},{194,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{405,323},{194,169}}</string>
				<key>sourceSize</key>
				<string>{194,169}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,113},{320,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,113},{320,55}}</string>
				<key>sourceSize</key>
				<string>{320,55}</string>
			</dict>
			<key>gold_extend.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,3},{194,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{417,3},{194,359}}</string>
				<key>sourceSize</key>
				<string>{194,359}</string>
			</dict>
			<key>img_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,242},{97,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{750,242},{97,24}}</string>
				<key>sourceSize</key>
				<string>{97,24}</string>
			</dict>
			<key>jinbi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,387},{298,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,387},{298,55}}</string>
				<key>sourceSize</key>
				<string>{298,55}</string>
			</dict>
			<key>lsk.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,260},{185,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,260},{185,54}}</string>
				<key>sourceSize</key>
				<string>{185,54}</string>
			</dict>
			<key>max_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,343},{116,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{605,343},{116,95}}</string>
				<key>sourceSize</key>
				<string>{116,95}</string>
			</dict>
			<key>max_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,242},{116,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,242},{116,95}}</string>
				<key>sourceSize</key>
				<string>{116,95}</string>
			</dict>
			<key>multiple_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,320},{164,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{780,320},{164,177}}</string>
				<key>sourceSize</key>
				<string>{164,178}</string>
			</dict>
			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,565},{66,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,565},{66,54}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>plus1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,505},{66,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{946,505},{66,54}}</string>
				<key>sourceSize</key>
				<string>{66,55}</string>
			</dict>
			<key>rule_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,448},{115,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,448},{115,94}}</string>
				<key>sourceSize</key>
				<string>{115,94}</string>
			</dict>
			<key>rule_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,448},{115,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,448},{115,94}}</string>
				<key>sourceSize</key>
				<string>{115,94}</string>
			</dict>
			<key>rule_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,444},{115,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{605,444},{115,94}}</string>
				<key>sourceSize</key>
				<string>{115,94}</string>
			</dict>
			<key>score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,174},{207,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,174},{207,303}}</string>
				<key>sourceSize</key>
				<string>{207,303}</string>
			</dict>
			<key>score_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,260},{163,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{971,260},{163,47}}</string>
				<key>sourceSize</key>
				<string>{163,47}</string>
			</dict>
			<key>set.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,429},{70,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{963,429},{70,58}}</string>
				<key>sourceSize</key>
				<string>{70,58}</string>
			</dict>
			<key>set_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,401},{70,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,401},{70,58}}</string>
				<key>sourceSize</key>
				<string>{70,58}</string>
			</dict>
			<key>speed_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,498},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,498},{44,41}}</string>
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>speed_select_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,544},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{570,544},{40,39}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>stop_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,159},{219,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,159},{219,95}}</string>
				<key>sourceSize</key>
				<string>{219,95}</string>
			</dict>
			<key>stop_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,58},{219,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{782,58},{219,95}}</string>
				<key>sourceSize</key>
				<string>{219,95}</string>
			</dict>
			<key>win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{408,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{408,104}}</string>
				<key>sourceSize</key>
				<string>{408,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ec1d3f93.png</string>
			<key>size</key>
			<string>{1024,622}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ec1d3f93.png</string>
		</dict>
	</dict>
</plist>
