<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,583},{26,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,583},{26,35}}</string>
				<key>sourceSize</key>
				<string>{26,35}</string>
			</dict>
			<key>img_bg_ele.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{661,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{661,152}}</string>
				<key>sourceSize</key>
				<string>{661,152}</string>
			</dict>
			<key>img_title_jipaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,486},{85,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,486},{85,26}}</string>
				<key>sourceSize</key>
				<string>{85,26}</string>
			</dict>
			<key>label_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,438},{70,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,438},{70,42}}</string>
				<key>sourceSize</key>
				<string>{70,42}</string>
			</dict>
			<key>label_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,583},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{202,583},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>
			<key>label_op_double_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,670},{106,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,670},{106,25}}</string>
				<key>sourceSize</key>
				<string>{106,25}</string>
			</dict>
			<key>label_op_double_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,708},{94,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,708},{94,22}}</string>
				<key>sourceSize</key>
				<string>{94,22}</string>
			</dict>
			<key>label_op_hit_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,549},{44,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{226,549},{44,25}}</string>
				<key>sourceSize</key>
				<string>{44,25}</string>
			</dict>
			<key>label_op_hit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,615},{37,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,615},{37,22}}</string>
				<key>sourceSize</key>
				<string>{37,22}</string>
			</dict>
			<key>label_op_split_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,701},{67,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,701},{67,31}}</string>
				<key>sourceSize</key>
				<string>{67,31}</string>
			</dict>
			<key>label_op_split_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,549},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,549},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>
			<key>label_op_stand_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,518},{84,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,518},{84,25}}</string>
				<key>sourceSize</key>
				<string>{84,25}</string>
			</dict>
			<key>label_op_stand_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,708},{74,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,708},{74,22}}</string>
				<key>sourceSize</key>
				<string>{74,22}</string>
			</dict>
			<key>label_wait_next_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,3},{429,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,3},{429,85}}</string>
				<key>sourceSize</key>
				<string>{429,85}</string>
			</dict>
			<key>lb_insure.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,670},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,670},{120,32}}</string>
				<key>sourceSize</key>
				<string>{120,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b25a17a1.png</string>
			<key>size</key>
			<string>{254,735}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b25a17a1.png</string>
		</dict>
	</dict>
</plist>
