<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_jpq.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,638},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,638},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>img_clock_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,3},{69,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{951,3},{69,68}}</string>
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>
			<key>img_desk_timer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,493},{936,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,493},{936,483}}</string>
				<key>sourceSize</key>
				<string>{936,483}</string>
			</dict>
			<key>img_desk_timer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{942,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{942,484}}</string>
				<key>sourceSize</key>
				<string>{942,484}</string>
			</dict>
			<key>img_ele_card_pool_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,876},{84,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1002,876},{84,11}}</string>
				<key>sourceSize</key>
				<string>{84,11}</string>
			</dict>
			<key>img_ele_card_pool_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1011},{82,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{459,1011},{82,9}}</string>
				<key>sourceSize</key>
				<string>{82,9}</string>
			</dict>
			<key>img_op_bet_confirm_selector_cur_value_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,876},{141,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,876},{141,51}}</string>
				<key>sourceSize</key>
				<string>{141,51}</string>
			</dict>
			<key>img_op_bet_rebet_label_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,982},{102,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{459,982},{102,23}}</string>
				<key>sourceSize</key>
				<string>{102,23}</string>
			</dict>
			<key>img_op_icon_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,982},{57,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{396,982},{57,27}}</string>
				<key>sourceSize</key>
				<string>{57,27}</string>
			</dict>
			<key>img_op_icon_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,982},{36,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{295,982},{36,45}}</string>
				<key>sourceSize</key>
				<string>{36,45}</string>
			</dict>
			<key>img_op_icon_stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,982},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{346,982},{33,44}}</string>
				<key>sourceSize</key>
				<string>{33,44}</string>
			</dict>
			<key>img_result_bg_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,709},{161,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,709},{161,63}}</string>
				<key>sourceSize</key>
				<string>{161,63}</string>
			</dict>
			<key>img_user_op_talk_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,503},{129,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,503},{129,66}}</string>
				<key>sourceSize</key>
				<string>{129,66}</string>
			</dict>
			<key>img_user_op_talk_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,233},{129,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{951,233},{129,66}}</string>
				<key>sourceSize</key>
				<string>{129,66}</string>
			</dict>
			<key>img_user_op_talk_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,98},{129,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{951,98},{129,66}}</string>
				<key>sourceSize</key>
				<string>{129,66}</string>
			</dict>
			<key>img_user_op_talk_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,368},{129,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{951,368},{129,66}}</string>
				<key>sourceSize</key>
				<string>{129,66}</string>
			</dict>
			<key>label_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,982},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,982},{53,38}}</string>
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>label_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,982},{92,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,982},{92,37}}</string>
				<key>sourceSize</key>
				<string>{92,37}</string>
			</dict>
			<key>label_double_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,77},{69,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{951,77},{69,15}}</string>
				<key>sourceSize</key>
				<string>{69,15}</string>
			</dict>
			<key>label_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,982},{64,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,982},{64,37}}</string>
				<key>sourceSize</key>
				<string>{64,37}</string>
			</dict>
			<key>label_min.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,982},{59,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,982},{59,37}}</string>
				<key>sourceSize</key>
				<string>{59,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b68ad0db.png</string>
			<key>size</key>
			<string>{1023,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b68ad0db.png</string>
		</dict>
	</dict>
</plist>
