<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,897},{274,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,897},{274,85}}</string>
				<key>sourceSize</key>
				<string>{274,85}</string>
			</dict>
			<key>rule_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,454},{844,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,454},{844,437}}</string>
				<key>sourceSize</key>
				<string>{844,437}</string>
			</dict>
			<key>rule_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{844,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{844,445}}</string>
				<key>sourceSize</key>
				<string>{844,445}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>123c647e0.png</string>
			<key>size</key>
			<string>{850,985}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>123c647e0.png</string>
		</dict>
	</dict>
</plist>
