<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_GuestLogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,3},{428,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{165,3},{428,80}}</string>
				<key>sourceSize</key>
				<string>{428,80}</string>
			</dict>
			<key>btn_OPTbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,854},{157,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,854},{157,73}}</string>
				<key>sourceSize</key>
				<string>{157,73}</string>
			</dict>
			<key>btn_customer.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,437},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,437},{62,64}}</string>
				<key>sourceSize</key>
				<string>{62,64}</string>
			</dict>
			<key>btn_delAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,690},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,690},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>btn_phoneLogin.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,3},{534,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{57,3},{534,80}}</string>
				<key>sourceSize</key>
				<string>{534,80}</string>
			</dict>
			<key>btn_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,742},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{193,742},{42,44}}</string>
				<key>sourceSize</key>
				<string>{42,44}</string>
			</dict>
			<key>icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,649},{31,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,649},{31,35}}</string>
				<key>sourceSize</key>
				<string>{31,35}</string>
			</dict>
			<key>icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,926},{35,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,926},{35,39}}</string>
				<key>sourceSize</key>
				<string>{35,39}</string>
			</dict>
			<key>icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,926},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,926},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,605},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,605},{38,36}}</string>
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>icon_code.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,833},{40,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,833},{40,49}}</string>
				<key>sourceSize</key>
				<string>{40,49}</string>
			</dict>
			<key>icon_online.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,750},{57,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,750},{57,38}}</string>
				<key>sourceSize</key>
				<string>{57,38}</string>
			</dict>
			<key>img_login_language_en_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,995},{85,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,995},{85,25}}</string>
				<key>sourceSize</key>
				<string>{85,25}</string>
			</dict>
			<key>img_login_language_en_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,711},{89,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,711},{89,29}}</string>
				<key>sourceSize</key>
				<string>{89,29}</string>
			</dict>
			<key>img_login_language_ida_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,605},{131,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{185,605},{131,20}}</string>
				<key>sourceSize</key>
				<string>{131,20}</string>
			</dict>
			<key>img_login_language_ida_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,995},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,995},{135,24}}</string>
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>img_login_language_in_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,832},{44,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{212,832},{44,28}}</string>
				<key>sourceSize</key>
				<string>{44,28}</string>
			</dict>
			<key>img_login_language_in_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,794},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,794},{48,32}}</string>
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>img_login_language_pak_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,507},{44,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,507},{44,28}}</string>
				<key>sourceSize</key>
				<string>{44,28}</string>
			</dict>
			<key>img_login_language_pak_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,888},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,888},{48,32}}</string>
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>img_login_language_pt_BR_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,711},{135,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,711},{135,24}}</string>
				<key>sourceSize</key>
				<string>{135,24}</string>
			</dict>
			<key>img_login_language_pt_BR_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,605},{139,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{151,605},{139,28}}</string>
				<key>sourceSize</key>
				<string>{139,28}</string>
			</dict>
			<key>img_onlineBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,628},{220,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,628},{220,56}}</string>
				<key>sourceSize</key>
				<string>{220,56}</string>
			</dict>
			<key>img_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{619,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{619,48}}</string>
				<key>sourceSize</key>
				<string>{619,48}</string>
			</dict>
			<key>or.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,3},{519,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{143,3},{519,16}}</string>
				<key>sourceSize</key>
				<string>{519,16}</string>
			</dict>
			<key>phone_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,605},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,605},{100,80}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>
			<key>phone_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,528},{2,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{143,528},{2,38}}</string>
				<key>sourceSize</key>
				<string>{2,38}</string>
			</dict>
			<key>phone_login_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,794},{33,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{130,794},{33,51}}</string>
				<key>sourceSize</key>
				<string>{33,51}</string>
			</dict>
			<key>toggle_languageNor.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,933},{158,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,933},{158,56}}</string>
				<key>sourceSize</key>
				<string>{158,56}</string>
			</dict>
			<key>toggle_languageSel.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,543},{158,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,543},{158,56}}</string>
				<key>sourceSize</key>
				<string>{158,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1bcf0d1f4.png</string>
			<key>size</key>
			<string>{250,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1bcf0d1f4.png</string>
		</dict>
	</dict>
</plist>
