<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rule_page_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{799,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{799,375}}</string>
				<key>sourceSize</key>
				<string>{799,375}</string>
			</dict>
			<key>rule_page_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,741},{725,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,741},{725,274}}</string>
				<key>sourceSize</key>
				<string>{725,274}</string>
			</dict>
			<key>rule_page_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,384},{795,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,384},{795,351}}</string>
				<key>sourceSize</key>
				<string>{795,351}</string>
			</dict>
			<key>rule_txt_btn_back_en.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,3},{177,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{808,3},{177,37}}</string>
				<key>sourceSize</key>
				<string>{177,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c999c916.png</string>
			<key>size</key>
			<string>{988,1018}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c999c916.png</string>
		</dict>
	</dict>
</plist>
