<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,430},{77,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{268,430},{77,34}}</string>
				<key>sourceSize</key>
				<string>{77,34}</string>
			</dict>
			<key>WIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,3},{66,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,3},{66,37}}</string>
				<key>sourceSize</key>
				<string>{66,37}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,143},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,143},{40,21}}</string>
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>free_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,93},{62,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{175,93},{62,37}}</string>
				<key>sourceSize</key>
				<string>{62,37}</string>
			</dict>
			<key>free_txt_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,341},{165,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{93,341},{165,38}}</string>
				<key>sourceSize</key>
				<string>{165,38}</string>
			</dict>
			<key>free_txt_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,341},{113,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{182,341},{113,41}}</string>
				<key>sourceSize</key>
				<string>{113,41}</string>
			</dict>
			<key>max_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,460},{80,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,460},{80,47}}</string>
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>max_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,430},{80,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,430},{80,47}}</string>
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>quickSpin_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,93},{67,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,93},{67,42}}</string>
				<key>sourceSize</key>
				<string>{67,42}</string>
			</dict>
			<key>spin_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,46},{118,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,46},{118,64}}</string>
				<key>sourceSize</key>
				<string>{118,64}</string>
			</dict>
			<key>spin_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,93},{118,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,93},{118,64}}</string>
				<key>sourceSize</key>
				<string>{118,64}</string>
			</dict>
			<key>stop_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,430},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,430},{97,44}}</string>
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>stop_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,93},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,93},{97,44}}</string>
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>totalMultiple_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,341},{133,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{137,341},{133,39}}</string>
				<key>sourceSize</key>
				<string>{133,39}</string>
			</dict>
			<key>txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,503},{1,1}}</string>
				<key>offset</key>
				<string>{8,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,503},{1,1}}</string>
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>txt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,170},{395,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,170},{395,79}}</string>
				<key>sourceSize</key>
				<string>{395,79}</string>
			</dict>
			<key>txt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,341},{263,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,341},{263,83}}</string>
				<key>sourceSize</key>
				<string>{263,83}</string>
			</dict>
			<key>txt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{432,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{432,84}}</string>
				<key>sourceSize</key>
				<string>{432,84}</string>
			</dict>
			<key>txt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,170},{327,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,170},{327,84}}</string>
				<key>sourceSize</key>
				<string>{327,84}</string>
			</dict>
			<key>txt_buyFree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,93},{114,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{218,93},{114,60}}</string>
				<key>sourceSize</key>
				<string>{114,60}</string>
			</dict>
			<key>txt_buyFree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,255},{389,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,255},{389,80}}</string>
				<key>sourceSize</key>
				<string>{389,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ca603ada.png</string>
			<key>size</key>
			<string>{510,510}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ca603ada.png</string>
		</dict>
	</dict>
</plist>
