<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>brazil_carnival_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,649},{204,75}}</string>
				<key>offset</key>
				<string>{-57,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,649},{204,75}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>brazil_carnival_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,682},{99,21}}</string>
				<key>offset</key>
				<string>{-89,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,682},{99,21}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>down_app_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{284,105}}</string>
				<key>offset</key>
				<string>{-17,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{284,105}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>down_app_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,120},{161,47}}</string>
				<key>offset</key>
				<string>{-58,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{271,120},{161,47}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>email_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,336},{240,106}}</string>
				<key>offset</key>
				<string>{-38,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,336},{240,106}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>email_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,893},{121,45}}</string>
				<key>offset</key>
				<string>{-77,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,893},{121,45}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>free_money_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,225},{255,105}}</string>
				<key>offset</key>
				<string>{-32,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,225},{255,105}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>free_money_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,893},{135,45}}</string>
				<key>offset</key>
				<string>{-71,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,893},{135,45}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>gold_tide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,893},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,893},{108,33}}</string>
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>gold_tide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,736},{112,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,736},{112,37}}</string>
				<key>sourceSize</key>
				<string>{112,37}</string>
			</dict>
			<key>gold_tide_slots_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,893},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,893},{108,33}}</string>
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>gold_tide_slots_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,779},{112,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,779},{112,37}}</string>
				<key>sourceSize</key>
				<string>{112,37}</string>
			</dict>
			<key>holiDay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,448},{238,113}}</string>
				<key>offset</key>
				<string>{-40,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,448},{238,113}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>holiDay_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,287},{121,49}}</string>
				<key>offset</key>
				<string>{-76,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{264,287},{121,49}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>img_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,3},{111,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{293,3},{111,24}}</string>
				<key>sourceSize</key>
				<string>{111,24}</string>
			</dict>
			<key>infinite_fission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,114},{262,105}}</string>
				<key>offset</key>
				<string>{-28,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,114},{262,105}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>infinite_fission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,944},{135,45}}</string>
				<key>offset</key>
				<string>{-71,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,944},{135,45}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>license_plate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,414},{235,70}}</string>
				<key>offset</key>
				<string>{-42,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{249,414},{235,70}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>license_plate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,893},{120,22}}</string>
				<key>offset</key>
				<string>{-76,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{54,893},{120,22}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>notice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,812},{180,75}}</string>
				<key>offset</key>
				<string>{-69,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,812},{180,75}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>notice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,995},{84,22}}</string>
				<key>offset</key>
				<string>{-96,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,995},{84,22}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>redeem_code_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,730},{197,76}}</string>
				<key>offset</key>
				<string>{-61,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,730},{197,76}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>redeem_code_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,709},{95,21}}</string>
				<key>offset</key>
				<string>{-92,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,709},{95,21}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>welcome_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,567},{216,76}}</string>
				<key>offset</key>
				<string>{-49,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,567},{216,76}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>welcome_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,655},{106,21}}</string>
				<key>offset</key>
				<string>{-84,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,655},{106,21}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>114637d0c.png</string>
			<key>size</key>
			<string>{322,1020}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>114637d0c.png</string>
		</dict>
	</dict>
</plist>
