<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_convert_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{74,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{74,46}}</string>
				<key>sourceSize</key>
				<string>{74,46}</string>
			</dict>
			<key>label_play_with.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,168},{528,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,168},{528,26}}</string>
				<key>sourceSize</key>
				<string>{528,26}</string>
			</dict>
			<key>label_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,83},{79,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,83},{79,33}}</string>
				<key>sourceSize</key>
				<string>{79,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>11774df02.png</string>
			<key>size</key>
			<string>{52,699}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>11774df02.png</string>
		</dict>
	</dict>
</plist>
