<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,850},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,850},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>btn_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,512},{246,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{254,512},{246,71}}</string>
				<key>sourceSize</key>
				<string>{246,71}</string>
			</dict>
			<key>img_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,631},{109,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,631},{109,27}}</string>
				<key>sourceSize</key>
				<string>{109,27}</string>
			</dict>
			<key>img_gold_bg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,746},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,746},{53,38}}</string>
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>img_gold_bg_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,805},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,805},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>img_gold_bg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,841},{39,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,841},{39,28}}</string>
				<key>sourceSize</key>
				<string>{39,28}</string>
			</dict>
			<key>img_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,944},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,944},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,875},{304,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,875},{304,130}}</string>
				<key>sourceSize</key>
				<string>{308,134}</string>
			</dict>
			<key>img_icon_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,721},{188,143}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,721},{188,143}}</string>
				<key>sourceSize</key>
				<string>{192,145}</string>
			</dict>
			<key>img_icon_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,510},{245,205}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,510},{245,205}}</string>
				<key>sourceSize</key>
				<string>{248,209}</string>
			</dict>
			<key>img_icon_gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,261},{280,243}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,261},{280,243}}</string>
				<key>sourceSize</key>
				<string>{288,245}</string>
			</dict>
			<key>img_icon_gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{347,252}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{347,252}}</string>
				<key>sourceSize</key>
				<string>{351,254}</string>
			</dict>
			<key>img_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,3},{393,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,3},{393,52}}</string>
				<key>sourceSize</key>
				<string>{393,52}</string>
			</dict>
			<key>img_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,261},{245,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{289,261},{245,57}}</string>
				<key>sourceSize</key>
				<string>{245,57}</string>
			</dict>
			<key>img_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,402},{223,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,402},{223,39}}</string>
				<key>sourceSize</key>
				<string>{245,57}</string>
			</dict>
			<key>img_tips_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,3},{841,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{356,3},{841,49}}</string>
				<key>sourceSize</key>
				<string>{841,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1185e3bbb.png</string>
			<key>size</key>
			<string>{466,1008}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1185e3bbb.png</string>
		</dict>
	</dict>
</plist>
