<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_getCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,544},{219,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{207,544},{219,35}}</string>
				<key>sourceSize</key>
				<string>{219,35}</string>
			</dict>
			<key>btn_lb_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,956},{45,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,956},{45,27}}</string>
				<key>sourceSize</key>
				<string>{45,27}</string>
			</dict>
			<key>btn_redeem.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,788},{118,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{150,788},{118,30}}</string>
				<key>sourceSize</key>
				<string>{118,30}</string>
			</dict>
			<key>label_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,912},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,912},{82,38}}</string>
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>lb_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,3},{535,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{150,3},{535,54}}</string>
				<key>sourceSize</key>
				<string>{535,54}</string>
			</dict>
			<key>txt_joinUs.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{982,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{982,141}}</string>
				<key>sourceSize</key>
				<string>{982,141}</string>
			</dict>
			<key>txt_luckyDraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,544},{238,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{150,544},{238,51}}</string>
				<key>sourceSize</key>
				<string>{238,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>11e42ee76.png</string>
			<key>size</key>
			<string>{245,988}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>11e42ee76.png</string>
		</dict>
	</dict>
</plist>
