<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{269,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{5,5},{269,296}}</string>
				<key>sourceSize</key>
				<string>{269,296}</string>
			</dict>
			<key>img_zs.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,5},{161,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{365,5},{161,77}}</string>
				<key>sourceSize</key>
				<string>{161,77}</string>
			</dict>
			<key>lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,176},{146,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{365,176},{146,54}}</string>
				<key>sourceSize</key>
				<string>{146,54}</string>
			</dict>
			<key>reslut_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,5},{256,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{311,5},{256,42}}</string>
				<key>sourceSize</key>
				<string>{256,42}</string>
			</dict>
			<key>sprite_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,284},{222,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{5,284},{222,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>sprite_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,284},{222,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{125,284},{222,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>sprite_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,284},{218,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{305,284},{218,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>sprite_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,284},{220,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{245,284},{220,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>sprite_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,284},{222,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{65,284},{222,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>sprite_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,284},{220,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{185,284},{220,50}}</string>
				<key>sourceSize</key>
				<string>{222,50}</string>
			</dict>
			<key>timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,461},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,461},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>timer_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,461},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,461},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,332},{119,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{365,332},{119,53}}</string>
				<key>sourceSize</key>
				<string>{119,53}</string>
			</dict>
			<key>win-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,176},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,176},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>win0.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,211},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,211},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>win1.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,246},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,246},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>156aa2fe2.png</string>
			<key>size</key>
			<string>{460,511}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>156aa2fe2.png</string>
		</dict>
	</dict>
</plist>
