<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{192,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{192,84}}</string>
				<key>sourceSize</key>
				<string>{192,84}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,296},{303,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{524,296},{303,461}}</string>
				<key>sourceSize</key>
				<string>{303,461}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,528},{296,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,528},{296,454}}</string>
				<key>sourceSize</key>
				<string>{296,454}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,3},{287,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{524,3},{287,274}}</string>
				<key>sourceSize</key>
				<string>{287,274}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,93},{261,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,93},{261,125}}</string>
				<key>sourceSize</key>
				<string>{261,125}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,3},{249,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{270,3},{249,245}}</string>
				<key>sourceSize</key>
				<string>{249,245}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,258},{293,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,258},{293,264}}</string>
				<key>sourceSize</key>
				<string>{293,264}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,224},{196,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,224},{196,216}}</string>
				<key>sourceSize</key>
				<string>{196,216}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1db414551.png</string>
			<key>size</key>
			<string>{830,827}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1db414551.png</string>
		</dict>
	</dict>
</plist>
