<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,189},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,189},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,477},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,477},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>imgPanelMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,375},{66,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,375},{66,80}}</string>
				<key>sourceSize</key>
				<string>{67,80}</string>
			</dict>
			<key>lock_pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,375},{174,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,375},{174,96}}</string>
				<key>sourceSize</key>
				<string>{174,96}</string>
			</dict>
			<key>new.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,477},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,477},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>16077a863.png</string>
			<key>size</key>
			<string>{252,570}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>16077a863.png</string>
		</dict>
	</dict>
</plist>
