<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>copyCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,670},{160,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,670},{160,35}}</string>
				<key>sourceSize</key>
				<string>{160,35}</string>
			</dict>
			<key>createdAt.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,116},{100,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,116},{100,18}}</string>
				<key>sourceSize</key>
				<string>{100,18}</string>
			</dict>
			<key>orderCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,3},{107,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,3},{107,18}}</string>
				<key>sourceSize</key>
				<string>{107,18}</string>
			</dict>
			<key>orderNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,222},{88,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,222},{88,18}}</string>
				<key>sourceSize</key>
				<string>{88,18}</string>
			</dict>
			<key>paid.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,316},{62,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,316},{62,28}}</string>
				<key>sourceSize</key>
				<string>{62,28}</string>
			</dict>
			<key>payOrder.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,435},{229,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,435},{229,32}}</string>
				<key>sourceSize</key>
				<string>{229,32}</string>
			</dict>
			<key>payOrderMins.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{426,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{426,23}}</string>
				<key>sourceSize</key>
				<string>{426,23}</string>
			</dict>
			<key>time.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,384},{55,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{41,384},{55,17}}</string>
				<key>sourceSize</key>
				<string>{55,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1658c7644.png</string>
			<key>size</key>
			<string>{63,833}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1658c7644.png</string>
		</dict>
	</dict>
</plist>
