<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,681},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{804,681},{239,48}}</string>
				<key>sourceSize</key>
				<string>{239,48}</string>
			</dict>
			<key>btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,401},{274,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{804,401},{274,85}}</string>
				<key>sourceSize</key>
				<string>{274,85}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,3},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,3},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>close_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,681},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{858,681},{239,48}}</string>
				<key>sourceSize</key>
				<string>{239,48}</string>
			</dict>
			<key>img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,401},{795,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,401},{795,492}}</string>
				<key>sourceSize</key>
				<string>{795,492}</string>
			</dict>
			<key>up_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{874,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{874,392}}</string>
				<key>sourceSize</key>
				<string>{874,392}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>149997cdd.png</string>
			<key>size</key>
			<string>{928,923}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>149997cdd.png</string>
		</dict>
	</dict>
</plist>
