<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_getCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,3},{190,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{200,3},{190,38}}</string>
				<key>sourceSize</key>
				<string>{190,38}</string>
			</dict>
			<key>btn_lb_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,833},{45,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{164,833},{45,27}}</string>
				<key>sourceSize</key>
				<string>{45,27}</string>
			</dict>
			<key>btn_redeem.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,745},{78,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{208,745},{78,36}}</string>
				<key>sourceSize</key>
				<string>{78,36}</string>
			</dict>
			<key>label_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,745},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{164,745},{82,38}}</string>
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
			<key>lb_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,3},{492,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{164,3},{492,30}}</string>
				<key>sourceSize</key>
				<string>{492,30}</string>
			</dict>
			<key>txt_joinUs.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{859,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{859,155}}</string>
				<key>sourceSize</key>
				<string>{859,155}</string>
			</dict>
			<key>txt_luckyDraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,501},{238,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{164,501},{238,51}}</string>
				<key>sourceSize</key>
				<string>{238,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b22969be.png</string>
			<key>size</key>
			<string>{247,865}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b22969be.png</string>
		</dict>
	</dict>
</plist>
