<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,713},{55,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{410,713},{55,19}}</string>
				<key>sourceSize</key>
				<string>{55,19}</string>
			</dict>
			<key>Extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,713},{57,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{385,713},{57,19}}</string>
				<key>sourceSize</key>
				<string>{57,19}</string>
			</dict>
			<key>Pay.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,719},{44,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,719},{44,25}}</string>
				<key>sourceSize</key>
				<string>{44,25}</string>
			</dict>
			<key>TotalGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,687},{114,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{318,687},{114,20}}</string>
				<key>sourceSize</key>
				<string>{114,20}</string>
			</dict>
			<key>btn_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,622},{240,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,622},{240,59}}</string>
				<key>sourceSize</key>
				<string>{240,59}</string>
			</dict>
			<key>btn_howToPay.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,622},{240,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,622},{240,59}}</string>
				<key>sourceSize</key>
				<string>{240,59}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,730},{268,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,730},{268,35}}</string>
				<key>sourceSize</key>
				<string>{268,35}</string>
			</dict>
			<key>tips2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,687},{309,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,687},{309,37}}</string>
				<key>sourceSize</key>
				<string>{309,37}</string>
			</dict>
			<key>txt_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{613,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{613,482}}</string>
				<key>sourceSize</key>
				<string>{613,482}</string>
			</dict>
			<key>txt_support.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,730},{102,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,730},{102,34}}</string>
				<key>sourceSize</key>
				<string>{102,34}</string>
			</dict>
			<key>txt_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,687},{68,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{438,687},{68,26}}</string>
				<key>sourceSize</key>
				<string>{68,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1be5f1118.png</string>
			<key>size</key>
			<string>{509,773}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1be5f1118.png</string>
		</dict>
	</dict>
</plist>
