<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>toggle_brazil_carnival_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,70},{56,59}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,70},{56,59}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_brazil_carnival_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,525},{30,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,525},{30,32}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_down_app_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,265},{60,51}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,265},{60,51}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_down_app_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,509},{34,25}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,509},{34,25}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_email_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,3},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{69,3},{61,56}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_email_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,428},{38,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{94,428},{38,28}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_free_money_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,197},{59,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,197},{59,58}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_free_money_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,472},{32,31}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,472},{32,31}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_gold_tide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,377},{52,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,377},{52,45}}</string>
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>toggle_gold_tide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,322},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,322},{56,49}}</string>
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>toggle_gold_tide_slots_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,390},{52,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,390},{52,45}}</string>
				<key>sourceSize</key>
				<string>{52,45}</string>
			</dict>
			<key>toggle_gold_tide_slots_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,328},{56,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,328},{56,49}}</string>
				<key>sourceSize</key>
				<string>{56,49}</string>
			</dict>
			<key>toggle_holiDay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>toggle_holiDay_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,448},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,448},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>toggle_infinite_fission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,133},{58,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,133},{58,59}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_infinite_fission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,505},{30,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,505},{30,33}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_license_plate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,69},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,69},{58,60}}</string>
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>toggle_license_plate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,428},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,428},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>toggle_notice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,135},{57,59}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,135},{57,59}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_notice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,468},{31,33}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,468},{31,33}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_redeem_code_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,261},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,261},{61,54}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_redeem_code_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,541},{35,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,541},{35,26}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_welcome_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,200},{57,59}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,200},{57,59}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>toggle_welcome_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,488},{31,33}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,488},{31,33}}</string>
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15887d465.png</string>
			<key>size</key>
			<string>{128,570}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15887d465.png</string>
		</dict>
	</dict>
</plist>
