<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label1_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,234},{217,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{316,234},{217,56}}</string>
				<key>sourceSize</key>
				<string>{217,56}</string>
			</dict>
			<key>label1_Select.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,3},{225,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{316,3},{225,56}}</string>
				<key>sourceSize</key>
				<string>{225,56}</string>
			</dict>
			<key>label1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{307,610}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{307,610}}</string>
				<key>sourceSize</key>
				<string>{307,610}</string>
			</dict>
			<key>label_ALL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,803},{94,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{175,803},{94,27}}</string>
				<key>sourceSize</key>
				<string>{94,27}</string>
			</dict>
			<key>label_ALL_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,619},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,619},{107,34}}</string>
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>label_LIVE_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,699},{98,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{175,699},{98,28}}</string>
				<key>sourceSize</key>
				<string>{98,28}</string>
			</dict>
			<key>label_LIVE_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,662},{119,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,662},{119,31}}</string>
				<key>sourceSize</key>
				<string>{119,31}</string>
			</dict>
			<key>label_MULT_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,699},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,699},{110,23}}</string>
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>label_MULT_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,705},{132,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,705},{132,27}}</string>
				<key>sourceSize</key>
				<string>{132,27}</string>
			</dict>
			<key>label_POKER_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,662},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,662},{115,37}}</string>
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>label_POKER_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,599},{136,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{316,599},{136,48}}</string>
				<key>sourceSize</key>
				<string>{136,48}</string>
			</dict>
			<key>label_SLOTS_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,699},{112,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{141,699},{112,28}}</string>
				<key>sourceSize</key>
				<string>{112,28}</string>
			</dict>
			<key>label_SLOTS_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,619},{135,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,619},{135,37}}</string>
				<key>sourceSize</key>
				<string>{135,37}</string>
			</dict>
			<key>label_SPORT_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,619},{112,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{257,619},{112,31}}</string>
				<key>sourceSize</key>
				<string>{112,31}</string>
			</dict>
			<key>label_SPORT_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,741},{134,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,741},{134,38}}</string>
				<key>sourceSize</key>
				<string>{134,38}</string>
			</dict>
			<key>toggle_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,737},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{238,737},{37,53}}</string>
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>
			<key>toggle_showBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,457},{52,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,457},{52,136}}</string>
				<key>sourceSize</key>
				<string>{52,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15c2c0010.png</string>
			<key>size</key>
			<string>{375,900}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15c2c0010.png</string>
		</dict>
	</dict>
</plist>
