<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,310},{164,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,310},{164,165}}</string>
				<key>sourceSize</key>
				<string>{164,165}</string>
			</dict>
			<key>bg_tl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,3},{294,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{90,3},{294,58}}</string>
				<key>sourceSize</key>
				<string>{294,58}</string>
			</dict>
			<key>btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{301,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{301,81}}</string>
				<key>sourceSize</key>
				<string>{301,81}</string>
			</dict>
			<key>img_money_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,3},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,3},{46,47}}</string>
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15e0cb663.png</string>
			<key>size</key>
			<string>{203,478}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15e0cb663.png</string>
		</dict>
	</dict>
</plist>
