<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1-2POT-gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,406},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,406},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>1-2POT_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,549},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,549},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>23pot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,271},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{277,271},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>23pot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,471},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{203,471},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>2x_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,406},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,406},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>2x_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,3},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{440,3},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>3x_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,271},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{212,271},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>3x_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,550},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,550},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>5x_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,271},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,271},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>5x_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,485},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,485},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>ALLIN_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,138},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{440,138},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>ALLIN_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,271},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{342,271},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>POT-gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,271},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{147,271},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>POT_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,471},{129,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{138,471},{129,59}}</string>
				<key>sourceSize</key>
				<string>{129,59}</string>
			</dict>
			<key>RAISETO.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,575},{92,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,575},{92,15}}</string>
				<key>sourceSize</key>
				<string>{92,15}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{262,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{262,431}}</string>
				<key>sourceSize</key>
				<string>{262,431}</string>
			</dict>
			<key>bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,406},{137,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{352,406},{137,49}}</string>
				<key>sourceSize</key>
				<string>{137,49}</string>
			</dict>
			<key>bg_raise_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,271},{208,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,271},{208,73}}</string>
				<key>sourceSize</key>
				<string>{208,73}</string>
			</dict>
			<key>handle.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,471},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,471},{60,61}}</string>
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>slide_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,271},{18,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,271},{18,298}}</string>
				<key>sourceSize</key>
				<string>{18,298}</string>
			</dict>
			<key>slide_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,273},{12,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,273},{12,292}}</string>
				<key>sourceSize</key>
				<string>{12,292}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ace4ea0d.png</string>
			<key>size</key>
			<string>{502,612}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ace4ea0d.png</string>
		</dict>
	</dict>
</plist>
