<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_convert_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,91},{178,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,91},{178,33}}</string>
				<key>sourceSize</key>
				<string>{178,33}</string>
			</dict>
			<key>label_play_with.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,275},{565,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,275},{565,24}}</string>
				<key>sourceSize</key>
				<string>{565,24}</string>
			</dict>
			<key>label_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{82,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{82,38}}</string>
				<key>sourceSize</key>
				<string>{82,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c02f82b0.png</string>
			<key>size</key>
			<string>{44,843}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c02f82b0.png</string>
		</dict>
	</dict>
</plist>
