<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,413},{121,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,413},{121,38}}</string>
				<key>sourceSize</key>
				<string>{121,38}</string>
			</dict>
			<key>hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,3},{108,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{236,3},{108,35}}</string>
				<key>sourceSize</key>
				<string>{108,35}</string>
			</dict>
			<key>img_title_return_hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,457},{120,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,457},{120,38}}</string>
				<key>sourceSize</key>
				<string>{120,38}</string>
			</dict>
			<key>label_congratulation.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,3},{510,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{374,3},{510,72}}</string>
				<key>sourceSize</key>
				<string>{510,72}</string>
			</dict>
			<key>label_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,815},{148,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{416,815},{148,44}}</string>
				<key>sourceSize</key>
				<string>{148,44}</string>
			</dict>
			<key>label_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,574},{48,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{245,574},{48,31}}</string>
				<key>sourceSize</key>
				<string>{48,31}</string>
			</dict>
			<key>label_one.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,3},{190,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{178,3},{190,52}}</string>
				<key>sourceSize</key>
				<string>{190,52}</string>
			</dict>
			<key>label_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,363},{177,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,363},{177,44}}</string>
				<key>sourceSize</key>
				<string>{177,44}</string>
			</dict>
			<key>label_return_hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,3},{513,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,3},{513,65}}</string>
				<key>sourceSize</key>
				<string>{513,65}</string>
			</dict>
			<key>label_return_hall_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,199},{48,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{178,199},{48,30}}</string>
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>label_the.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,540},{269,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{391,540},{269,56}}</string>
				<key>sourceSize</key>
				<string>{269,56}</string>
			</dict>
			<key>label_tips_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{702,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{702,23}}</string>
				<key>sourceSize</key>
				<string>{702,23}</string>
			</dict>
			<key>label_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,3},{354,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,3},{354,25}}</string>
				<key>sourceSize</key>
				<string>{354,25}</string>
			</dict>
			<key>label_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,540},{222,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,540},{222,18}}</string>
				<key>sourceSize</key>
				<string>{222,18}</string>
			</dict>
			<key>label_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,522},{207,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,522},{207,105}}</string>
				<key>sourceSize</key>
				<string>{207,105}</string>
			</dict>
			<key>label_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,3},{302,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{134,3},{302,38}}</string>
				<key>sourceSize</key>
				<string>{302,38}</string>
			</dict>
			<key>msg_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,552},{298,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{287,552},{298,98}}</string>
				<key>sourceSize</key>
				<string>{298,98}</string>
			</dict>
			<key>other.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,674},{60,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{208,674},{60,23}}</string>
				<key>sourceSize</key>
				<string>{60,23}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,858},{407,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,858},{407,114}}</string>
				<key>sourceSize</key>
				<string>{407,114}</string>
			</dict>
			<key>title_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,711},{278,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,711},{278,141}}</string>
				<key>sourceSize</key>
				<string>{278,141}</string>
			</dict>
			<key>txt_withdrawal.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,381},{82,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{452,381},{82,16}}</string>
				<key>sourceSize</key>
				<string>{82,16}</string>
			</dict>
			<key>txt_withdrawal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,253},{67,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,253},{67,13}}</string>
				<key>sourceSize</key>
				<string>{67,13}</string>
			</dict>
			<key>txt_withdrawal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,519},{86,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{374,519},{86,15}}</string>
				<key>sourceSize</key>
				<string>{86,15}</string>
			</dict>
			<key>word12.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,633},{244,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,633},{244,35}}</string>
				<key>sourceSize</key>
				<string>{244,35}</string>
			</dict>
			<key>word13.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,674},{170,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,674},{170,23}}</string>
				<key>sourceSize</key>
				<string>{170,23}</string>
			</dict>
			<key>word14.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,413},{155,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{245,413},{155,31}}</string>
				<key>sourceSize</key>
				<string>{155,31}</string>
			</dict>
			<key>word3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,978},{458,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,978},{458,20}}</string>
				<key>sourceSize</key>
				<string>{458,20}</string>
			</dict>
			<key>word4.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,3},{543,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{287,3},{543,81}}</string>
				<key>sourceSize</key>
				<string>{543,81}</string>
			</dict>
			<key>word5.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,3},{372,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{452,3},{372,22}}</string>
				<key>sourceSize</key>
				<string>{372,22}</string>
			</dict>
			<key>word7.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,501},{67,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,501},{67,15}}</string>
				<key>sourceSize</key>
				<string>{67,15}</string>
			</dict>
			<key>word7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,768},{25,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,768},{25,14}}</string>
				<key>sourceSize</key>
				<string>{25,14}</string>
			</dict>
			<key>word7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,815},{35,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{391,815},{35,15}}</string>
				<key>sourceSize</key>
				<string>{35,15}</string>
			</dict>
			<key>word9.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,311},{137,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,311},{137,37}}</string>
				<key>sourceSize</key>
				<string>{137,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c7bc64e6.png</string>
			<key>size</key>
			<string>{477,1001}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c7bc64e6.png</string>
		</dict>
	</dict>
</plist>
