<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{71,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{71,20}}</string>
				<key>sourceSize</key>
				<string>{71,20}</string>
			</dict>
			<key>label_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,29},{94,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,29},{94,45}}</string>
				<key>sourceSize</key>
				<string>{94,45}</string>
			</dict>
			<key>label_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,80},{743,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,80},{743,116}}</string>
				<key>sourceSize</key>
				<string>{743,116}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c81751d8.png</string>
			<key>size</key>
			<string>{122,826}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c81751d8.png</string>
		</dict>
	</dict>
</plist>
