<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_cardType.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,164},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,164},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,306},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,306},{59,61}}</string>
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,3},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{621,3},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,93},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,93},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,235},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,235},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>jackpot_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,529},{188,22}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{701,529},{188,22}}</string>
				<key>sourceSize</key>
				<string>{192,22}</string>
			</dict>
			<key>sprite_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{612,750}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{612,750}}</string>
				<key>sourceSize</key>
				<string>{613,750}</string>
			</dict>
			<key>sprite_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,93},{296,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{701,93},{296,2}}</string>
				<key>sourceSize</key>
				<string>{296,2}</string>
			</dict>
			<key>sprite_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,93},{520,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{693,93},{520,2}}</string>
				<key>sourceSize</key>
				<string>{520,2}</string>
			</dict>
			<key>sprite_line_blue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,3},{520,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{711,3},{520,2}}</string>
				<key>sourceSize</key>
				<string>{520,2}</string>
			</dict>
			<key>sprite_line_blue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,3},{520,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{727,3},{520,2}}</string>
				<key>sourceSize</key>
				<string>{520,2}</string>
			</dict>
			<key>sprite_line_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,3},{520,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{719,3},{520,2}}</string>
				<key>sourceSize</key>
				<string>{520,2}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c8e5241f.png</string>
			<key>size</key>
			<string>{732,756}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c8e5241f.png</string>
		</dict>
	</dict>
</plist>
