<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,596},{52,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,596},{52,27}}</string>
				<key>sourceSize</key>
				<string>{52,27}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,970},{136,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,970},{136,30}}</string>
				<key>sourceSize</key>
				<string>{136,30}</string>
			</dict>
			<key>convertnow.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,665},{101,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{89,665},{101,46}}</string>
				<key>sourceSize</key>
				<string>{101,46}</string>
			</dict>
			<key>ifthere.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,3},{656,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{89,3},{656,22}}</string>
				<key>sourceSize</key>
				<string>{656,22}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{961,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{961,80}}</string>
				<key>sourceSize</key>
				<string>{961,80}</string>
			</dict>
			<key>yourcurrent.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,3},{587,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,3},{587,53}}</string>
				<key>sourceSize</key>
				<string>{587,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c9fcf810.png</string>
			<key>size</key>
			<string>{173,1003}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c9fcf810.png</string>
		</dict>
	</dict>
</plist>
