<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ALL.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,423},{34,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,423},{34,20}}</string>
				<key>sourceSize</key>
				<string>{34,20}</string>
			</dict>
			<key>RECORD.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{110,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{110,57}}</string>
				<key>sourceSize</key>
				<string>{110,57}</string>
			</dict>
			<key>cardTypeB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,119},{95,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,119},{95,34}}</string>
				<key>sourceSize</key>
				<string>{95,34}</string>
			</dict>
			<key>cardTypeB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,497},{45,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,497},{45,32}}</string>
				<key>sourceSize</key>
				<string>{45,32}</string>
			</dict>
			<key>cardTypeB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,462},{29,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,462},{29,26}}</string>
				<key>sourceSize</key>
				<string>{29,26}</string>
			</dict>
			<key>cardTypeB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,325},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,325},{50,27}}</string>
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>
			<key>cardTypeB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,220},{99,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,220},{99,28}}</string>
				<key>sourceSize</key>
				<string>{99,28}</string>
			</dict>
			<key>cardTypeB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,535},{33,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,535},{33,28}}</string>
				<key>sourceSize</key>
				<string>{33,28}</string>
			</dict>
			<key>cardTypeR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,425},{31,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,425},{31,26}}</string>
				<key>sourceSize</key>
				<string>{31,26}</string>
			</dict>
			<key>cardTypeR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,381},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,381},{38,27}}</string>
				<key>sourceSize</key>
				<string>{38,27}</string>
			</dict>
			<key>cardTypeR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,569},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,569},{26,23}}</string>
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>cardTypeR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,291},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{37,291},{42,24}}</string>
				<key>sourceSize</key>
				<string>{42,24}</string>
			</dict>
			<key>cardTypeR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,220},{65,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{37,220},{65,20}}</string>
				<key>sourceSize</key>
				<string>{65,20}</string>
			</dict>
			<key>cardTypeR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,463},{28,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,463},{28,24}}</string>
				<key>sourceSize</key>
				<string>{28,24}</string>
			</dict>
			<key>cardTypeS_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,569},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,569},{27,22}}</string>
				<key>sourceSize</key>
				<string>{27,22}</string>
			</dict>
			<key>cardTypeS_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,339},{34,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,339},{34,23}}</string>
				<key>sourceSize</key>
				<string>{34,23}</string>
			</dict>
			<key>cardTypeS_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,535},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,535},{22,19}}</string>
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>cardTypeS_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,379},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,379},{38,20}}</string>
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>
			<key>cardTypeS_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,119},{61,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,119},{61,16}}</string>
				<key>sourceSize</key>
				<string>{61,16}</string>
			</dict>
			<key>cardTypeS_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,597},{24,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,597},{24,20}}</string>
				<key>sourceSize</key>
				<string>{24,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f096a1c3.png</string>
			<key>size</key>
			<string>{64,620}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f096a1c3.png</string>
		</dict>
	</dict>
</plist>
