<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BetAmount.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,308},{79,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,308},{79,23}}</string>
				<key>sourceSize</key>
				<string>{79,23}</string>
			</dict>
			<key>JACKPOTWinTimes.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,3},{201,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{86,3},{201,24}}</string>
				<key>sourceSize</key>
				<string>{201,24}</string>
			</dict>
			<key>RECORD.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{152,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{152,77}}</string>
				<key>sourceSize</key>
				<string>{152,77}</string>
			</dict>
			<key>player.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,387},{63,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{40,387},{63,27}}</string>
				<key>sourceSize</key>
				<string>{63,27}</string>
			</dict>
			<key>time.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,461},{45,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,461},{45,17}}</string>
				<key>sourceSize</key>
				<string>{45,17}</string>
			</dict>
			<key>toggle1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,274},{107,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,274},{107,36}}</string>
				<key>sourceSize</key>
				<string>{107,36}</string>
			</dict>
			<key>toggle1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,161},{107,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,161},{107,36}}</string>
				<key>sourceSize</key>
				<string>{107,36}</string>
			</dict>
			<key>toggle2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,378},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,378},{77,31}}</string>
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>toggle2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,295},{77,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,295},{77,31}}</string>
				<key>sourceSize</key>
				<string>{77,31}</string>
			</dict>
			<key>toggle3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,161},{128,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,161},{128,33}}</string>
				<key>sourceSize</key>
				<string>{128,33}</string>
			</dict>
			<key>toggle3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,210},{92,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,210},{92,23}}</string>
				<key>sourceSize</key>
				<string>{92,23}</string>
			</dict>
			<key>type.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,456},{55,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,456},{55,23}}</string>
				<key>sourceSize</key>
				<string>{55,23}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,393},{33,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,393},{33,23}}</string>
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,485},{49,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,485},{49,23}}</string>
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f633dfbf.png</string>
			<key>size</key>
			<string>{113,511}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f633dfbf.png</string>
		</dict>
	</dict>
</plist>
