<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RANK.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{333,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{333,57}}</string>
				<key>sourceSize</key>
				<string>{333,57}</string>
			</dict>
			<key>continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,342},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,342},{120,34}}</string>
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,591},{76,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,591},{76,34}}</string>
				<key>sourceSize</key>
				<string>{76,34}</string>
			</dict>
			<key>winmore.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,468},{117,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,468},{117,34}}</string>
				<key>sourceSize</key>
				<string>{117,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>190f07d5f.png</string>
			<key>size</key>
			<string>{63,670}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>190f07d5f.png</string>
		</dict>
	</dict>
</plist>
