<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>brazil_carnival_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,421},{106,81}}</string>
				<key>offset</key>
				<string>{-106,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,421},{106,81}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>brazil_carnival_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,476},{44,28}}</string>
				<key>offset</key>
				<string>{-117,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,476},{44,28}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>down_app_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,203},{258,87}}</string>
				<key>offset</key>
				<string>{-30,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,203},{258,87}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>down_app_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,171},{170,32}}</string>
				<key>offset</key>
				<string>{-54,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,171},{170,32}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>email_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{308,96}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{308,96}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>email_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,125},{195,40}}</string>
				<key>offset</key>
				<string>{-40,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,125},{195,40}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>free_money_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,105},{286,92}}</string>
				<key>offset</key>
				<string>{-16,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,105},{286,92}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>free_money_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,82},{173,37}}</string>
				<key>offset</key>
				<string>{-50,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,82},{173,37}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>gold_tide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,439},{78,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,439},{78,43}}</string>
				<key>sourceSize</key>
				<string>{78,43}</string>
			</dict>
			<key>gold_tide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,516},{82,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,516},{82,47}}</string>
				<key>sourceSize</key>
				<string>{82,47}</string>
			</dict>
			<key>gold_tide_slots_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,390},{78,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,390},{78,43}}</string>
				<key>sourceSize</key>
				<string>{78,43}</string>
			</dict>
			<key>gold_tide_slots_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,516},{82,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{56,516},{82,47}}</string>
				<key>sourceSize</key>
				<string>{82,47}</string>
			</dict>
			<key>holiDay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,303},{154,112}}</string>
				<key>offset</key>
				<string>{-82,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{294,303},{154,112}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>holiDay_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,421},{77,46}}</string>
				<key>offset</key>
				<string>{-98,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{400,421},{77,46}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>img_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,406},{95,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{454,406},{95,42}}</string>
				<key>sourceSize</key>
				<string>{95,42}</string>
			</dict>
			<key>infinite_fission_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,296},{245,88}}</string>
				<key>offset</key>
				<string>{-37,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,296},{245,88}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>infinite_fission_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,249},{151,34}}</string>
				<key>offset</key>
				<string>{-64,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{468,249},{151,34}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>landlord_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,516},{225,81}}</string>
				<key>offset</key>
				<string>{-47,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,516},{225,81}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>landlord_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,387},{123,28}}</string>
				<key>offset</key>
				<string>{-78,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{254,387},{123,28}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>license_plate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,3},{184,73}}</string>
				<key>offset</key>
				<string>{-67,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,3},{184,73}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>license_plate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,203},{85,21}}</string>
				<key>offset</key>
				<string>{-95,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,203},{85,21}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>notice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,508},{147,91}}</string>
				<key>offset</key>
				<string>{-86,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{340,508},{147,91}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>notice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,171},{72,35}}</string>
				<key>offset</key>
				<string>{-103,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{471,171},{72,35}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>redeem_code_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,390},{129,80}}</string>
				<key>offset</key>
				<string>{-95,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,390},{129,80}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>redeem_code_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,476},{59,28}}</string>
				<key>offset</key>
				<string>{-110,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,476},{59,28}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>welcome_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,209},{168,88}}</string>
				<key>offset</key>
				<string>{-75,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{294,209},{168,88}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
			<key>welcome_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,296},{85,34}}</string>
				<key>offset</key>
				<string>{-97,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{254,296},{85,34}}</string>
				<key>sourceSize</key>
				<string>{318,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>19cf8ece7.png</string>
			<key>size</key>
			<string>{509,602}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>19cf8ece7.png</string>
		</dict>
	</dict>
</plist>
