<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,57},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{193,57},{44,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>sprite_fnt_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,3},{210,21}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,3},{210,21}}</string>
				<key>sourceSize</key>
				<string>{216,21}</string>
			</dict>
			<key>sprite_fnt_timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,107},{245,38}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,107},{245,38}}</string>
				<key>sourceSize</key>
				<string>{252,46}</string>
			</dict>
			<key>sprite_fnt_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,30},{210,21}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,30},{210,21}}</string>
				<key>sourceSize</key>
				<string>{216,21}</string>
			</dict>
			<key>sprite_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,151},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,151},{98,98}}</string>
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>sprite_head_timer.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,255},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,255},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>sprite_head_timer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,202},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,202},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>sprite_head_timerg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,367},{212,216}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,367},{212,216}}</string>
				<key>sourceSize</key>
				<string>{221,221}</string>
			</dict>
			<key>sprite_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,151},{146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,151},{146,45}}</string>
				<key>sourceSize</key>
				<string>{146,45}</string>
			</dict>
			<key>sprite_liwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,57},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,57},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>sprite_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{11,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{11,18}}</string>
				<key>sourceSize</key>
				<string>{11,18}</string>
			</dict>
			<key>sprite_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,57},{138,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,57},{138,34}}</string>
				<key>sourceSize</key>
				<string>{138,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e08d4127.png</string>
			<key>size</key>
			<string>{256,582}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e08d4127.png</string>
		</dict>
	</dict>
</plist>
