<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,642},{100,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,642},{100,61}}</string>
				<key>sourceSize</key>
				<string>{102,68}</string>
			</dict>
			<key>bonus_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,942},{77,50}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,942},{77,50}}</string>
				<key>sourceSize</key>
				<string>{82,58}</string>
			</dict>
			<key>btn_txt_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,748},{96,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,748},{96,35}}</string>
				<key>sourceSize</key>
				<string>{96,35}</string>
			</dict>
			<key>lb_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,912},{33,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,912},{33,19}}</string>
				<key>sourceSize</key>
				<string>{33,19}</string>
			</dict>
			<key>tab_txt_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,850},{86,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,850},{86,32}}</string>
				<key>sourceSize</key>
				<string>{86,32}</string>
			</dict>
			<key>txt_day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,850},{56,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{41,850},{56,31}}</string>
				<key>sourceSize</key>
				<string>{56,31}</string>
			</dict>
			<key>txt_day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,748},{50,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{44,748},{50,31}}</string>
				<key>sourceSize</key>
				<string>{50,31}</string>
			</dict>
			<key>txt_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{633,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{633,85}}</string>
				<key>sourceSize</key>
				<string>{633,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e1814eb4.png</string>
			<key>size</key>
			<string>{91,995}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e1814eb4.png</string>
		</dict>
	</dict>
</plist>
