<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_closeAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,3},{236,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,3},{236,47}}</string>
				<key>sourceSize</key>
				<string>{236,47}</string>
			</dict>
			<key>btn_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,156},{251,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,156},{251,49}}</string>
				<key>sourceSize</key>
				<string>{251,49}</string>
			</dict>
			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,412},{195,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,412},{195,44}}</string>
				<key>sourceSize</key>
				<string>{195,44}</string>
			</dict>
			<key>btn_exit_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,211},{195,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{156,211},{195,57}}</string>
				<key>sourceSize</key>
				<string>{195,57}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,551},{183,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,551},{183,51}}</string>
				<key>sourceSize</key>
				<string>{183,51}</string>
			</dict>
			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,156},{205,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,156},{205,40}}</string>
				<key>sourceSize</key>
				<string>{205,40}</string>
			</dict>
			<key>btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,467},{147,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{447,467},{147,51}}</string>
				<key>sourceSize</key>
				<string>{147,51}</string>
			</dict>
			<key>btn_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,467},{180,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,467},{180,51}}</string>
				<key>sourceSize</key>
				<string>{180,51}</string>
			</dict>
			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,524},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{264,524},{65,66}}</string>
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,309},{165,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,309},{165,47}}</string>
				<key>sourceSize</key>
				<string>{165,47}</string>
			</dict>
			<key>btn_switch.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,245},{216,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{459,245},{216,49}}</string>
				<key>sourceSize</key>
				<string>{216,49}</string>
			</dict>
			<key>btn_vibration.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,367},{209,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,367},{209,39}}</string>
				<key>sourceSize</key>
				<string>{209,39}</string>
			</dict>
			<key>friend_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,524},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{192,524},{81,66}}</string>
				<key>sourceSize</key>
				<string>{81,66}</string>
			</dict>
			<key>sprite_addsash.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,156},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,156},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_addsash1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,462},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,462},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>sprite_online.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,398},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,398},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_online1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,245},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,245},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_spectators.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,3},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,3},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>sprite_spectators1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,3},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,3},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e1a2053b.png</string>
			<key>size</key>
			<string>{512,617}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e1a2053b.png</string>
		</dict>
	</dict>
</plist>
