<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,147},{12,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,147},{12,18}}</string>
				<key>sourceSize</key>
				<string>{14,24}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,219},{7,18}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,219},{7,18}}</string>
				<key>sourceSize</key>
				<string>{13,24}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,99},{12,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,99},{12,18}}</string>
				<key>sourceSize</key>
				<string>{14,24}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,75},{12,18}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,75},{12,18}}</string>
				<key>sourceSize</key>
				<string>{13,24}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{13,18}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{13,18}}</string>
				<key>sourceSize</key>
				<string>{14,24}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,27},{13,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,27},{13,18}}</string>
				<key>sourceSize</key>
				<string>{13,24}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,171},{12,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,171},{12,18}}</string>
				<key>sourceSize</key>
				<string>{14,24}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,195},{11,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,195},{11,18}}</string>
				<key>sourceSize</key>
				<string>{13,24}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,123},{12,18}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,123},{12,18}}</string>
				<key>sourceSize</key>
				<string>{13,24}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,51},{13,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,51},{13,18}}</string>
				<key>sourceSize</key>
				<string>{15,24}</string>
			</dict>
			<key>douhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,243},{5,6}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,243},{5,6}}</string>
				<key>sourceSize</key>
				<string>{7,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ed909ae8.png</string>
			<key>size</key>
			<string>{19,251}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ed909ae8.png</string>
		</dict>
	</dict>
</plist>
