<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,362},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{871,362},{58,78}}</string>
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>btn_color_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,95},{261,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{781,95},{261,84}}</string>
				<key>sourceSize</key>
				<string>{261,84}</string>
			</dict>
			<key>btn_color_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,362},{261,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{781,362},{261,84}}</string>
				<key>sourceSize</key>
				<string>{261,84}</string>
			</dict>
			<key>btn_color_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,95},{261,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{871,95},{261,84}}</string>
				<key>sourceSize</key>
				<string>{261,84}</string>
			</dict>
			<key>img_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{772,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{772,500}}</string>
				<key>sourceSize</key>
				<string>{772,500}</string>
			</dict>
			<key>img_bg_vipBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,509},{772,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,509},{772,500}}</string>
				<key>sourceSize</key>
				<string>{772,500}</string>
			</dict>
			<key>img_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,55},{151,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,55},{151,34}}</string>
				<key>sourceSize</key>
				<string>{151,34}</string>
			</dict>
			<key>img_time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,3},{154,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,3},{154,46}}</string>
				<key>sourceSize</key>
				<string>{154,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>11586cf52.png</string>
			<key>size</key>
			<string>{958,1012}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>11586cf52.png</string>
		</dict>
	</dict>
</plist>
