<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chatiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,461},{862,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,461},{862,73}}</string>
				<key>sourceSize</key>
				<string>{862,73}</string>
			</dict>
			<key>move_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{298,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{298,452}}</string>
				<key>sourceSize</key>
				<string>{298,452}</string>
			</dict>
			<key>move_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,3},{451,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,3},{451,237}}</string>
				<key>sourceSize</key>
				<string>{451,237}</string>
			</dict>
			<key>move_win_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,3},{238,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{764,3},{238,241}}</string>
				<key>sourceSize</key>
				<string>{238,241}</string>
			</dict>
			<key>show_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,246},{63,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{572,246},{63,63}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>
			<key>sprite_bet_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,246},{20,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{641,246},{20,29}}</string>
				<key>sourceSize</key>
				<string>{20,29}</string>
			</dict>
			<key>sprite_bet_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,246},{259,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,246},{259,29}}</string>
				<key>sourceSize</key>
				<string>{259,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e4fbe0ba.png</string>
			<key>size</key>
			<string>{1005,537}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e4fbe0ba.png</string>
		</dict>
	</dict>
</plist>
