<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Amountchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,650},{176,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,650},{176,15}}</string>
				<key>sourceSize</key>
				<string>{176,15}</string>
			</dict>
			<key>Reasonfor.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,436},{208,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{27,436},{208,15}}</string>
				<key>sourceSize</key>
				<string>{208,15}</string>
			</dict>
			<key>Recorddetail.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{298,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{298,38}}</string>
				<key>sourceSize</key>
				<string>{298,38}</string>
			</dict>
			<key>Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,829},{48,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,829},{48,15}}</string>
				<key>sourceSize</key>
				<string>{48,15}</string>
			</dict>
			<key>nextpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,307},{123,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,307},{123,32}}</string>
				<key>sourceSize</key>
				<string>{123,32}</string>
			</dict>
			<key>tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,436},{387,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,436},{387,18}}</string>
				<key>sourceSize</key>
				<string>{387,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18c58e332.png</string>
			<key>size</key>
			<string>{45,880}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18c58e332.png</string>
		</dict>
	</dict>
</plist>
