<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bet_win_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{549,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{549,338}}</string>
				<key>sourceSize</key>
				<string>{549,338}</string>
			</dict>
			<key>bet_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,347},{549,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,347},{549,338}}</string>
				<key>sourceSize</key>
				<string>{549,338}</string>
			</dict>
			<key>bet_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,3},{647,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{558,3},{647,237}}</string>
				<key>sourceSize</key>
				<string>{649,237}</string>
			</dict>
			<key>bg_hei.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,347},{551,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{347,347},{551,110}}</string>
				<key>sourceSize</key>
				<string>{553,110}</string>
			</dict>
			<key>bg_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,3},{544,110}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,3},{544,110}}</string>
				<key>sourceSize</key>
				<string>{545,110}</string>
			</dict>
			<key>bg_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,553},{128,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{801,553},{128,93}}</string>
				<key>sourceSize</key>
				<string>{128,93}</string>
			</dict>
			<key>btn_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,853},{68,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{605,853},{68,84}}</string>
				<key>sourceSize</key>
				<string>{68,84}</string>
			</dict>
			<key>card_hei_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,804},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{903,804},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>card_hei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,892},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{827,892},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>card_hei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,591},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,591},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>card_hei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,897},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,897},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>card_hei_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,904},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{292,904},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>card_hei_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,904},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{370,904},{72,38}}</string>
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>cards_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,347},{238,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{463,347},{238,56}}</string>
				<key>sourceSize</key>
				<string>{238,56}</string>
			</dict>
			<key>img_111shot.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,656},{478,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,656},{478,142}}</string>
				<key>sourceSize</key>
				<string>{478,142}</string>
			</dict>
			<key>img_h_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,804},{136,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,804},{136,71}}</string>
				<key>sourceSize</key>
				<string>{136,71}</string>
			</dict>
			<key>img_r_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,804},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{827,804},{82,70}}</string>
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>other_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,902},{139,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,902},{139,42}}</string>
				<key>sourceSize</key>
				<string>{139,42}</string>
			</dict>
			<key>sprite_betting.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,804},{114,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{605,804},{114,43}}</string>
				<key>sourceSize</key>
				<string>{114,43}</string>
			</dict>
			<key>sprite_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,635},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,635},{32,14}}</string>
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>
			<key>sprite_reslut_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,804},{87,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{725,804},{87,96}}</string>
				<key>sourceSize</key>
				<string>{87,96}</string>
			</dict>
			<key>sprite_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,881},{93,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,881},{93,37}}</string>
				<key>sourceSize</key>
				<string>{93,37}</string>
			</dict>
			<key>sprite_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,3},{72,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{917,3},{72,32}}</string>
				<key>sourceSize</key>
				<string>{72,32}</string>
			</dict>
			<key>sprite_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,881},{65,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{562,881},{65,27}}</string>
				<key>sourceSize</key>
				<string>{65,27}</string>
			</dict>
			<key>sprite_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,347},{87,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{525,347},{87,27}}</string>
				<key>sourceSize</key>
				<string>{87,27}</string>
			</dict>
			<key>sprite_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,882},{56,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{905,882},{56,32}}</string>
				<key>sourceSize</key>
				<string>{56,32}</string>
			</dict>
			<key>sprite_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,902},{138,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{148,902},{138,32}}</string>
				<key>sourceSize</key>
				<string>{138,32}</string>
			</dict>
			<key>sprite_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,440},{76,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{525,440},{76,27}}</string>
				<key>sourceSize</key>
				<string>{76,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15cc9f4cd.png</string>
			<key>size</key>
			<string>{952,949}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15cc9f4cd.png</string>
		</dict>
	</dict>
</plist>
