<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>!.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,149},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,149},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>bg_noItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1216},{81,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,1216},{81,420}}</string>
				<key>sourceSize</key>
				<string>{81,420}</string>
			</dict>
			<key>bg_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1370,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1370,50}}</string>
				<key>sourceSize</key>
				<string>{1370,50}</string>
			</dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1303},{288,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,1303},{288,83}}</string>
				<key>sourceSize</key>
				<string>{288,83}</string>
			</dict>
			<key>btn_cstService.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,845},{343,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{380,845},{343,81}}</string>
				<key>sourceSize</key>
				<string>{343,81}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,960},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,960},{60,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,960},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{160,960},{61,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>
			<key>btn_kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1303},{61,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,1303},{61,64}}</string>
				<key>sourceSize</key>
				<string>{61,64}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,198},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,198},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>icon_cstService.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,95},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,95},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>img_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1043},{167,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,1043},{167,315}}</string>
				<key>sourceSize</key>
				<string>{167,315}</string>
			</dict>
			<key>img_item_extra_moeny_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,845},{138,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,845},{138,109}}</string>
				<key>sourceSize</key>
				<string>{138,109}</string>
			</dict>
			<key>img_money_bg_gole.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,845},{168,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{304,845},{168,44}}</string>
				<key>sourceSize</key>
				<string>{168,44}</string>
			</dict>
			<key>img_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,577},{460,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,577},{460,95}}</string>
				<key>sourceSize</key>
				<string>{460,95}</string>
			</dict>
			<key>img_top_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,3},{86,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{422,3},{86,80}}</string>
				<key>sourceSize</key>
				<string>{86,80}</string>
			</dict>
			<key>item_hot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,3},{357,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,3},{357,568}}</string>
				<key>sourceSize</key>
				<string>{357,568}</string>
			</dict>
			<key>item_normal_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,577},{262,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{160,577},{262,256}}</string>
				<key>sourceSize</key>
				<string>{262,256}</string>
			</dict>
			<key>noItem_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1392},{21,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,1392},{21,2}}</string>
				<key>sourceSize</key>
				<string>{21,2}</string>
			</dict>
			<key>pro_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1379},{7,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1379},{7,202}}</string>
				<key>sourceSize</key>
				<string>{7,202}</string>
			</dict>
			<key>pro_bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,1392},{7,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{44,1392},{7,32}}</string>
				<key>sourceSize</key>
				<string>{7,32}</string>
			</dict>
			<key>pro_bar_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1392},{11,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1392},{11,35}}</string>
				<key>sourceSize</key>
				<string>{11,35}</string>
			</dict>
			<key>prompt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1303},{71,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,1303},{71,53}}</string>
				<key>sourceSize</key>
				<string>{71,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1783bb7f0.png</string>
			<key>size</key>
			<string>{505,1406}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1783bb7f0.png</string>
		</dict>
	</dict>
</plist>
