<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Extract.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,819},{87,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,819},{87,23}}</string>
				<key>sourceSize</key>
				<string>{87,23}</string>
			</dict>
			<key>Weicomeback.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{283,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{283,34}}</string>
				<key>sourceSize</key>
				<string>{283,34}</string>
			</dict>
			<key>menutxt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,750},{167,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,750},{167,23}}</string>
				<key>sourceSize</key>
				<string>{167,23}</string>
			</dict>
			<key>menutxt11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,646},{167,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,646},{167,23}}</string>
				<key>sourceSize</key>
				<string>{167,23}</string>
			</dict>
			<key>menutxt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,462},{139,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{33,462},{139,24}}</string>
				<key>sourceSize</key>
				<string>{139,24}</string>
			</dict>
			<key>menutxt21.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,317},{139,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{33,317},{139,24}}</string>
				<key>sourceSize</key>
				<string>{139,24}</string>
			</dict>
			<key>menutxt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,912},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,912},{86,23}}</string>
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>menutxt31.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,923},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,923},{86,23}}</string>
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>menutxt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,503},{137,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,503},{137,24}}</string>
				<key>sourceSize</key>
				<string>{137,24}</string>
			</dict>
			<key>menutxt41.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,607},{137,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{33,607},{137,24}}</string>
				<key>sourceSize</key>
				<string>{137,24}</string>
			</dict>
			<key>menutxt5.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,106},{205,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,106},{205,24}}</string>
				<key>sourceSize</key>
				<string>{205,24}</string>
			</dict>
			<key>menutxt51.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,292},{205,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,292},{205,24}}</string>
				<key>sourceSize</key>
				<string>{205,24}</string>
			</dict>
			<key>return.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,3},{97,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{43,3},{97,26}}</string>
				<key>sourceSize</key>
				<string>{97,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>198f3fcb1.png</string>
			<key>size</key>
			<string>{72,1012}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>198f3fcb1.png</string>
		</dict>
	</dict>
</plist>
