<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{944,556}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{944,556}}</string>
				<key>sourceSize</key>
				<string>{948,556}</string>
			</dict>
			<key>notice_icon_tag.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,3},{119,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,3},{119,118}}</string>
				<key>sourceSize</key>
				<string>{119,118}</string>
			</dict>
			<key>notice_title_br.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,953},{208,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,953},{208,51}}</string>
				<key>sourceSize</key>
				<string>{208,51}</string>
			</dict>
			<key>tab_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,953},{174,54}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,953},{174,54}}</string>
				<key>sourceSize</key>
				<string>{181,56}</string>
			</dict>
			<key>tab_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,953},{181,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,953},{181,56}}</string>
				<key>sourceSize</key>
				<string>{181,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>122ae60fb.png</string>
			<key>size</key>
			<string>{686,1012}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>122ae60fb.png</string>
		</dict>
	</dict>
</plist>
