<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_downloadApp.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>btn_downloadAppMj.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,75},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,75},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>img_icon_customer.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,147},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,147},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>img_icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,219},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,219},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>img_icon_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,363},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,363},{56,56}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>img_icon_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,291},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,291},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1299c511f.png</string>
			<key>size</key>
			<string>{70,422}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1299c511f.png</string>
		</dict>
	</dict>
</plist>
