<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,224},{69,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,224},{69,31}}</string>
				<key>sourceSize</key>
				<string>{69,31}</string>
			</dict>
			<key>img_title_return_hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,113},{109,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,113},{109,44}}</string>
				<key>sourceSize</key>
				<string>{109,44}</string>
			</dict>
			<key>label_congratulation.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,71},{307,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,71},{307,95}}</string>
				<key>sourceSize</key>
				<string>{307,95}</string>
			</dict>
			<key>label_deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,573},{75,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,573},{75,35}}</string>
				<key>sourceSize</key>
				<string>{75,35}</string>
			</dict>
			<key>label_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,71},{48,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,71},{48,31}}</string>
				<key>sourceSize</key>
				<string>{48,31}</string>
			</dict>
			<key>label_one.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,224},{259,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,224},{259,33}}</string>
				<key>sourceSize</key>
				<string>{259,33}</string>
			</dict>
			<key>label_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,163},{104,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,163},{104,45}}</string>
				<key>sourceSize</key>
				<string>{104,45}</string>
			</dict>
			<key>label_return_hall.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,47},{520,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,47},{520,72}}</string>
				<key>sourceSize</key>
				<string>{520,72}</string>
			</dict>
			<key>label_return_hall_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,289},{67,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{317,289},{67,38}}</string>
				<key>sourceSize</key>
				<string>{67,38}</string>
			</dict>
			<key>label_the.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,387},{217,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{118,387},{217,57}}</string>
				<key>sourceSize</key>
				<string>{217,57}</string>
			</dict>
			<key>label_tips_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{485,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{485,31}}</string>
				<key>sourceSize</key>
				<string>{485,31}</string>
			</dict>
			<key>label_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,387},{222,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{84,387},{222,28}}</string>
				<key>sourceSize</key>
				<string>{222,28}</string>
			</dict>
			<key>label_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,40},{396,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,40},{396,25}}</string>
				<key>sourceSize</key>
				<string>{396,25}</string>
			</dict>
			<key>label_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,214},{167,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{385,214},{167,119}}</string>
				<key>sourceSize</key>
				<string>{167,119}</string>
			</dict>
			<key>label_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,172},{295,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,172},{295,46}}</string>
				<key>sourceSize</key>
				<string>{295,46}</string>
			</dict>
			<key>msg_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,383},{189,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,383},{189,52}}</string>
				<key>sourceSize</key>
				<string>{189,52}</string>
			</dict>
			<key>other.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,47},{60,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{486,47},{60,23}}</string>
				<key>sourceSize</key>
				<string>{60,23}</string>
			</dict>
			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,263},{193,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,263},{193,114}}</string>
				<key>sourceSize</key>
				<string>{193,114}</string>
			</dict>
			<key>title_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,441},{275,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,441},{275,139}}</string>
				<key>sourceSize</key>
				<string>{275,139}</string>
			</dict>
			<key>txt_withdrawal.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,263},{43,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,263},{43,20}}</string>
				<key>sourceSize</key>
				<string>{43,20}</string>
			</dict>
			<key>txt_withdrawal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,362},{28,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,362},{28,15}}</string>
				<key>sourceSize</key>
				<string>{28,15}</string>
			</dict>
			<key>txt_withdrawal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,289},{38,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{361,289},{38,18}}</string>
				<key>sourceSize</key>
				<string>{38,18}</string>
			</dict>
			<key>word14.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,387},{177,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,387},{177,42}}</string>
				<key>sourceSize</key>
				<string>{177,42}</string>
			</dict>
			<key>word7.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,299},{78,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,299},{78,24}}</string>
				<key>sourceSize</key>
				<string>{78,24}</string>
			</dict>
			<key>word7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,71},{32,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{397,71},{32,13}}</string>
				<key>sourceSize</key>
				<string>{32,13}</string>
			</dict>
			<key>word7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,3},{38,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{494,3},{38,15}}</string>
				<key>sourceSize</key>
				<string>{38,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>12aca49c1.png</string>
			<key>size</key>
			<string>{512,612}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>12aca49c1.png</string>
		</dict>
	</dict>
</plist>
