<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{59,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{59,94}}</string>
				<key>sourceSize</key>
				<string>{59,94}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,68},{322,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,68},{322,93}}</string>
				<key>sourceSize</key>
				<string>{322,93}</string>
			</dict>
			<key>img_page_dot_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,396},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,396},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>img_page_dot_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,396},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,396},{16,15}}</string>
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1715b2d2a.png</string>
			<key>size</key>
			<string>{100,414}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1715b2d2a.png</string>
		</dict>
	</dict>
</plist>
