<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,441},{139,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,441},{139,28}}</string>
				<key>sourceSize</key>
				<string>{139,28}</string>
			</dict>
			<key>bet_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{283,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{283,262}}</string>
				<key>sourceSize</key>
				<string>{283,262}</string>
			</dict>
			<key>btn_auto_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,514},{109,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{272,514},{109,84}}</string>
				<key>sourceSize</key>
				<string>{109,84}</string>
			</dict>
			<key>btn_auto_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,475},{109,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{134,475},{109,84}}</string>
				<key>sourceSize</key>
				<string>{109,84}</string>
			</dict>
			<key>btn_auto_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,727},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,727},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,3},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{424,3},{74,76}}</string>
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>btn_others.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,83},{74,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{424,83},{74,76}}</string>
				<key>sourceSize</key>
				<string>{74,76}</string>
			</dict>
			<key>btn_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,373},{64,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{232,373},{64,45}}</string>
				<key>sourceSize</key>
				<string>{64,45}</string>
			</dict>
			<key>chat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,3},{505,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{292,3},{505,126}}</string>
				<key>sourceSize</key>
				<string>{505,126}</string>
			</dict>
			<key>head_bg_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,271},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,271},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>icon_luckyStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,640},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,640},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>icon_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,606},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,606},{28,22}}</string>
				<key>sourceSize</key>
				<string>{28,22}</string>
			</dict>
			<key>icon_rich.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,443},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{232,443},{32,24}}</string>
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>join_times.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,496},{153,16}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{81,496},{153,16}}</string>
				<key>sourceSize</key>
				<string>{156,16}</string>
			</dict>
			<key>name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,475},{125,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,475},{125,25}}</string>
				<key>sourceSize</key>
				<string>{125,25}</string>
			</dict>
			<key>otherHead_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,681},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,681},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>otherHead_frame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,604},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,604},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>other_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,393},{139,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,393},{139,42}}</string>
				<key>sourceSize</key>
				<string>{139,42}</string>
			</dict>
			<key>other_result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,496},{179,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{45,496},{179,30}}</string>
				<key>sourceSize</key>
				<string>{179,30}</string>
			</dict>
			<key>result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,475},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{224,475},{106,42}}</string>
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
			<key>selfHead_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,514},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,514},{96,96}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>selfHead_frame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,590},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,590},{102,102}}</string>
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>self_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,271},{225,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,271},{225,36}}</string>
				<key>sourceSize</key>
				<string>{225,36}</string>
			</dict>
			<key>self_result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,271},{219,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{45,271},{219,36}}</string>
				<key>sourceSize</key>
				<string>{219,36}</string>
			</dict>
			<key>self_result_free_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,502},{219,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,502},{219,36}}</string>
				<key>sourceSize</key>
				<string>{219,36}</string>
			</dict>
			<key>show.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,271},{96,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,271},{96,54}}</string>
				<key>sourceSize</key>
				<string>{96,54}</string>
			</dict>
			<key>timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,163},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{424,163},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>timer_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,233},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{424,233},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>139b320fd.png</string>
			<key>size</key>
			<string>{503,764}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>139b320fd.png</string>
		</dict>
	</dict>
</plist>
