<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,71},{175,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,71},{175,123}}</string>
				<key>sourceSize</key>
				<string>{175,123}</string>
			</dict>
			<key>big_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,200},{607,68}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{402,200},{607,68}}</string>
				<key>sourceSize</key>
				<string>{624,68}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,813},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{402,813},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,786},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,786},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>gold_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,795},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,795},{73,68}}</string>
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>icon_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,849},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,849},{28,32}}</string>
				<key>sourceSize</key>
				<string>{28,32}</string>
			</dict>
			<key>num_jangchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,164},{223,25}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{267,164},{223,25}}</string>
				<key>sourceSize</key>
				<string>{228,25}</string>
			</dict>
			<key>num_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,874},{140,21}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,874},{140,21}}</string>
				<key>sourceSize</key>
				<string>{144,21}</string>
			</dict>
			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,795},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,795},{80,64}}</string>
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,71},{64,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,71},{64,53}}</string>
				<key>sourceSize</key>
				<string>{64,53}</string>
			</dict>
			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,849},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,849},{54,44}}</string>
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>rank_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,71},{772,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,71},{772,82}}</string>
				<key>sourceSize</key>
				<string>{772,82}</string>
			</dict>
			<key>rank_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,71},{718,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,71},{718,82}}</string>
				<key>sourceSize</key>
				<string>{718,82}</string>
			</dict>
			<key>rank_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,200},{670,82}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{314,200},{670,82}}</string>
				<key>sourceSize</key>
				<string>{690,82}</string>
			</dict>
			<key>rank_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,130},{650,82}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{179,130},{650,82}}</string>
				<key>sourceSize</key>
				<string>{661,82}</string>
			</dict>
			<key>task_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,887},{50,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,887},{50,7}}</string>
				<key>sourceSize</key>
				<string>{50,7}</string>
			</dict>
			<key>task_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{495,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{495,62}}</string>
				<key>sourceSize</key>
				<string>{495,62}</string>
			</dict>
			<key>wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,130},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,130},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13d62c780.png</string>
			<key>size</key>
			<string>{501,898}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13d62c780.png</string>
		</dict>
	</dict>
</plist>
