<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,855},{162,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,855},{162,23}}</string>
				<key>sourceSize</key>
				<string>{162,23}</string>
			</dict>
			<key>type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,505},{193,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,505},{193,23}}</string>
				<key>sourceSize</key>
				<string>{193,23}</string>
			</dict>
			<key>type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,950},{65,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,950},{65,23}}</string>
				<key>sourceSize</key>
				<string>{65,23}</string>
			</dict>
			<key>type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,581},{148,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{61,581},{148,23}}</string>
				<key>sourceSize</key>
				<string>{148,23}</string>
			</dict>
			<key>type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,3},{249,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{51,3},{249,23}}</string>
				<key>sourceSize</key>
				<string>{249,23}</string>
			</dict>
			<key>type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,704},{145,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,704},{145,23}}</string>
				<key>sourceSize</key>
				<string>{145,23}</string>
			</dict>
			<key>type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,855},{89,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{32,855},{89,23}}</string>
				<key>sourceSize</key>
				<string>{89,23}</string>
			</dict>
			<key>type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,673},{176,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,673},{176,23}}</string>
				<key>sourceSize</key>
				<string>{176,23}</string>
			</dict>
			<key>type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,434},{233,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,434},{233,23}}</string>
				<key>sourceSize</key>
				<string>{233,23}</string>
			</dict>
			<key>type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,258},{241,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{51,258},{241,23}}</string>
				<key>sourceSize</key>
				<string>{241,23}</string>
			</dict>
			<key>type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{425,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{425,42}}</string>
				<key>sourceSize</key>
				<string>{425,42}</string>
			</dict>
			<key>type_w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,735},{99,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,735},{99,15}}</string>
				<key>sourceSize</key>
				<string>{99,15}</string>
			</dict>
			<key>type_w_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,458},{117,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{80,458},{117,15}}</string>
				<key>sourceSize</key>
				<string>{117,15}</string>
			</dict>
			<key>type_w_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,1000},{40,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,1000},{40,15}}</string>
				<key>sourceSize</key>
				<string>{40,15}</string>
			</dict>
			<key>type_w_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,848},{90,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{61,848},{90,15}}</string>
				<key>sourceSize</key>
				<string>{90,15}</string>
			</dict>
			<key>type_w_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,3},{150,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{80,3},{150,15}}</string>
				<key>sourceSize</key>
				<string>{150,15}</string>
			</dict>
			<key>type_w_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,840},{88,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{82,840},{88,15}}</string>
				<key>sourceSize</key>
				<string>{88,15}</string>
			</dict>
			<key>type_w_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,979},{55,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,979},{55,15}}</string>
				<key>sourceSize</key>
				<string>{55,15}</string>
			</dict>
			<key>type_w_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,735},{107,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{61,735},{107,15}}</string>
				<key>sourceSize</key>
				<string>{107,15}</string>
			</dict>
			<key>type_w_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,311},{141,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{80,311},{141,15}}</string>
				<key>sourceSize</key>
				<string>{141,15}</string>
			</dict>
			<key>type_w_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,159},{146,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{80,159},{146,15}}</string>
				<key>sourceSize</key>
				<string>{146,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b74a1688.png</string>
			<key>size</key>
			<string>{100,1020}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b74a1688.png</string>
		</dict>
	</dict>
</plist>
