<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{264,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{264,52}}</string>
				<key>sourceSize</key>
				<string>{264,52}</string>
			</dict>
			<key>bubble_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,537},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{407,537},{147,62}}</string>
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>bubble_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,439},{147,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{531,439},{147,62}}</string>
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>card_frame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,3},{236,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,3},{236,158}}</string>
				<key>sourceSize</key>
				<string>{236,158}</string>
			</dict>
			<key>chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,507},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{529,507},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,281},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,281},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,281},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{494,281},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,507},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{570,507},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,689},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{489,689},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,690},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{407,690},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,199},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{494,199},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,404},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{688,404},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,363},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,363},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,240},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{494,240},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,322},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{695,322},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,690},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{448,690},{37,35}}</string>
				<key>sourceSize</key>
				<string>{37,35}</string>
			</dict>
			<key>chip_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,103},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,103},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>chip_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,507},{120,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,507},{120,30}}</string>
				<key>sourceSize</key>
				<string>{120,30}</string>
			</dict>
			<key>head_bg_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,537},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,537},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>
			<key>head_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,537},{196,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,537},{196,196}}</string>
				<key>sourceSize</key>
				<string>{196,196}</string>
			</dict>
			<key>head_bg_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,361},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,361},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>head_bg_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,361},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,361},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>head_bg_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,543},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,543},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>head_bg_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,113},{246,242}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,113},{246,242}}</string>
				<key>sourceSize</key>
				<string>{249,242}</string>
			</dict>
			<key>icon_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,550},{133,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{475,550},{133,109}}</string>
				<key>sourceSize</key>
				<string>{133,109}</string>
			</dict>
			<key>icon_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,155},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{494,155},{40,38}}</string>
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>img_user_all_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,154},{121,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{707,154},{121,26}}</string>
				<key>sourceSize</key>
				<string>{121,26}</string>
			</dict>
			<key>img_user_all_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,322},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{475,322},{114,50}}</string>
				<key>sourceSize</key>
				<string>{116,50}</string>
			</dict>
			<key>img_user_card_win_rate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,103},{250,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,103},{250,46}}</string>
				<key>sourceSize</key>
				<string>{250,46}</string>
			</dict>
			<key>img_user_card_win_rate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,61},{250,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,61},{250,46}}</string>
				<key>sourceSize</key>
				<string>{250,46}</string>
			</dict>
			<key>img_user_card_win_rate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,51},{250,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,51},{250,46}}</string>
				<key>sourceSize</key>
				<string>{250,46}</string>
			</dict>
			<key>px_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,209},{233,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,209},{233,48}}</string>
				<key>sourceSize</key>
				<string>{233,48}</string>
			</dict>
			<key>px_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,263},{233,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,263},{233,48}}</string>
				<key>sourceSize</key>
				<string>{233,48}</string>
			</dict>
			<key>px_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,155},{233,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,155},{233,48}}</string>
				<key>sourceSize</key>
				<string>{233,48}</string>
			</dict>
			<key>qiuqiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,689},{33,34}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{530,689},{33,34}}</string>
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>refuse_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,665},{59,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{590,665},{59,74}}</string>
				<key>sourceSize</key>
				<string>{59,74}</string>
			</dict>
			<key>refuse_txt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,403},{151,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{531,403},{151,30}}</string>
				<key>sourceSize</key>
				<string>{151,30}</string>
			</dict>
			<key>sprite_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,445},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{684,445},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>sprite_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,29},{258,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,29},{258,16}}</string>
				<key>sourceSize</key>
				<string>{258,16}</string>
			</dict>
			<key>sprite_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,3},{264,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,3},{264,20}}</string>
				<key>sourceSize</key>
				<string>{264,20}</string>
			</dict>
			<key>sprite_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,3},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{707,3},{100,28}}</string>
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
			<key>sprite_liwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,496},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,496},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>sprite_multiple_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,442},{49,48}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,442},{49,48}}</string>
				<key>sourceSize</key>
				<string>{50,48}</string>
			</dict>
			<key>sprite_multiple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,109},{39,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{707,109},{39,28}}</string>
				<key>sourceSize</key>
				<string>{39,28}</string>
			</dict>
			<key>sprite_time_quan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,245},{152,152}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,245},{152,152}}</string>
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,665},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,665},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>time_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,483},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,483},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>time_quan_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,317},{214,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,317},{214,214}}</string>
				<key>sourceSize</key>
				<string>{214,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>165f423fa.png</string>
			<key>size</key>
			<string>{738,736}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>165f423fa.png</string>
		</dict>
	</dict>
</plist>
