<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,121},{290,150}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,121},{290,150}}</string>
				<key>sourceSize</key>
				<string>{291,150}</string>
			</dict>
			<key>sprite_mega.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,151},{410,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,151},{410,161}}</string>
				<key>sourceSize</key>
				<string>{410,161}</string>
			</dict>
			<key>sprite_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,3},{307,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,3},{307,142}}</string>
				<key>sourceSize</key>
				<string>{307,142}</string>
			</dict>
			<key>win_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{643,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{643,112}}</string>
				<key>sourceSize</key>
				<string>{643,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>18a6289c7.png</string>
			<key>size</key>
			<string>{962,315}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>18a6289c7.png</string>
		</dict>
	</dict>
</plist>
