<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bgItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,3},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,3},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,3},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,3},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>greenTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,3},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,3},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{18,3},{3,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{18,3},{3,75}}</string>
				<key>sourceSize</key>
				<string>{3,75}</string>
			</dict>
			<key>maohao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{3,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{3,9}}</string>
				<key>sourceSize</key>
				<string>{3,9}</string>
			</dict>
			<key>myHistoryBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,281},{906,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,281},{906,367}}</string>
				<key>sourceSize</key>
				<string>{906,367}</string>
			</dict>
			<key>panel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,3},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,3},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>redTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,3},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,3},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>resultPos.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,3},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,3},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>toggleBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,126},{624,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,126},{624,65}}</string>
				<key>sourceSize</key>
				<string>{624,65}</string>
			</dict>
			<key>togglebtnBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,3},{196,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,3},{196,57}}</string>
				<key>sourceSize</key>
				<string>{196,57}</string>
			</dict>
			<key>user_info_headBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,3},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{497,3},{117,117}}</string>
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>winnerItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,197},{906,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,197},{906,78}}</string>
				<key>sourceSize</key>
				<string>{906,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a3d18bd9.png</string>
			<key>size</key>
			<string>{912,651}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a3d18bd9.png</string>
		</dict>
	</dict>
</plist>
