<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_55101_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,560},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,560},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_55101_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,115},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,115},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66101.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,454},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,454},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66102.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,342},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,342},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66103.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,454},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,454},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66104.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,449},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{336,449},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66105.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,226},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,226},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66106.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,337},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{447,337},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66107.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,118},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,118},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66109.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,448},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,448},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66110.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,561},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{336,561},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66112.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66113.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,450},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,450},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66650.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,338},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,338},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66651.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,226},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,226},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66660.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{450,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66661.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,230},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,230},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66662.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,559},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{447,559},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66663.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{108,109}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66664.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66665.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{228,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66666.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,562},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,562},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66667.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,3},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,3},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66668.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,226},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,226},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_66669.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,566},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,566},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77771.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,115},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,115},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77772.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,566},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,566},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77773.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,115},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,115},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77774.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,337},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{336,337},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77775.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,230},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,230},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_77776.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,448},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{447,448},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_888.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,118},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,118},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_8888.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,337},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{559,337},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_88888.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,342},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,342},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>game_888888.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,226},{106,105}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,226},{106,105}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>
			<key>goldBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,678},{230,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,678},{230,41}}</string>
				<key>sourceSize</key>
				<string>{230,41}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,725},{58,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,725},{58,18}}</string>
				<key>sourceSize</key>
				<string>{58,18}</string>
			</dict>
			<key>img10.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,114},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,114},{49,56}}</string>
				<key>sourceSize</key>
				<string>{49,56}</string>
			</dict>
			<key>img11.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,114},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{561,114},{85,84}}</string>
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,560},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,560},{55,54}}</string>
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,47},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{673,47},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,725},{77,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,725},{77,16}}</string>
				<key>sourceSize</key>
				<string>{77,16}</string>
			</dict>
			<key>img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,674},{171,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,674},{171,41}}</string>
				<key>sourceSize</key>
				<string>{171,41}</string>
			</dict>
			<key>img9.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,673},{138,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,673},{138,48}}</string>
				<key>sourceSize</key>
				<string>{138,48}</string>
			</dict>
			<key>img_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,672},{157,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,672},{157,28}}</string>
				<key>sourceSize</key>
				<string>{157,28}</string>
			</dict>
			<key>img_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,706},{137,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,706},{137,28}}</string>
				<key>sourceSize</key>
				<string>{137,28}</string>
			</dict>
			<key>img_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,337},{173,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,337},{173,28}}</string>
				<key>sourceSize</key>
				<string>{173,28}</string>
			</dict>
			<key>jackpotVIP0.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,620},{33,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,620},{33,36}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,104},{34,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,104},{34,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,210},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,210},{36,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,169},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,169},{38,35}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,169},{38,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,169},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP5.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,3},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{705,3},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP6.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,706},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{703,706},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP7.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,516},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,516},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>jackpotVIP8.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,620},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,620},{38,39}}</string>
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1a39af41d.png</string>
			<key>size</key>
			<string>{750,748}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1a39af41d.png</string>
		</dict>
	</dict>
</plist>
