<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,154},{860,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,154},{860,60}}</string>
				<key>sourceSize</key>
				<string>{860,60}</string>
			</dict>
			<key>line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,220},{859,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,220},{859,60}}</string>
				<key>sourceSize</key>
				<string>{859,60}</string>
			</dict>
			<key>line2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,925},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{865,925},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,924},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{969,924},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,872},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{970,872},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,286},{858,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,286},{858,415}}</string>
				<key>sourceSize</key>
				<string>{858,415}</string>
			</dict>
			<key>line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,872},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{917,872},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,854},{856,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,854},{856,141}}</string>
				<key>sourceSize</key>
				<string>{856,141}</string>
			</dict>
			<key>line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,707},{856,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,707},{856,141}}</string>
				<key>sourceSize</key>
				<string>{856,141}</string>
			</dict>
			<key>line7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,924},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{917,924},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,3},{863,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{872,3},{863,145}}</string>
				<key>sourceSize</key>
				<string>{863,145}</string>
			</dict>
			<key>line9.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,872},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{865,872},{47,46}}</string>
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>line9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{863,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{863,145}}</string>
				<key>sourceSize</key>
				<string>{863,145}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1cb58db7c.png</string>
			<key>size</key>
			<string>{1020,998}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1cb58db7c.png</string>
		</dict>
	</dict>
</plist>
