<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,291},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,291},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>bet_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,3},{43,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{569,3},{43,91}}</string>
				<key>sourceSize</key>
				<string>{43,91}</string>
			</dict>
			<key>btn_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,940},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,940},{60,80}}</string>
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,571},{264,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{475,571},{264,58}}</string>
				<key>sourceSize</key>
				<string>{264,58}</string>
			</dict>
			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,978},{36,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,978},{36,37}}</string>
				<key>sourceSize</key>
				<string>{36,37}</string>
			</dict>
			<key>btn_green1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,571},{337,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{239,571},{337,112}}</string>
				<key>sourceSize</key>
				<string>{337,112}</string>
			</dict>
			<key>btn_green2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,331},{337,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,331},{337,112}}</string>
				<key>sourceSize</key>
				<string>{337,112}</string>
			</dict>
			<key>btn_icon_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,291},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,291},{30,31}}</string>
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>btn_icon_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,291},{34,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,291},{34,11}}</string>
				<key>sourceSize</key>
				<string>{34,11}</string>
			</dict>
			<key>btn_max_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,291},{125,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{464,291},{125,91}}</string>
				<key>sourceSize</key>
				<string>{125,91}</string>
			</dict>
			<key>btn_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,978},{42,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{321,978},{42,38}}</string>
				<key>sourceSize</key>
				<string>{42,38}</string>
			</dict>
			<key>btn_music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,978},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{365,978},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
			<key>btn_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,571},{337,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,571},{337,112}}</string>
				<key>sourceSize</key>
				<string>{337,112}</string>
			</dict>
			<key>btn_red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,571},{337,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{357,571},{337,112}}</string>
				<key>sourceSize</key>
				<string>{337,112}</string>
			</dict>
			<key>btn_set_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,571},{61,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{539,571},{61,189}}</string>
				<key>sourceSize</key>
				<string>{61,189}</string>
			</dict>
			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,100},{43,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{569,100},{43,34}}</string>
				<key>sourceSize</key>
				<string>{43,34}</string>
			</dict>
			<key>free_quan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{560,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{560,282}}</string>
				<key>sourceSize</key>
				<string>{560,282}</string>
			</dict>
			<key>gantanhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,914},{65,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{250,914},{65,86}}</string>
				<key>sourceSize</key>
				<string>{65,86}</string>
			</dict>
			<key>gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,140},{303,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{569,140},{303,42}}</string>
				<key>sourceSize</key>
				<string>{303,42}</string>
			</dict>
			<key>gongju.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,940},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,940},{69,69}}</string>
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>img_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,449},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,449},{11,11}}</string>
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>img_dot_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,466},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,466},{11,11}}</string>
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>img_select_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,914},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,914},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>itemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,914},{264,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,914},{264,58}}</string>
				<key>sourceSize</key>
				<string>{264,58}</string>
			</dict>
			<key>sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,291},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,291},{33,33}}</string>
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,449},{465,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,449},{465,116}}</string>
				<key>sourceSize</key>
				<string>{465,116}</string>
			</dict>
			<key>win_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,291},{643,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,291},{643,112}}</string>
				<key>sourceSize</key>
				<string>{643,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1cb61adab.png</string>
			<key>size</key>
			<string>{615,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1cb61adab.png</string>
		</dict>
	</dict>
</plist>
