<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,325},{1128,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,325},{1128,373}}</string>
				<key>sourceSize</key>
				<string>{1128,373}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,72},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1150,72},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,26},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1150,26},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1052},{234,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1052},{234,166}}</string>
				<key>sourceSize</key>
				<string>{234,166}</string>
			</dict>
			<key>img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1052},{234,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1052},{234,166}}</string>
				<key>sourceSize</key>
				<string>{234,166}</string>
			</dict>
			<key>img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1052},{234,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{483,1052},{234,166}}</string>
				<key>sourceSize</key>
				<string>{234,166}</string>
			</dict>
			<key>img5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1052},{234,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1052},{234,166}}</string>
				<key>sourceSize</key>
				<string>{234,166}</string>
			</dict>
			<key>img6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,704},{1051,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,704},{1051,20}}</string>
				<key>sourceSize</key>
				<string>{1051,20}</string>
			</dict>
			<key>img7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,231},{85,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1191,231},{85,17}}</string>
				<key>sourceSize</key>
				<string>{85,17}</string>
			</dict>
			<key>img8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,3},{65,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1150,3},{65,17}}</string>
				<key>sourceSize</key>
				<string>{65,17}</string>
			</dict>
			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,127},{98,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1191,127},{98,21}}</string>
				<key>sourceSize</key>
				<string>{98,21}</string>
			</dict>
			<key>line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,26},{3,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1210,26},{3,75}}</string>
				<key>sourceSize</key>
				<string>{3,75}</string>
			</dict>
			<key>mask_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,127},{100,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1150,127},{100,35}}</string>
				<key>sourceSize</key>
				<string>{100,35}</string>
			</dict>
			<key>panelBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,730},{1042,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,730},{1042,316}}</string>
				<key>sourceSize</key>
				<string>{1042,316}</string>
			</dict>
			<key>panelBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1141,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1141,316}}</string>
				<key>sourceSize</key>
				<string>{1141,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>144c2f10c.png</string>
			<key>size</key>
			<string>{1218,1221}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>144c2f10c.png</string>
		</dict>
	</dict>
</plist>
