<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_notice_op_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,364},{45,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{311,364},{45,27}}</string>
				<key>sourceSize</key>
				<string>{45,27}</string>
			</dict>
			<key>label_notice_op_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,77},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{477,77},{48,28}}</string>
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>label_notice_op_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,364},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{223,364},{53,27}}</string>
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>
			<key>label_notice_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,77},{95,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,77},{95,40}}</string>
				<key>sourceSize</key>
				<string>{95,40}</string>
			</dict>
			<key>label_op_auto_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,77},{139,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,77},{139,25}}</string>
				<key>sourceSize</key>
				<string>{139,25}</string>
			</dict>
			<key>label_op_declare_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,108},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,108},{110,27}}</string>
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>
			<key>label_op_declare_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,77},{110,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,77},{110,27}}</string>
				<key>sourceSize</key>
				<string>{110,27}</string>
			</dict>
			<key>label_op_discard_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,123},{107,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{258,123},{107,27}}</string>
				<key>sourceSize</key>
				<string>{107,27}</string>
			</dict>
			<key>label_op_discard_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,123},{107,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{291,123},{107,27}}</string>
				<key>sourceSize</key>
				<string>{107,27}</string>
			</dict>
			<key>label_op_drop_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,375},{71,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{28,375},{71,31}}</string>
				<key>sourceSize</key>
				<string>{71,31}</string>
			</dict>
			<key>label_op_drop_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,77},{71,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,77},{71,31}}</string>
				<key>sourceSize</key>
				<string>{71,31}</string>
			</dict>
			<key>label_op_finish_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,224},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,224},{84,27}}</string>
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>label_op_finish_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,114},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,114},{84,27}}</string>
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>label_op_group_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,193},{91,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,193},{91,32}}</string>
				<key>sourceSize</key>
				<string>{91,32}</string>
			</dict>
			<key>label_op_group_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,123},{91,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{324,123},{91,32}}</string>
				<key>sourceSize</key>
				<string>{91,32}</string>
			</dict>
			<key>label_player_state_declard.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,231},{81,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,231},{81,24}}</string>
				<key>sourceSize</key>
				<string>{81,24}</string>
			</dict>
			<key>label_player_state_declaring.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,108},{97,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,108},{97,30}}</string>
				<key>sourceSize</key>
				<string>{97,30}</string>
			</dict>
			<key>label_player_state_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,364},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{163,364},{54,29}}</string>
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>label_player_state_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,364},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{281,364},{48,24}}</string>
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>
			<key>label_player_state_waiting.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,147},{82,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,147},{82,29}}</string>
				<key>sourceSize</key>
				<string>{82,29}</string>
			</dict>
			<key>label_points.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,355},{76,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{77,355},{76,17}}</string>
				<key>sourceSize</key>
				<string>{76,17}</string>
			</dict>
			<key>label_result_ele_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,286},{77,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,286},{77,17}}</string>
				<key>sourceSize</key>
				<string>{77,17}</string>
			</dict>
			<key>label_result_flag_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,236},{64,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{258,236},{64,51}}</string>
				<key>sourceSize</key>
				<string>{64,51}</string>
			</dict>
			<key>label_result_head_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,364},{58,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,364},{58,15}}</string>
				<key>sourceSize</key>
				<string>{58,15}</string>
			</dict>
			<key>label_result_head_cards.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,364},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{344,364},{42,15}}</string>
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>label_result_head_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,320},{69,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{380,320},{69,14}}</string>
				<key>sourceSize</key>
				<string>{69,14}</string>
			</dict>
			<key>label_result_head_points.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,355},{69,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,355},{69,15}}</string>
				<key>sourceSize</key>
				<string>{69,15}</string>
			</dict>
			<key>label_result_head_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,364},{60,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,364},{60,15}}</string>
				<key>sourceSize</key>
				<string>{60,15}</string>
			</dict>
			<key>label_result_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,3},{311,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{535,3},{311,38}}</string>
				<key>sourceSize</key>
				<string>{311,38}</string>
			</dict>
			<key>label_result_type_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,220},{91,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{324,220},{91,28}}</string>
				<key>sourceSize</key>
				<string>{91,28}</string>
			</dict>
			<key>label_result_type_lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,228},{86,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{190,228},{86,28}}</string>
				<key>sourceSize</key>
				<string>{86,28}</string>
			</dict>
			<key>label_result_type_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,108},{117,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{157,108},{117,27}}</string>
				<key>sourceSize</key>
				<string>{117,27}</string>
			</dict>
			<key>label_result_win_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,77},{292,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,77},{292,68}}</string>
				<key>sourceSize</key>
				<string>{292,68}</string>
			</dict>
			<key>label_rule_deal.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,364},{51,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{256,364},{51,19}}</string>
				<key>sourceSize</key>
				<string>{51,19}</string>
			</dict>
			<key>label_rule_points.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,375},{72,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,375},{72,19}}</string>
				<key>sourceSize</key>
				<string>{72,19}</string>
			</dict>
			<key>label_rule_pool.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,364},{54,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{198,364},{54,19}}</string>
				<key>sourceSize</key>
				<string>{54,19}</string>
			</dict>
			<key>label_score_elimn.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,231},{81,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{156,231},{81,25}}</string>
				<key>sourceSize</key>
				<string>{81,25}</string>
			</dict>
			<key>label_score_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,211},{92,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,211},{92,29}}</string>
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>label_score_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,77},{272,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{77,77},{272,38}}</string>
				<key>sourceSize</key>
				<string>{272,38}</string>
			</dict>
			<key>label_spectator.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,108},{114,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{190,108},{114,29}}</string>
				<key>sourceSize</key>
				<string>{114,29}</string>
			</dict>
			<key>label_timer_btn_declare.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,261},{78,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,261},{78,19}}</string>
				<key>sourceSize</key>
				<string>{78,19}</string>
			</dict>
			<key>label_wait_next_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{526,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{526,68}}</string>
				<key>sourceSize</key>
				<string>{526,68}</string>
			</dict>
			<key>titel.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,320},{253,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,320},{253,38}}</string>
				<key>sourceSize</key>
				<string>{253,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>121ad361d.png</string>
			<key>size</key>
			<string>{576,450}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>121ad361d.png</string>
		</dict>
	</dict>
</plist>
