<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>deposit.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,764},{128,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{189,764},{128,32}}</string>
				<key>sourceSize</key>
				<string>{128,32}</string>
			</dict>
			<key>label_add_cash.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,659},{204,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,659},{204,49}}</string>
				<key>sourceSize</key>
				<string>{204,49}</string>
			</dict>
			<key>label_add_cash2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,764},{158,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{149,764},{158,34}}</string>
				<key>sourceSize</key>
				<string>{158,34}</string>
			</dict>
			<key>label_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,928},{53,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{149,928},{53,20}}</string>
				<key>sourceSize</key>
				<string>{53,20}</string>
			</dict>
			<key>label_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,3},{382,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{185,3},{382,43}}</string>
				<key>sourceSize</key>
				<string>{382,43}</string>
			</dict>
			<key>label_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,659},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{97,659},{99,97}}</string>
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>label_last.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,869},{101,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,869},{101,91}}</string>
				<key>sourceSize</key>
				<string>{101,91}</string>
			</dict>
			<key>noItem_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,3},{650,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{42,3},{650,90}}</string>
				<key>sourceSize</key>
				<string>{650,90}</string>
			</dict>
			<key>noItem_support.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,966},{181,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,966},{181,34}}</string>
				<key>sourceSize</key>
				<string>{181,34}</string>
			</dict>
			<key>noItem_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,3},{522,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{138,3},{522,41}}</string>
				<key>sourceSize</key>
				<string>{522,41}</string>
			</dict>
			<key>txt_shop_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1004,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1004,33}}</string>
				<key>sourceSize</key>
				<string>{1004,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1df064d77.png</string>
			<key>size</key>
			<string>{231,1010}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1df064d77.png</string>
		</dict>
	</dict>
</plist>
