<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>compare_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,110},{81,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,110},{81,18}}</string>
				<key>sourceSize</key>
				<string>{81,18}</string>
			</dict>
			<key>label_room_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,852},{461,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,852},{461,21}}</string>
				<key>sourceSize</key>
				<string>{461,21}</string>
			</dict>
			<key>label_user_all_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,365},{65,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{439,365},{65,20}}</string>
				<key>sourceSize</key>
				<string>{65,20}</string>
			</dict>
			<key>label_user_all_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,533},{59,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{494,533},{59,21}}</string>
				<key>sourceSize</key>
				<string>{59,21}</string>
			</dict>
			<key>label_user_win_rage_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,990},{143,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{312,990},{143,29}}</string>
				<key>sourceSize</key>
				<string>{143,29}</string>
			</dict>
			<key>label_user_win_rage_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,957},{143,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,957},{143,29}}</string>
				<key>sourceSize</key>
				<string>{143,29}</string>
			</dict>
			<key>label_user_win_rage_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,988},{143,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,988},{143,29}}</string>
				<key>sourceSize</key>
				<string>{143,29}</string>
			</dict>
			<key>roomInfo_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,391},{93,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{484,391},{93,20}}</string>
				<key>sourceSize</key>
				<string>{93,20}</string>
			</dict>
			<key>sprite_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,831},{49,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{470,831},{49,18}}</string>
				<key>sourceSize</key>
				<string>{49,18}</string>
			</dict>
			<key>sprite_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,3},{54,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{500,3},{54,18}}</string>
				<key>sourceSize</key>
				<string>{54,18}</string>
			</dict>
			<key>sprite_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,992},{141,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,992},{141,28}}</string>
				<key>sourceSize</key>
				<string>{141,28}</string>
			</dict>
			<key>sprite_drop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,3},{101,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,3},{101,59}}</string>
				<key>sourceSize</key>
				<string>{101,59}</string>
			</dict>
			<key>sprite_lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,644},{56,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{459,644},{56,29}}</string>
				<key>sourceSize</key>
				<string>{56,29}</string>
			</dict>
			<key>sprite_multi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,795},{79,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{428,795},{79,30}}</string>
				<key>sourceSize</key>
				<string>{79,30}</string>
			</dict>
			<key>sprite_multi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,391},{84,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{448,391},{84,30}}</string>
				<key>sourceSize</key>
				<string>{84,30}</string>
			</dict>
			<key>sprite_type_-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,638},{60,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{494,638},{60,24}}</string>
				<key>sourceSize</key>
				<string>{60,24}</string>
			</dict>
			<key>sprite_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,766},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,766},{79,32}}</string>
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>
			<key>sprite_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,804},{73,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,804},{73,31}}</string>
				<key>sourceSize</key>
				<string>{73,31}</string>
			</dict>
			<key>sprite_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,254},{105,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{439,254},{105,32}}</string>
				<key>sourceSize</key>
				<string>{105,32}</string>
			</dict>
			<key>sprite_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,946},{156,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,946},{156,38}}</string>
				<key>sourceSize</key>
				<string>{156,38}</string>
			</dict>
			<key>sprite_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,879},{156,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,879},{156,61}}</string>
				<key>sourceSize</key>
				<string>{156,61}</string>
			</dict>
			<key>sprite_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,732},{57,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,732},{57,32}}</string>
				<key>sourceSize</key>
				<string>{57,32}</string>
			</dict>
			<key>tips_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,3},{534,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{260,3},{534,68}}</string>
				<key>sourceSize</key>
				<string>{534,68}</string>
			</dict>
			<key>tips_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,3},{526,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{334,3},{526,68}}</string>
				<key>sourceSize</key>
				<string>{526,68}</string>
			</dict>
			<key>txt_3PATTI.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,134},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{439,134},{114,31}}</string>
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>txt_Blind.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,706},{75,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{466,706},{75,25}}</string>
				<key>sourceSize</key>
				<string>{75,25}</string>
			</dict>
			<key>txt_Chaal.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,878},{80,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{481,878},{80,25}}</string>
				<key>sourceSize</key>
				<string>{80,25}</string>
			</dict>
			<key>txt_Show.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,644},{82,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,644},{82,25}}</string>
				<key>sourceSize</key>
				<string>{82,25}</string>
			</dict>
			<key>txt_SideShow.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,957},{154,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,957},{154,25}}</string>
				<key>sourceSize</key>
				<string>{154,25}</string>
			</dict>
			<key>txt_WinMore.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,3},{130,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{408,3},{130,21}}</string>
				<key>sourceSize</key>
				<string>{130,21}</string>
			</dict>
			<key>txt_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,395},{95,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{408,395},{95,34}}</string>
				<key>sourceSize</key>
				<string>{95,34}</string>
			</dict>
			<key>txt_ak47.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,254},{92,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{477,254},{92,31}}</string>
				<key>sourceSize</key>
				<string>{92,31}</string>
			</dict>
			<key>txt_blind2.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,270},{119,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{408,270},{119,25}}</string>
				<key>sourceSize</key>
				<string>{119,25}</string>
			</dict>
			<key>txt_chaal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,139},{125,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{408,139},{125,25}}</string>
				<key>sourceSize</key>
				<string>{125,25}</string>
			</dict>
			<key>txt_compare_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,879},{310,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,879},{310,72}}</string>
				<key>sourceSize</key>
				<string>{310,72}</string>
			</dict>
			<key>txt_compare_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,535},{310,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{350,535},{310,72}}</string>
				<key>sourceSize</key>
				<string>{310,72}</string>
			</dict>
			<key>txt_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,496},{109,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,496},{109,31}}</string>
				<key>sourceSize</key>
				<string>{109,31}</string>
			</dict>
			<key>txt_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,855},{49,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{470,855},{49,17}}</string>
				<key>sourceSize</key>
				<string>{49,17}</string>
			</dict>
			<key>txt_pack.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,533},{69,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{463,533},{69,25}}</string>
				<key>sourceSize</key>
				<string>{69,25}</string>
			</dict>
			<key>txt_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,990},{58,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{461,990},{58,30}}</string>
				<key>sourceSize</key>
				<string>{58,30}</string>
			</dict>
			<key>txt_pot_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{843,251}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{843,251}}</string>
				<key>sourceSize</key>
				<string>{844,251}</string>
			</dict>
			<key>txt_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,134},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{476,134},{114,31}}</string>
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>txt_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,533},{105,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{428,533},{105,29}}</string>
				<key>sourceSize</key>
				<string>{105,29}</string>
			</dict>
			<key>txt_see.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,608},{55,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,608},{55,24}}</string>
				<key>sourceSize</key>
				<string>{55,24}</string>
			</dict>
			<key>txt_winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,543},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{260,543},{217,84}}</string>
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1e508bd5f.png</string>
			<key>size</key>
			<string>{522,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1e508bd5f.png</string>
		</dict>
	</dict>
</plist>
