<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>INACTIVE.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,488},{198,38}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,488},{198,38}}</string>
				<key>sourceSize</key>
				<string>{393,40}</string>
			</dict>
			<key>Insufficient_balance.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,553},{393,30}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{132,553},{393,30}}</string>
				<key>sourceSize</key>
				<string>{393,40}</string>
			</dict>
			<key>LEAVETABLE.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,597},{290,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{738,597},{290,37}}</string>
				<key>sourceSize</key>
				<string>{290,37}</string>
			</dict>
			<key>NO.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,488},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,488},{50,28}}</string>
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>NoSeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,553},{388,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{168,553},{388,33}}</string>
				<key>sourceSize</key>
				<string>{388,33}</string>
			</dict>
			<key>OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,967},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{492,967},{48,28}}</string>
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>REACHED_LIMIT.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,923},{325,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,923},{325,38}}</string>
				<key>sourceSize</key>
				<string>{393,40}</string>
			</dict>
			<key>RECHARGE.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,744},{121,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{781,744},{121,36}}</string>
				<key>sourceSize</key>
				<string>{121,36}</string>
			</dict>
			<key>Yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,488},{57,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{197,488},{57,28}}</string>
				<key>sourceSize</key>
				<string>{57,28}</string>
			</dict>
			<key>btn_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,923},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,923},{66,73}}</string>
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>btn_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,744},{66,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{823,744},{66,73}}</string>
				<key>sourceSize</key>
				<string>{66,73}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,488},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,488},{59,59}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>iconBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,553},{364,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,553},{364,364}}</string>
				<key>sourceSize</key>
				<string>{364,364}</string>
			</dict>
			<key>icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,3},{106,156}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{831,3},{106,156}}</string>
				<key>sourceSize</key>
				<string>{106,157}</string>
			</dict>
			<key>icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,321},{161,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{831,321},{161,91}}</string>
				<key>sourceSize</key>
				<string>{161,91}</string>
			</dict>
			<key>icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,895},{113,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{676,895},{113,121}}</string>
				<key>sourceSize</key>
				<string>{113,121}</string>
			</dict>
			<key>icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,597},{292,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{610,597},{292,122}}</string>
				<key>sourceSize</key>
				<string>{292,122}</string>
			</dict>
			<key>icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,165},{106,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{831,165},{106,150}}</string>
				<key>sourceSize</key>
				<string>{106,150}</string>
			</dict>
			<key>icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,597},{142,141}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,597},{142,141}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,551},{410,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{207,551},{410,27}}</string>
				<key>sourceSize</key>
				<string>{410,27}</string>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,488},{474,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{69,488},{474,57}}</string>
				<key>sourceSize</key>
				<string>{474,57}</string>
			</dict>
			<key>img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,488},{441,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{492,488},{441,59}}</string>
				<key>sourceSize</key>
				<string>{441,59}</string>
			</dict>
			<key>img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,968},{417,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,968},{417,52}}</string>
				<key>sourceSize</key>
				<string>{417,52}</string>
			</dict>
			<key>leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,923},{88,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{571,923},{88,27}}</string>
				<key>sourceSize</key>
				<string>{88,27}</string>
			</dict>
			<key>leave_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{822,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{822,479}}</string>
				<key>sourceSize</key>
				<string>{822,479}</string>
			</dict>
			<key>switchtable.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,553},{318,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,553},{318,38}}</string>
				<key>sourceSize</key>
				<string>{318,38}</string>
			</dict>
			<key>switchtable_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,488},{527,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,488},{527,27}}</string>
				<key>sourceSize</key>
				<string>{527,27}</string>
			</dict>
			<key>word.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,488},{516,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{36,488},{516,27}}</string>
				<key>sourceSize</key>
				<string>{516,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1538ada96.png</string>
			<key>size</key>
			<string>{940,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1538ada96.png</string>
		</dict>
	</dict>
</plist>
