<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_bomb_select_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1788},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{973,1788},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1898},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1417,1898},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>
			<key>btn_game_op_bet_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,987},{66,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1216,987},{66,69}}</string>
				<key>sourceSize</key>
				<string>{66,69}</string>
			</dict>
			<key>btn_game_op_bet_dec.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,987},{67,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1143,987},{67,70}}</string>
				<key>sourceSize</key>
				<string>{67,70}</string>
			</dict>
			<key>btn_game_op_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,613},{448,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{418,613},{448,112}}</string>
				<key>sourceSize</key>
				<string>{448,112}</string>
			</dict>
			<key>btn_game_op_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,613},{448,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{536,613},{448,112}}</string>
				<key>sourceSize</key>
				<string>{448,112}</string>
			</dict>
			<key>btn_menu_change_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,664},{40,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1487,664},{40,44}}</string>
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>
			<key>btn_menu_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,624},{42,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1487,624},{42,34}}</string>
				<key>sourceSize</key>
				<string>{43,34}</string>
			</dict>
			<key>btn_menu_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,760},{40,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1487,760},{40,40}}</string>
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>btn_menu_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1886},{226,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,1886},{226,55}}</string>
				<key>sourceSize</key>
				<string>{226,55}</string>
			</dict>
			<key>btn_menu_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,641},{47,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,641},{47,36}}</string>
				<key>sourceSize</key>
				<string>{47,36}</string>
			</dict>
			<key>btn_menu_music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,694},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,694},{44,36}}</string>
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>btn_menu_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,532},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1487,532},{42,40}}</string>
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,830},{312,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,830},{312,101}}</string>
				<key>sourceSize</key>
				<string>{312,101}</string>
			</dict>
			<key>btn_op_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1723},{59,62}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1723},{59,62}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>btn_op_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1660},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1045,1660},{61,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>btn_rule_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,772},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{963,772},{64,38}}</string>
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>btn_rule_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1947},{61,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,1947},{61,83}}</string>
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>cb_no_next_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,578},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1487,578},{40,42}}</string>
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>cb_no_next_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,958},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,958},{31,30}}</string>
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>img_bet_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,987},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{991,987},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,291},{145,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,291},{145,86}}</string>
				<key>sourceSize</key>
				<string>{145,86}</string>
			</dict>
			<key>img_bet_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,96},{379,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,96},{379,87}}</string>
				<key>sourceSize</key>
				<string>{379,87}</string>
			</dict>
			<key>img_bet_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,3},{379,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,3},{379,87}}</string>
				<key>sourceSize</key>
				<string>{379,87}</string>
			</dict>
			<key>img_bet_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,987},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1067,987},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img_bg_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1899,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1899,261}}</string>
				<key>sourceSize</key>
				<string>{1899,261}</string>
			</dict>
			<key>img_bomb_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,3},{170,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,3},{170,282}}</string>
				<key>sourceSize</key>
				<string>{170,282}</string>
			</dict>
			<key>img_bomb_select_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1656},{61,66}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1656},{61,66}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>img_bomb_select_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1741},{79,68}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1417,1741},{79,68}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>img_bomb_select_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1977},{67,75}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1417,1977},{67,75}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>img_bomb_select_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1658},{77,81}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1417,1658},{77,81}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>img_bomb_select_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,249},{20,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1507,249},{20,111}}</string>
				<key>sourceSize</key>
				<string>{20,111}</string>
			</dict>
			<key>img_bomb_select_item_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1168},{90,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1435,1168},{90,115}}</string>
				<key>sourceSize</key>
				<string>{90,115}</string>
			</dict>
			<key>img_bomb_select_item_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,366},{20,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1507,366},{20,84}}</string>
				<key>sourceSize</key>
				<string>{20,84}</string>
			</dict>
			<key>img_bomb_select_mul_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,714},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1487,714},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>img_bomb_select_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,744},{48,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,744},{48,34}}</string>
				<key>sourceSize</key>
				<string>{48,34}</string>
			</dict>
			<key>img_bomb_select_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,383},{40,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{418,383},{40,27}}</string>
				<key>sourceSize</key>
				<string>{40,27}</string>
			</dict>
			<key>img_bomb_select_progress_handle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,937},{62,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1438,937},{62,38}}</string>
				<key>sourceSize</key>
				<string>{62,38}</string>
			</dict>
			<key>img_content_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,383},{142,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,383},{142,123}}</string>
				<key>sourceSize</key>
				<string>{142,123}</string>
			</dict>
			<key>img_content_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,512},{142,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{270,512},{142,123}}</string>
				<key>sourceSize</key>
				<string>{142,123}</string>
			</dict>
			<key>img_content_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,830},{231,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,830},{231,65}}</string>
				<key>sourceSize</key>
				<string>{231,65}</string>
			</dict>
			<key>img_content_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,772},{240,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,772},{240,45}}</string>
				<key>sourceSize</key>
				<string>{240,45}</string>
			</dict>
			<key>img_content_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,249},{277,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1137,249},{277,364}}</string>
				<key>sourceSize</key>
				<string>{277,364}</string>
			</dict>
			<key>img_game_grid_bg_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,878},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{991,878},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_bg_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1552},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1417,1552},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img_game_grid_bg_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1892},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{670,1892},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_fg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1892},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{452,1892},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_fg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1892},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{561,1892},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_fg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,937},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1329,937},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_fg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,663},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{991,663},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_fg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1892},{119,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{779,1892},{119,103}}</string>
				<key>sourceSize</key>
				<string>{119,103}</string>
			</dict>
			<key>img_game_grid_icon_bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1947},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{955,1947},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>img_game_grid_icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,1727},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1041,1727},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img_game_op_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1460},{420,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{881,1460},{420,86}}</string>
				<key>sourceSize</key>
				<string>{420,86}</string>
			</dict>
			<key>img_game_op_bet_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,830},{228,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{725,830},{228,260}}</string>
				<key>sourceSize</key>
				<string>{228,260}</string>
			</dict>
			<key>img_game_op_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1064},{541,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,1064},{541,273}}</string>
				<key>sourceSize</key>
				<string>{541,273}</string>
			</dict>
			<key>img_game_op_bomb_count_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1815},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1417,1815},{78,77}}</string>
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>img_game_op_bomb_count_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,772},{93,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1033,772},{93,100}}</string>
				<key>sourceSize</key>
				<string>{93,100}</string>
			</dict>
			<key>img_game_op_select_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,937},{207,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1116,937},{207,44}}</string>
				<key>sourceSize</key>
				<string>{207,44}</string>
			</dict>
			<key>img_game_op_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,189},{377,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,189},{377,54}}</string>
				<key>sourceSize</key>
				<string>{377,54}</string>
			</dict>
			<key>img_game_warn.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1460},{190,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1460},{190,75}}</string>
				<key>sourceSize</key>
				<string>{190,75}</string>
			</dict>
			<key>img_guide_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1460},{534,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1137,1460},{534,274}}</string>
				<key>sourceSize</key>
				<string>{534,274}</string>
			</dict>
			<key>img_guide_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,641},{421,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{270,641},{421,99}}</string>
				<key>sourceSize</key>
				<string>{421,99}</string>
			</dict>
			<key>img_guide_frame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1908},{443,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1908},{443,124}}</string>
				<key>sourceSize</key>
				<string>{443,124}</string>
			</dict>
			<key>img_guide_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,613},{476,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{654,613},{476,44}}</string>
				<key>sourceSize</key>
				<string>{476,44}</string>
			</dict>
			<key>img_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,663},{302,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{654,663},{302,103}}</string>
				<key>sourceSize</key>
				<string>{302,103}</string>
			</dict>
			<key>img_info_gold_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,806},{259,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1487,806},{259,38}}</string>
				<key>sourceSize</key>
				<string>{259,38}</string>
			</dict>
			<key>img_info_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1071},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1435,1071},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>img_info_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,1947},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1043,1947},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>
			<key>img_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,532},{292,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1137,532},{292,344}}</string>
				<key>sourceSize</key>
				<string>{292,344}</string>
			</dict>
			<key>img_record_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,772},{46,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,772},{46,57}}</string>
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>
			<key>img_record_list_ele_other_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,798},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,798},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img_record_list_ele_other_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,918},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,918},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img_record_list_ele_self_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,878},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,878},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img_record_list_ele_self_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,838},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,838},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>img_record_list_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,994},{46,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{375,994},{46,29}}</string>
				<key>sourceSize</key>
				<string>{46,29}</string>
			</dict>
			<key>img_result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1343},{535,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,1343},{535,111}}</string>
				<key>sourceSize</key>
				<string>{535,111}</string>
			</dict>
			<key>img_rule_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1071},{815,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{270,1071},{815,605}}</string>
				<key>sourceSize</key>
				<string>{815,605}</string>
			</dict>
			<key>img_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1289},{257,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1435,1289},{257,88}}</string>
				<key>sourceSize</key>
				<string>{257,88}</string>
			</dict>
			<key>img_window_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,3},{604,674}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{452,3},{604,674}}</string>
				<key>sourceSize</key>
				<string>{604,674}</string>
			</dict>
			<key>img_window_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,2038},{1128,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2038},{1128,2}}</string>
				<key>sourceSize</key>
				<string>{1128,2}</string>
			</dict>
			<key>img_window_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,1460},{194,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1054,1460},{194,72}}</string>
				<key>sourceSize</key>
				<string>{194,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f8a04690.png</string>
			<key>size</key>
			<string>{1532,2047}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f8a04690.png</string>
		</dict>
	</dict>
</plist>
