<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>menu_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,3},{395,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,3},{395,750}}</string>
				<key>sourceSize</key>
				<string>{395,750}</string>
			</dict>
			<key>menu_bg_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{613,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{613,750}}</string>
				<key>sourceSize</key>
				<string>{613,750}</string>
			</dict>
			<key>sprite_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,759},{183,72}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{192,759},{183,72}}</string>
				<key>sourceSize</key>
				<string>{185,73}</string>
			</dict>
			<key>sprite_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,759},{183,72}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,759},{183,72}}</string>
				<key>sourceSize</key>
				<string>{185,73}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>131bf88fb.png</string>
			<key>size</key>
			<string>{1020,834}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>131bf88fb.png</string>
		</dict>
	</dict>
</plist>
