<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,812},{204,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{48,812},{204,49}}</string>
				<key>sourceSize</key>
				<string>{204,49}</string>
			</dict>
			<key>label_take_it.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,418},{72,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{89,418},{72,40}}</string>
				<key>sourceSize</key>
				<string>{72,40}</string>
			</dict>
			<key>label_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,418},{388,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{48,418},{388,35}}</string>
				<key>sourceSize</key>
				<string>{388,35}</string>
			</dict>
			<key>label_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{409,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{409,89}}</string>
				<key>sourceSize</key>
				<string>{409,89}</string>
			</dict>
			<key>label_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,418},{588,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,418},{588,39}}</string>
				<key>sourceSize</key>
				<string>{588,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1339c2515.png</string>
			<key>size</key>
			<string>{132,1019}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1339c2515.png</string>
		</dict>
	</dict>
</plist>
