<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>copyCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,845},{144,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,845},{144,32}}</string>
				<key>sourceSize</key>
				<string>{144,32}</string>
			</dict>
			<key>createdAt.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,3},{102,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,3},{102,21}}</string>
				<key>sourceSize</key>
				<string>{102,21}</string>
			</dict>
			<key>orderCode.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,199},{73,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,199},{73,21}}</string>
				<key>sourceSize</key>
				<string>{73,21}</string>
			</dict>
			<key>orderNo.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,111},{82,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,111},{82,21}}</string>
				<key>sourceSize</key>
				<string>{82,21}</string>
			</dict>
			<key>paid.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,656},{183,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,656},{183,40}}</string>
				<key>sourceSize</key>
				<string>{183,40}</string>
			</dict>
			<key>payOrder.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,462},{188,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,462},{188,49}}</string>
				<key>sourceSize</key>
				<string>{188,49}</string>
			</dict>
			<key>payOrderMins.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{453,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{453,26}}</string>
				<key>sourceSize</key>
				<string>{453,26}</string>
			</dict>
			<key>time.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,278},{39,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{35,278},{39,14}}</string>
				<key>sourceSize</key>
				<string>{39,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13acb01da.png</string>
			<key>size</key>
			<string>{59,992}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13acb01da.png</string>
		</dict>
	</dict>
</plist>
