<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_logout.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,3},{188,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{853,3},{188,53}}</string>
				<key>sourceSize</key>
				<string>{188,53}</string>
			</dict>
			<key>img_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,3},{17,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{918,3},{17,12}}</string>
				<key>sourceSize</key>
				<string>{17,12}</string>
			</dict>
			<key>img_lanBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,3},{345,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,3},{345,59}}</string>
				<key>sourceSize</key>
				<string>{345,59}</string>
			</dict>
			<key>img_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1002},{737,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1002},{737,2}}</string>
				<key>sourceSize</key>
				<string>{737,2}</string>
			</dict>
			<key>img_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1010},{6,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{191,1010},{6,64}}</string>
				<key>sourceSize</key>
				<string>{6,64}</string>
			</dict>
			<key>lang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,686},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{877,686},{55,41}}</string>
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>language_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1010},{182,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1010},{182,1}}</string>
				<key>sourceSize</key>
				<string>{182,1}</string>
			</dict>
			<key>pannelBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,3},{101,451}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{746,3},{101,451}}</string>
				<key>sourceSize</key>
				<string>{101,451}</string>
			</dict>
			<key>progressBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,354},{382,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,354},{382,34}}</string>
				<key>sourceSize</key>
				<string>{382,34}</string>
			</dict>
			<key>progressBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,354},{374,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{711,354},{374,26}}</string>
				<key>sourceSize</key>
				<string>{374,26}</string>
			</dict>
			<key>progressTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,460},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{791,460},{32,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>setting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{993,662}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{993,662}}</string>
				<key>sourceSize</key>
				<string>{995,665}</string>
			</dict>
			<key>setting_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,460},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{743,460},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>setting_en1.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,446},{93,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{882,446},{93,29}}</string>
				<key>sourceSize</key>
				<string>{93,29}</string>
			</dict>
			<key>setting_en2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,338},{102,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,338},{102,31}}</string>
				<key>sourceSize</key>
				<string>{102,31}</string>
			</dict>
			<key>setting_icon_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,864},{25,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{850,864},{25,20}}</string>
				<key>sourceSize</key>
				<string>{25,20}</string>
			</dict>
			<key>setting_icon_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,890},{212,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,890},{212,58}}</string>
				<key>sourceSize</key>
				<string>{212,58}</string>
			</dict>
			<key>setting_icon_language.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,541},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{743,541},{93,93}}</string>
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>setting_icon_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,697},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{832,697},{28,31}}</string>
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>setting_icon_select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,541},{72,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{842,541},{72,29}}</string>
				<key>sourceSize</key>
				<string>{72,29}</string>
			</dict>
			<key>setting_icon_select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,619},{72,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{842,619},{72,29}}</string>
				<key>sourceSize</key>
				<string>{72,29}</string>
			</dict>
			<key>setting_icon_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,697},{37,27}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{743,697},{37,27}}</string>
				<key>sourceSize</key>
				<string>{37,28}</string>
			</dict>
			<key>setting_ida1.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,412},{123,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{853,412},{123,23}}</string>
				<key>sourceSize</key>
				<string>{123,23}</string>
			</dict>
			<key>setting_ida2.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,197},{135,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,197},{135,25}}</string>
				<key>sourceSize</key>
				<string>{135,25}</string>
			</dict>
			<key>setting_in1.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,813},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{850,813},{45,33}}</string>
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>setting_in2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,640},{63,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{786,640},{63,40}}</string>
				<key>sourceSize</key>
				<string>{63,40}</string>
			</dict>
			<key>setting_pak1.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,640},{45,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{743,640},{45,33}}</string>
				<key>sourceSize</key>
				<string>{45,33}</string>
			</dict>
			<key>setting_pak2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,954},{63,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,954},{63,40}}</string>
				<key>sourceSize</key>
				<string>{63,40}</string>
			</dict>
			<key>setting_pt_BR1.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,813},{130,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{889,813},{130,29}}</string>
				<key>sourceSize</key>
				<string>{130,29}</string>
			</dict>
			<key>setting_pt_BR2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,742},{142,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,742},{142,32}}</string>
				<key>sourceSize</key>
				<string>{142,32}</string>
			</dict>
			<key>setting_tab_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,734},{201,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{711,734},{201,73}}</string>
				<key>sourceSize</key>
				<string>{201,73}</string>
			</dict>
			<key>setting_tab_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1017},{93,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1017},{93,1}}</string>
				<key>sourceSize</key>
				<string>{93,1}</string>
			</dict>
			<key>setting_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,197},{209,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{853,197},{209,38}}</string>
				<key>sourceSize</key>
				<string>{209,38}</string>
			</dict>
			<key>toggle_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,954},{180,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{746,954},{180,65}}</string>
				<key>sourceSize</key>
				<string>{180,66}</string>
			</dict>
			<key>toggle_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,813},{135,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{709,813},{135,55}}</string>
				<key>sourceSize</key>
				<string>{135,55}</string>
			</dict>
			<key>toggle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,545},{135,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{877,545},{135,55}}</string>
				<key>sourceSize</key>
				<string>{135,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13e3ab320.png</string>
			<key>size</key>
			<string>{935,1022}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13e3ab320.png</string>
		</dict>
	</dict>
</plist>
