<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,197},{192,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,197},{192,45}}</string>
				<key>sourceSize</key>
				<string>{192,45}</string>
			</dict>
			<key>btn_back3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,395},{175,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,395},{175,45}}</string>
				<key>sourceSize</key>
				<string>{175,45}</string>
			</dict>
			<key>btn_customer.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{188,58}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{188,58}}</string>
				<key>sourceSize</key>
				<string>{195,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13e31b329.png</string>
			<key>size</key>
			<string>{64,573}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13e31b329.png</string>
		</dict>
	</dict>
</plist>
