<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,1725},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1183,1725},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>btn_notice_op_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1971},{256,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,1971},{256,73}}</string>
				<key>sourceSize</key>
				<string>{256,73}</string>
			</dict>
			<key>btn_notice_op_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1217},{257,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{581,1217},{257,73}}</string>
				<key>sourceSize</key>
				<string>{257,73}</string>
			</dict>
			<key>btn_open_card_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,1777},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1183,1777},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>btn_result_op_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1030},{42,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1209,1030},{42,72}}</string>
				<key>sourceSize</key>
				<string>{42,72}</string>
			</dict>
			<key>btn_result_op_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1606},{42,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1103,1606},{42,72}}</string>
				<key>sourceSize</key>
				<string>{42,72}</string>
			</dict>
			<key>btn_result_op_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1108},{42,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1209,1108},{42,72}}</string>
				<key>sourceSize</key>
				<string>{42,72}</string>
			</dict>
			<key>img_btn_auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1391},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1391},{30,31}}</string>
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>img_btn_auto_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,2017},{24,24}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,2017},{24,24}}</string>
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>img_btn_bg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,292},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{931,292},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_btn_bg_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1727},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{817,1727},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_btn_bg_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,720},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{931,720},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_btn_bg_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,506},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{931,506},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_btn_bg_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1727},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1100,1727},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_btn_bg_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1810},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,1810},{208,77}}</string>
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>img_card_group_bg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1810},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1028,1810},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>img_card_group_bg_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1810},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{817,1810},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>img_card_group_bg_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1971},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{990,1971},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>img_card_group_bg_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1480},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,1480},{104,54}}</string>
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>img_card_joker_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1353},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{660,1353},{32,24}}</string>
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>img_card_joker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1658},{68,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,1658},{68,141}}</string>
				<key>sourceSize</key>
				<string>{68,141}</string>
			</dict>
			<key>img_card_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1517},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1173,1517},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img_card_pool_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1269},{28,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1269},{28,40}}</string>
				<key>sourceSize</key>
				<string>{28,40}</string>
			</dict>
			<key>img_card_pool_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1654},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1177,1654},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>img_card_pool_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1217},{46,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{660,1217},{46,30}}</string>
				<key>sourceSize</key>
				<string>{46,30}</string>
			</dict>
			<key>img_card_pool_open_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1941},{96,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1100,1941},{96,148}}</string>
				<key>sourceSize</key>
				<string>{96,148}</string>
			</dict>
			<key>img_func_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1242},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1144,1242},{71,73}}</string>
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>img_func_icon_jfb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1920},{62,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1028,1920},{62,45}}</string>
				<key>sourceSize</key>
				<string>{62,45}</string>
			</dict>
			<key>img_layer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{1208,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1208,688}}</string>
				<key>sourceSize</key>
				<string>{1208,688}</string>
			</dict>
			<key>img_layer_list_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1319},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1159,1319},{70,68}}</string>
				<key>sourceSize</key>
				<string>{70,68}</string>
			</dict>
			<key>img_layer_list_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,922},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,922},{102,102}}</string>
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>img_layer_list_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,651},{100,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,651},{100,48}}</string>
				<key>sourceSize</key>
				<string>{100,48}</string>
			</dict>
			<key>img_layer_list_head_split.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1658},{2,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,1658},{2,40}}</string>
				<key>sourceSize</key>
				<string>{2,40}</string>
			</dict>
			<key>img_layer_notice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1217},{806,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1217},{806,463}}</string>
				<key>sourceSize</key>
				<string>{806,463}</string>
			</dict>
			<key>img_notice_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,803},{148,113}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1089,803},{148,113}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1544},{126,108}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,1544},{126,108}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,571},{117,113}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1014,571},{117,113}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,292},{146,112}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1014,292},{146,112}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,292},{121,108}}</string>
				<key>offset</key>
				<string>{-20,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1132,292},{121,108}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,444},{121,113}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1014,444},{121,113}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>img_notice_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,3},{283,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{931,3},{283,282}}</string>
				<key>sourceSize</key>
				<string>{283,282}</string>
			</dict>
			<key>img_op_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,3},{927,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{817,3},{927,108}}</string>
				<key>sourceSize</key>
				<string>{927,108}</string>
			</dict>
			<key>img_op_self_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1217},{455,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{472,1217},{455,71}}</string>
				<key>sourceSize</key>
				<string>{455,71}</string>
			</dict>
			<key>img_open_card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,936},{785,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{817,936},{785,280}}</string>
				<key>sourceSize</key>
				<string>{785,280}</string>
			</dict>
			<key>img_open_card_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1428},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1428},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img_open_card_ele_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,2017},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{764,2017},{16,17}}</string>
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>img_open_card_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,705},{65,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1145,705},{65,90}}</string>
				<key>sourceSize</key>
				<string>{65,90}</string>
			</dict>
			<key>img_open_card_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1242},{35,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,1242},{35,96}}</string>
				<key>sourceSize</key>
				<string>{35,96}</string>
			</dict>
			<key>img_open_card_tab_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1971},{122,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{862,1971},{122,40}}</string>
				<key>sourceSize</key>
				<string>{122,40}</string>
			</dict>
			<key>img_open_card_tab_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1971},{122,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,1971},{122,40}}</string>
				<key>sourceSize</key>
				<string>{122,40}</string>
			</dict>
			<key>img_player_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,535},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1137,535},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img_player_head_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,419},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,419},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>img_player_head_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1136},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,1136},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img_player_head_score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1528},{72,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1103,1528},{72,64}}</string>
				<key>sourceSize</key>
				<string>{72,64}</string>
			</dict>
			<key>img_player_host.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1315},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1315},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>img_player_self_op_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,3},{1900,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{697,3},{1900,114}}</string>
				<key>sourceSize</key>
				<string>{1900,114}</string>
			</dict>
			<key>img_player_self_op_mask2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1217},{26,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,1217},{26,321}}</string>
				<key>sourceSize</key>
				<string>{26,321}</string>
			</dict>
			<key>img_player_spectator.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,922},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1211,922},{64,36}}</string>
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>img_player_timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1030},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,1030},{100,100}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>img_player_timer_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1678},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,1678},{126,126}}</string>
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>img_result_player_bg_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1436},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,1436},{50,86}}</string>
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>img_result_player_bg_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1469},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1159,1469},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>
			<key>img_result_player_bg_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1344},{50,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1103,1344},{50,86}}</string>
				<key>sourceSize</key>
				<string>{50,86}</string>
			</dict>
			<key>img_result_player_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1810},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{927,1810},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>img_room_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1909},{550,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,1909},{550,56}}</string>
				<key>sourceSize</key>
				<string>{550,56}</string>
			</dict>
			<key>img_room_timer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1031,1727},{62,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1031,1727},{62,53}}</string>
				<key>sourceSize</key>
				<string>{62,53}</string>
			</dict>
			<key>img_room_timer_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1583},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1181,1583},{46,47}}</string>
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>img_score_list_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1654},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1103,1654},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>
			<key>img_score_list_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1395},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1207,1395},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>
			<key>img_score_total_self.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,1395},{42,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1159,1395},{42,68}}</string>
				<key>sourceSize</key>
				<string>{42,68}</string>
			</dict>
			<key>sprite_desk_cards.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,803},{103,152}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{931,803},{103,152}}</string>
				<key>sourceSize</key>
				<string>{108,153}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1b41f7a5c.png</string>
			<key>size</key>
			<string>{1254,2047}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1b41f7a5c.png</string>
		</dict>
	</dict>
</plist>
