<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{101,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{101,93}}</string>
				<key>sourceSize</key>
				<string>{101,93}</string>
			</dict>
			<key>blue_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,298},{98,91}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,298},{98,91}}</string>
				<key>sourceSize</key>
				<string>{99,91}</string>
			</dict>
			<key>blue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,592},{97,92}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,592},{97,92}}</string>
				<key>sourceSize</key>
				<string>{102,93}</string>
			</dict>
			<key>blue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,785},{94,92}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,785},{94,92}}</string>
				<key>sourceSize</key>
				<string>{100,93}</string>
			</dict>
			<key>blue_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,201},{98,91}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,201},{98,91}}</string>
				<key>sourceSize</key>
				<string>{101,91}</string>
			</dict>
			<key>green_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,102},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,102},{99,93}}</string>
				<key>sourceSize</key>
				<string>{99,95}</string>
			</dict>
			<key>green_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,690},{96,89}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,690},{96,89}}</string>
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>green_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,492},{97,94}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,492},{97,94}}</string>
				<key>sourceSize</key>
				<string>{106,95}</string>
			</dict>
			<key>green_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,883},{94,90}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,883},{94,90}}</string>
				<key>sourceSize</key>
				<string>{100,94}</string>
			</dict>
			<key>green_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,395},{98,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,395},{98,91}}</string>
				<key>sourceSize</key>
				<string>{98,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>15b99373e.png</string>
			<key>size</key>
			<string>{107,976}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>15b99373e.png</string>
		</dict>
	</dict>
</plist>
