<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GO.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,416},{37,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,416},{37,20}}</string>
				<key>sourceSize</key>
				<string>{37,20}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,668},{746,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1197,668},{746,532}}</string>
				<key>sourceSize</key>
				<string>{746,532}</string>
			</dict>
			<key>bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1335},{692,361}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{297,1335},{692,361}}</string>
				<key>sourceSize</key>
				<string>{692,361}</string>
			</dict>
			<key>bg_layer.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,155},{824,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,155},{824,507}}</string>
				<key>sourceSize</key>
				<string>{824,507}</string>
			</dict>
			<key>box.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1363},{506,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,1363},{506,70}}</string>
				<key>sourceSize</key>
				<string>{506,70}</string>
			</dict>
			<key>btn_bank_selector.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,706},{443,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,706},{443,36}}</string>
				<key>sourceSize</key>
				<string>{443,36}</string>
			</dict>
			<key>btn_change_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1161},{163,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1161},{163,50}}</string>
				<key>sourceSize</key>
				<string>{163,50}</string>
			</dict>
			<key>btn_change_bank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,853},{138,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{633,853},{138,36}}</string>
				<key>sourceSize</key>
				<string>{138,36}</string>
			</dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,537},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,537},{46,44}}</string>
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>btn_credit_vip_notice_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,348},{274,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,348},{274,70}}</string>
				<key>sourceSize</key>
				<string>{274,70}</string>
			</dict>
			<key>btn_credit_vip_notice_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,424},{274,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,424},{274,70}}</string>
				<key>sourceSize</key>
				<string>{274,70}</string>
			</dict>
			<key>btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,497},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,497},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>btn_input_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,240},{103,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1916,240},{103,61}}</string>
				<key>sourceSize</key>
				<string>{103,61}</string>
			</dict>
			<key>btn_input_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,307},{103,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1916,307},{103,61}}</string>
				<key>sourceSize</key>
				<string>{103,61}</string>
			</dict>
			<key>btn_input_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,173},{103,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1918,173},{103,61}}</string>
				<key>sourceSize</key>
				<string>{103,61}</string>
			</dict>
			<key>btn_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,537},{295,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{55,537},{295,66}}</string>
				<key>sourceSize</key>
				<string>{295,66}</string>
			</dict>
			<key>btn_withdraw_limit_go_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,474},{96,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1870,474},{96,58}}</string>
				<key>sourceSize</key>
				<string>{96,58}</string>
			</dict>
			<key>btnbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,348},{316,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{127,348},{316,74}}</string>
				<key>sourceSize</key>
				<string>{316,74}</string>
			</dict>
			<key>btnclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,662},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,662},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>credit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,121},{31,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1882,121},{31,35}}</string>
				<key>sourceSize</key>
				<string>{31,35}</string>
			</dict>
			<key>creditbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1673},{337,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{664,1673},{337,127}}</string>
				<key>sourceSize</key>
				<string>{337,127}</string>
			</dict>
			<key>detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,539},{616,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1794,539},{616,238}}</string>
				<key>sourceSize</key>
				<string>{616,238}</string>
			</dict>
			<key>detail_content_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,416},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{547,416},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>detail_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1159},{401,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{787,1159},{401,26}}</string>
				<key>sourceSize</key>
				<string>{401,26}</string>
			</dict>
			<key>detail_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1191},{401,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{787,1191},{401,26}}</string>
				<key>sourceSize</key>
				<string>{401,26}</string>
			</dict>
			<key>gobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,348},{183,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,348},{183,48}}</string>
				<key>sourceSize</key>
				<string>{183,48}</string>
			</dict>
			<key>icon_processing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,61},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1919,61},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>img_account_bank_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,198},{210,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1870,198},{210,40}}</string>
				<key>sourceSize</key>
				<string>{210,40}</string>
			</dict>
			<key>img_account_bank_select_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1326},{184,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,1326},{184,1}}</string>
				<key>sourceSize</key>
				<string>{184,1}</string>
			</dict>
			<key>img_account_edit_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,842},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{891,842},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>img_account_edit_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,416},{31,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,416},{31,22}}</string>
				<key>sourceSize</key>
				<string>{31,22}</string>
			</dict>
			<key>img_account_edit_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,416},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{422,416},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>img_account_edit_icon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,413},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,413},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>img_account_edit_icon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,416},{28,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{279,416},{28,21}}</string>
				<key>sourceSize</key>
				<string>{28,21}</string>
			</dict>
			<key>img_account_edit_icon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,416},{29,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,416},{29,22}}</string>
				<key>sourceSize</key>
				<string>{29,22}</string>
			</dict>
			<key>img_account_edit_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,670},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,670},{20,24}}</string>
				<key>sourceSize</key>
				<string>{20,24}</string>
			</dict>
			<key>img_account_edit_icon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,822},{25,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,822},{25,23}}</string>
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>img_account_edit_icon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,416},{27,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,416},{27,20}}</string>
				<key>sourceSize</key>
				<string>{27,20}</string>
			</dict>
			<key>img_account_edit_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,286},{441,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2038,286},{441,1}}</string>
				<key>sourceSize</key>
				<string>{441,1}</string>
			</dict>
			<key>img_account_edit_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,61},{472,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2031,61},{472,1}}</string>
				<key>sourceSize</key>
				<string>{472,1}</string>
			</dict>
			<key>img_account_edit_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,382},{437,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,382},{437,28}}</string>
				<key>sourceSize</key>
				<string>{437,28}</string>
			</dict>
			<key>img_account_edit_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,121},{912,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,121},{912,28}}</string>
				<key>sourceSize</key>
				<string>{912,28}</string>
			</dict>
			<key>img_account_type_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,842},{478,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{133,842},{478,68}}</string>
				<key>sourceSize</key>
				<string>{478,68}</string>
			</dict>
			<key>img_account_type_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,842},{478,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,842},{478,68}}</string>
				<key>sourceSize</key>
				<string>{478,68}</string>
			</dict>
			<key>img_amount_account_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,3},{949,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,3},{949,112}}</string>
				<key>sourceSize</key>
				<string>{949,112}</string>
			</dict>
			<key>img_amount_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,173},{360,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1794,173},{360,70}}</string>
				<key>sourceSize</key>
				<string>{360,70}</string>
			</dict>
			<key>img_bank_selector_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,155},{17,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1835,155},{17,10}}</string>
				<key>sourceSize</key>
				<string>{17,10}</string>
			</dict>
			<key>img_bank_selector_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,3},{6,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2038,3},{6,193}}</string>
				<key>sourceSize</key>
				<string>{6,193}</string>
			</dict>
			<key>img_bank_selector_bar_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,2034},{9,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,2034},{9,85}}</string>
				<key>sourceSize</key>
				<string>{9,85}</string>
			</dict>
			<key>img_bank_selector_cur.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,832},{420,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,832},{420,58}}</string>
				<key>sourceSize</key>
				<string>{420,58}</string>
			</dict>
			<key>img_bank_selector_gou_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,497},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,497},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_bank_selector_gou_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,842},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{857,842},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>img_bank_selector_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,733},{376,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2038,733},{376,1}}</string>
				<key>sourceSize</key>
				<string>{376,1}</string>
			</dict>
			<key>img_channel_state_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,473},{191,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{517,473},{191,65}}</string>
				<key>sourceSize</key>
				<string>{191,65}</string>
			</dict>
			<key>img_channel_state_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,894},{191,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{975,894},{191,65}}</string>
				<key>sourceSize</key>
				<string>{191,65}</string>
			</dict>
			<key>img_channel_state_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,473},{191,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{588,473},{191,65}}</string>
				<key>sourceSize</key>
				<string>{191,65}</string>
			</dict>
			<key>img_channel_state_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,473},{191,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{446,473},{191,65}}</string>
				<key>sourceSize</key>
				<string>{191,65}</string>
			</dict>
			<key>img_content_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,670},{518,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,670},{518,156}}</string>
				<key>sourceSize</key>
				<string>{518,156}</string>
			</dict>
			<key>img_content_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1161},{574,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,1161},{574,156}}</string>
				<key>sourceSize</key>
				<string>{574,156}</string>
			</dict>
			<key>img_credit_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,374},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1970,374},{33,33}}</string>
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>img_credit_vip_notice_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1335},{693,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,1335},{693,288}}</string>
				<key>sourceSize</key>
				<string>{693,288}</string>
			</dict>
			<key>img_credit_vip_notice_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1223},{94,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,1223},{94,93}}</string>
				<key>sourceSize</key>
				<string>{94,93}</string>
			</dict>
			<key>img_credit_vip_notice_progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,162},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1870,162},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>img_credit_vip_notice_progress_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,348},{460,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,348},{460,28}}</string>
				<key>sourceSize</key>
				<string>{460,28}</string>
			</dict>
			<key>img_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,632},{39,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,632},{39,24}}</string>
				<key>sourceSize</key>
				<string>{39,24}</string>
			</dict>
			<key>img_edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,442},{18,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,442},{18,19}}</string>
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>
			<key>img_edit_account_help_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,155},{19,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1794,155},{19,11}}</string>
				<key>sourceSize</key>
				<string>{19,11}</string>
			</dict>
			<key>img_edit_account_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,416},{27,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,416},{27,21}}</string>
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>img_icon_bank_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,785},{31,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,785},{31,23}}</string>
				<key>sourceSize</key>
				<string>{31,23}</string>
			</dict>
			<key>img_icon_final_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,587},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,587},{40,39}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>img_icon_kyc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1223},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,1223},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1223},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1072,1223},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1665},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{797,1665},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1944},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{797,1944},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1223},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{886,1223},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1758},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{797,1758},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_kyc_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1851},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{797,1851},{87,87}}</string>
				<key>sourceSize</key>
				<string>{87,87}</string>
			</dict>
			<key>img_icon_select_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,374},{48,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1916,374},{48,34}}</string>
				<key>sourceSize</key>
				<string>{48,34}</string>
			</dict>
			<key>img_icon_vip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1439},{217,234}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,1439},{217,234}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1439},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{664,1439},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,1673},{250,244}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1732,1673},{250,244}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,895},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{719,895},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,896},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,896},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,896},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,896},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1679},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,1679},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,1417},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1735,1417},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,1673},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1220,1673},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,1161},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1735,1161},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,444},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{207,444},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,1640},{250,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1476,1640},{250,258}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_icon_vip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,668},{220,233}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{958,668},{220,233}}</string>
				<key>sourceSize</key>
				<string>{250,258}</string>
			</dict>
			<key>img_in_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,1115},{214,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2038,1115},{214,1}}</string>
				<key>sourceSize</key>
				<string>{214,1}</string>
			</dict>
			<key>img_input_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,720},{17,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,720},{17,24}}</string>
				<key>sourceSize</key>
				<string>{17,24}</string>
			</dict>
			<key>img_input_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,743},{15,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,743},{15,24}}</string>
				<key>sourceSize</key>
				<string>{15,24}</string>
			</dict>
			<key>img_input_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,503},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,503},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,764},{15,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,764},{15,24}}</string>
				<key>sourceSize</key>
				<string>{15,24}</string>
			</dict>
			<key>img_input_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,696},{18,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,696},{18,24}}</string>
				<key>sourceSize</key>
				<string>{18,24}</string>
			</dict>
			<key>img_input_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,473},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,473},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,593},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,593},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,563},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,563},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,374},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2009,374},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,533},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{659,533},{16,24}}</string>
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>img_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,500},{336,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{681,500},{336,271}}</string>
				<key>sourceSize</key>
				<string>{336,271}</string>
			</dict>
			<key>img_line_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,155},{10,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1819,155},{10,1}}</string>
				<key>sourceSize</key>
				<string>{10,1}</string>
			</dict>
			<key>img_line_h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,202},{5,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2038,202},{5,1}}</string>
				<key>sourceSize</key>
				<string>{5,1}</string>
			</dict>
			<key>img_only1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,416},{70,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{454,416},{70,18}}</string>
				<key>sourceSize</key>
				<string>{70,18}</string>
			</dict>
			<key>img_select_bg_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,965},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{975,965},{143,54}}</string>
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>img_select_bg_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,414},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1870,414},{143,54}}</string>
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>img_select_bg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,348},{143,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{57,348},{143,54}}</string>
				<key>sourceSize</key>
				<string>{143,54}</string>
			</dict>
			<key>img_selector_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{955,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{955,339}}</string>
				<key>sourceSize</key>
				<string>{955,339}</string>
			</dict>
			<key>img_success_list_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,444},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{651,444},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>img_success_list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1323},{509,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,1323},{509,34}}</string>
				<key>sourceSize</key>
				<string>{509,34}</string>
			</dict>
			<key>img_success_list_detail_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1420},{502,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1193,1420},{502,214}}</string>
				<key>sourceSize</key>
				<string>{502,214}</string>
			</dict>
			<key>img_success_list_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,382},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{651,382},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>img_withdraw_limit_frame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,524},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1972,524},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>img_withdraw_limit_frame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,216},{4,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2038,216},{4,1}}</string>
				<key>sourceSize</key>
				<string>{4,1}</string>
			</dict>
			<key>img_withdraw_limit_frame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,209},{1,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2038,209},{1,4}}</string>
				<key>sourceSize</key>
				<string>{1,4}</string>
			</dict>
			<key>lable_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,440},{71,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{470,440},{71,27}}</string>
				<key>sourceSize</key>
				<string>{71,27}</string>
			</dict>
			<key>lineh.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,2034},{581,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,2034},{581,8}}</string>
				<key>sourceSize</key>
				<string>{581,8}</string>
			</dict>
			<key>linev.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,223},{2,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2038,223},{2,57}}</string>
				<key>sourceSize</key>
				<string>{2,57}</string>
			</dict>
			<key>max_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,3},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1919,3},{113,52}}</string>
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>maxbig.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,842},{74,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{777,842},{74,28}}</string>
				<key>sourceSize</key>
				<string>{74,28}</string>
			</dict>
			<key>namebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1640},{397,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{903,1640},{397,55}}</string>
				<key>sourceSize</key>
				<string>{397,55}</string>
			</dict>
			<key>task.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,474},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1972,474},{44,47}}</string>
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f6587830.png</string>
			<key>size</key>
			<string>{2047,2046}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f6587830.png</string>
		</dict>
	</dict>
</plist>
