<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Additional.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,395},{185,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,395},{185,138}}</string>
				<key>sourceSize</key>
				<string>{185,138}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,353},{142,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,353},{142,35}}</string>
				<key>sourceSize</key>
				<string>{142,35}</string>
			</dict>
			<key>freegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,3},{169,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{147,3},{169,70}}</string>
				<key>sourceSize</key>
				<string>{169,70}</string>
			</dict>
			<key>layerfree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{386,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{386,68}}</string>
				<key>sourceSize</key>
				<string>{386,68}</string>
			</dict>
			<key>layerfreegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,3},{344,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{77,3},{344,64}}</string>
				<key>sourceSize</key>
				<string>{344,64}</string>
			</dict>
			<key>layertitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,586},{172,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,586},{172,72}}</string>
				<key>sourceSize</key>
				<string>{172,72}</string>
			</dict>
			<key>layertotalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,178},{126,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{147,178},{126,56}}</string>
				<key>sourceSize</key>
				<string>{126,56}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,310},{49,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,310},{49,35}}</string>
				<key>sourceSize</key>
				<string>{49,35}</string>
			</dict>
			<key>youwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,664},{234,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,664},{234,66}}</string>
				<key>sourceSize</key>
				<string>{234,66}</string>
			</dict>
			<key>youwon.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,394},{234,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{181,394},{234,66}}</string>
				<key>sourceSize</key>
				<string>{234,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>12c640119.png</string>
			<key>size</key>
			<string>{250,733}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>12c640119.png</string>
		</dict>
	</dict>
</plist>
