<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>label_free_in_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,278},{317,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,278},{317,27}}</string>
				<key>sourceSize</key>
				<string>{317,27}</string>
			</dict>
			<key>label_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,3},{269,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,3},{269,39}}</string>
				<key>sourceSize</key>
				<string>{269,39}</string>
			</dict>
			<key>label_free_you_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{383,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{383,65}}</string>
				<key>sourceSize</key>
				<string>{383,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>142ae78a8.png</string>
			<key>size</key>
			<string>{116,598}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>142ae78a8.png</string>
		</dict>
	</dict>
</plist>
