<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1X.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,867},{32,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,867},{32,25}}</string>
				<key>sourceSize</key>
				<string>{32,25}</string>
			</dict>
			<key>2X.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,448},{34,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,448},{34,25}}</string>
				<key>sourceSize</key>
				<string>{34,25}</string>
			</dict>
			<key>3X.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,417},{34,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,417},{34,25}}</string>
				<key>sourceSize</key>
				<string>{34,25}</string>
			</dict>
			<key>4X.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,423},{34,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{200,423},{34,25}}</string>
				<key>sourceSize</key>
				<string>{34,25}</string>
			</dict>
			<key>Ante_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,317},{50,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,317},{50,22}}</string>
				<key>sourceSize</key>
				<string>{50,22}</string>
			</dict>
			<key>Ante_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,345},{50,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,345},{50,22}}</string>
				<key>sourceSize</key>
				<string>{50,22}</string>
			</dict>
			<key>B_Flush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,202},{219,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,202},{219,16}}</string>
				<key>sourceSize</key>
				<string>{219,16}</string>
			</dict>
			<key>B_FullHouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,224},{219,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,224},{219,16}}</string>
				<key>sourceSize</key>
				<string>{219,16}</string>
			</dict>
			<key>B_MustBeatDealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,479},{133,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,479},{133,15}}</string>
				<key>sourceSize</key>
				<string>{133,15}</string>
			</dict>
			<key>B_OtherHandsPush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,83},{220,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,83},{220,14}}</string>
				<key>sourceSize</key>
				<string>{220,14}</string>
			</dict>
			<key>B_Quads.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,178},{219,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,178},{219,18}}</string>
				<key>sourceSize</key>
				<string>{219,18}</string>
			</dict>
			<key>B_RoyalFlush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,103},{219,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,103},{219,19}}</string>
				<key>sourceSize</key>
				<string>{219,19}</string>
			</dict>
			<key>B_Straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,153},{219,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,153},{219,19}}</string>
				<key>sourceSize</key>
				<string>{219,19}</string>
			</dict>
			<key>B_StraightFlush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,128},{219,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,128},{219,19}}</string>
				<key>sourceSize</key>
				<string>{219,19}</string>
			</dict>
			<key>BetsAccepted.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,622},{391,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,622},{391,40}}</string>
				<key>sourceSize</key>
				<string>{391,40}</string>
			</dict>
			<key>Blind_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,143},{55,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,143},{55,23}}</string>
				<key>sourceSize</key>
				<string>{55,23}</string>
			</dict>
			<key>Blind_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,172},{55,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,172},{55,23}}</string>
				<key>sourceSize</key>
				<string>{55,23}</string>
			</dict>
			<key>FLOD.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,267},{53,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,267},{53,19}}</string>
				<key>sourceSize</key>
				<string>{53,19}</string>
			</dict>
			<key>MAKEYOURDECISION.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{292,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{292,23}}</string>
				<key>sourceSize</key>
				<string>{292,23}</string>
			</dict>
			<key>MAX.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,867},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,867},{48,25}}</string>
				<key>sourceSize</key>
				<string>{48,25}</string>
			</dict>
			<key>MIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,898},{43,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{254,898},{43,24}}</string>
				<key>sourceSize</key>
				<string>{43,24}</string>
			</dict>
			<key>Place-Your-Bets.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,423},{438,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,423},{438,40}}</string>
				<key>sourceSize</key>
				<string>{438,40}</string>
			</dict>
			<key>T_Flush.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,398},{218,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{279,398},{218,16}}</string>
				<key>sourceSize</key>
				<string>{218,16}</string>
			</dict>
			<key>T_FullHouse.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,622},{218,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{277,622},{218,14}}</string>
				<key>sourceSize</key>
				<string>{218,14}</string>
			</dict>
			<key>T_Quads.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,344},{218,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,344},{218,17}}</string>
				<key>sourceSize</key>
				<string>{218,17}</string>
			</dict>
			<key>T_RoyalFlush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,246},{218,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,246},{218,19}}</string>
				<key>sourceSize</key>
				<string>{218,19}</string>
			</dict>
			<key>T_Straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,296},{218,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,296},{218,19}}</string>
				<key>sourceSize</key>
				<string>{218,19}</string>
			</dict>
			<key>T_StraightFlush.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,271},{218,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,271},{218,19}}</string>
				<key>sourceSize</key>
				<string>{218,19}</string>
			</dict>
			<key>T_Trips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,321},{218,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,321},{218,17}}</string>
				<key>sourceSize</key>
				<string>{218,17}</string>
			</dict>
			<key>Trips_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,234},{54,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,234},{54,27}}</string>
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>Trips_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,201},{54,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,201},{54,27}}</string>
				<key>sourceSize</key>
				<string>{54,27}</string>
			</dict>
			<key>YouWIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,32},{288,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,32},{288,45}}</string>
				<key>sourceSize</key>
				<string>{288,45}</string>
			</dict>
			<key>check.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,398},{71,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,398},{71,19}}</string>
				<key>sourceSize</key>
				<string>{71,19}</string>
			</dict>
			<key>double.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,367},{82,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,367},{82,19}}</string>
				<key>sourceSize</key>
				<string>{82,19}</string>
			</dict>
			<key>play.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,292},{52,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,292},{52,19}}</string>
				<key>sourceSize</key>
				<string>{52,19}</string>
			</dict>
			<key>play_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,898},{45,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,898},{45,27}}</string>
				<key>sourceSize</key>
				<string>{45,27}</string>
			</dict>
			<key>play_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,417},{45,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,417},{45,27}}</string>
				<key>sourceSize</key>
				<string>{45,27}</string>
			</dict>
			<key>repeat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,392},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,392},{75,19}}</string>
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>repeat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,373},{75,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{209,373},{75,19}}</string>
				<key>sourceSize</key>
				<string>{75,19}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,367},{644,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,367},{644,112}}</string>
				<key>sourceSize</key>
				<string>{644,112}</string>
			</dict>
			<key>titleBlind.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,83},{59,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,83},{59,21}}</string>
				<key>sourceSize</key>
				<string>{59,21}</string>
			</dict>
			<key>titleTrips.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,110},{58,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,110},{58,27}}</string>
				<key>sourceSize</key>
				<string>{58,27}</string>
			</dict>
			<key>waitDes.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,468},{534,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{167,468},{534,30}}</string>
				<key>sourceSize</key>
				<string>{534,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>114485e47.png</string>
			<key>size</key>
			<string>{298,1016}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>114485e47.png</string>
		</dict>
	</dict>
</plist>
