<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TOTALBET.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,147},{115,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,147},{115,20}}</string>
				<key>sourceSize</key>
				<string>{115,20}</string>
			</dict>
			<key>WIN.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,268},{70,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,268},{70,29}}</string>
				<key>sourceSize</key>
				<string>{70,29}</string>
			</dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,565},{38,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,565},{38,16}}</string>
				<key>sourceSize</key>
				<string>{38,16}</string>
			</dict>
			<key>free_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,429},{126,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,429},{126,42}}</string>
				<key>sourceSize</key>
				<string>{126,42}</string>
			</dict>
			<key>free_txt_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,549},{146,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,549},{146,30}}</string>
				<key>sourceSize</key>
				<string>{146,30}</string>
			</dict>
			<key>free_txt_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,549},{106,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,549},{106,30}}</string>
				<key>sourceSize</key>
				<string>{106,30}</string>
			</dict>
			<key>max_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,506},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{432,506},{66,48}}</string>
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>max_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,284},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{177,284},{66,48}}</string>
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>quickSpin_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,356},{67,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{177,356},{67,42}}</string>
				<key>sourceSize</key>
				<string>{67,42}</string>
			</dict>
			<key>spin_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,305},{131,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{244,305},{131,61}}</string>
				<key>sourceSize</key>
				<string>{131,61}</string>
			</dict>
			<key>spin_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,147},{131,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{177,147},{131,61}}</string>
				<key>sourceSize</key>
				<string>{131,61}</string>
			</dict>
			<key>stop_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,297},{131,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{313,297},{131,43}}</string>
				<key>sourceSize</key>
				<string>{131,43}</string>
			</dict>
			<key>stop_txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,434},{131,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{313,434},{131,43}}</string>
				<key>sourceSize</key>
				<string>{131,43}</string>
			</dict>
			<key>totalMultiple_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,147},{144,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{313,147},{144,47}}</string>
				<key>sourceSize</key>
				<string>{144,47}</string>
			</dict>
			<key>txt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,3},{556,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,3},{556,59}}</string>
				<key>sourceSize</key>
				<string>{556,59}</string>
			</dict>
			<key>txt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,484},{304,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,484},{304,59}}</string>
				<key>sourceSize</key>
				<string>{304,59}</string>
			</dict>
			<key>txt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,147},{331,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{47,147},{331,59}}</string>
				<key>sourceSize</key>
				<string>{331,59}</string>
			</dict>
			<key>txt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,147},{276,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{112,147},{276,59}}</string>
				<key>sourceSize</key>
				<string>{276,59}</string>
			</dict>
			<key>txt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,3},{497,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{432,3},{497,59}}</string>
				<key>sourceSize</key>
				<string>{497,59}</string>
			</dict>
			<key>txt_buyFree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,147},{152,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{244,147},{152,60}}</string>
				<key>sourceSize</key>
				<string>{152,60}</string>
			</dict>
			<key>txt_buyFree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{358,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{358,138}}</string>
				<key>sourceSize</key>
				<string>{358,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>179681f03.png</string>
			<key>size</key>
			<string>{494,584}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>179681f03.png</string>
		</dict>
	</dict>
</plist>
