<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{249,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{249,72}}</string>
				<key>sourceSize</key>
				<string>{249,72}</string>
			</dict>
			<key>left.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,311},{47,60}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,311},{47,60}}</string>
				<key>sourceSize</key>
				<string>{48,61}</string>
			</dict>
			<key>right.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,258},{47,60}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,258},{47,60}}</string>
				<key>sourceSize</key>
				<string>{48,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1470f4fd0.png</string>
			<key>size</key>
			<string>{78,361}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1470f4fd0.png</string>
		</dict>
	</dict>
</plist>
