<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,26},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,26},{50,24}}</string>
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>img_bg_ele.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,66},{661,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,66},{661,144}}</string>
				<key>sourceSize</key>
				<string>{661,144}</string>
			</dict>
			<key>img_title_jipaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{189,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{189,25}}</string>
				<key>sourceSize</key>
				<string>{189,25}</string>
			</dict>
			<key>label_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,146},{98,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,146},{98,39}}</string>
				<key>sourceSize</key>
				<string>{98,39}</string>
			</dict>
			<key>label_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,3},{55,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,3},{55,17}}</string>
				<key>sourceSize</key>
				<string>{55,17}</string>
			</dict>
			<key>label_op_double_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,34},{106,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{165,34},{106,25}}</string>
				<key>sourceSize</key>
				<string>{106,25}</string>
			</dict>
			<key>label_op_double_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,191},{94,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,191},{94,22}}</string>
				<key>sourceSize</key>
				<string>{94,22}</string>
			</dict>
			<key>label_op_hit_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,56},{44,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{227,56},{44,25}}</string>
				<key>sourceSize</key>
				<string>{44,25}</string>
			</dict>
			<key>label_op_hit_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,733},{37,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,733},{37,22}}</string>
				<key>sourceSize</key>
				<string>{37,22}</string>
			</dict>
			<key>label_op_split_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,733},{67,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,733},{67,31}}</string>
				<key>sourceSize</key>
				<string>{67,31}</string>
			</dict>
			<key>label_op_split_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,733},{59,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,733},{59,28}}</string>
				<key>sourceSize</key>
				<string>{59,28}</string>
			</dict>
			<key>label_op_stand_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,56},{84,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{196,56},{84,25}}</string>
				<key>sourceSize</key>
				<string>{84,25}</string>
			</dict>
			<key>label_op_stand_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,219},{74,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,219},{74,22}}</string>
				<key>sourceSize</key>
				<string>{74,22}</string>
			</dict>
			<key>label_wait_next_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,247},{526,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,247},{526,68}}</string>
				<key>sourceSize</key>
				<string>{526,68}</string>
			</dict>
			<key>lb_insure.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,34},{156,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,34},{156,26}}</string>
				<key>sourceSize</key>
				<string>{156,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1c666ebeb.png</string>
			<key>size</key>
			<string>{256,776}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1c666ebeb.png</string>
		</dict>
	</dict>
</plist>
