<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fruit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,3},{169,169}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{852,3},{169,169}}</string>
				<key>sourceSize</key>
				<string>{171,170}</string>
			</dict>
			<key>fruit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,808},{208,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,808},{208,187}}</string>
				<key>sourceSize</key>
				<string>{208,187}</string>
			</dict>
			<key>fruit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,540},{147,176}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{848,540},{147,176}}</string>
				<key>sourceSize</key>
				<string>{149,176}</string>
			</dict>
			<key>fruit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,3},{185,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{346,3},{185,198}}</string>
				<key>sourceSize</key>
				<string>{197,200}</string>
			</dict>
			<key>fruit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,178},{162,165}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{852,178},{162,165}}</string>
				<key>sourceSize</key>
				<string>{169,171}</string>
			</dict>
			<key>fruit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,385},{152,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{346,385},{152,189}}</string>
				<key>sourceSize</key>
				<string>{152,189}</string>
			</dict>
			<key>fruit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,194},{185,195}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{346,194},{185,195}}</string>
				<key>sourceSize</key>
				<string>{187,199}</string>
			</dict>
			<key>fruit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,346},{148,188}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{848,346},{148,188}}</string>
				<key>sourceSize</key>
				<string>{149,188}</string>
			</dict>
			<key>shadow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,689},{269,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,689},{269,293}}</string>
				<key>sourceSize</key>
				<string>{269,293}</string>
			</dict>
			<key>shadow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,689},{304,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,689},{304,275}}</string>
				<key>sourceSize</key>
				<string>{306,275}</string>
			</dict>
			<key>shadow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{337,337}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{337,337}}</string>
				<key>sourceSize</key>
				<string>{343,337}</string>
			</dict>
			<key>shadow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,550},{252,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,550},{252,278}}</string>
				<key>sourceSize</key>
				<string>{252,278}</string>
			</dict>
			<key>shadow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,3},{287,270}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{559,3},{287,270}}</string>
				<key>sourceSize</key>
				<string>{288,271}</string>
			</dict>
			<key>shadow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,279},{265,283}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,279},{265,283}}</string>
				<key>sourceSize</key>
				<string>{265,287}</string>
			</dict>
			<key>shadow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,346},{337,337}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,346},{337,337}}</string>
				<key>sourceSize</key>
				<string>{343,337}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>14b0f1790.png</string>
			<key>size</key>
			<string>{1024,1019}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>14b0f1790.png</string>
		</dict>
	</dict>
</plist>
