<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>free.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,237},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{363,237},{40,21}}</string>
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>freeSpins1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{499,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{499,50}}</string>
				<key>sourceSize</key>
				<string>{499,50}</string>
			</dict>
			<key>freespinsRemain.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,303},{125,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,303},{125,102}}</string>
				<key>sourceSize</key>
				<string>{125,102}</string>
			</dict>
			<key>max.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,59},{116,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{404,59},{116,105}}</string>
				<key>sourceSize</key>
				<string>{116,105}</string>
			</dict>
			<key>max1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,181},{116,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{397,181},{116,105}}</string>
				<key>sourceSize</key>
				<string>{116,105}</string>
			</dict>
			<key>spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,223},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,223},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,443},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,443},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,553},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,553},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,333},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,333},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,663},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,663},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>stop21.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,113},{354,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,113},{354,104}}</string>
				<key>sourceSize</key>
				<string>{354,104}</string>
			</dict>
			<key>totalbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,168},{63,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{363,168},{63,28}}</string>
				<key>sourceSize</key>
				<string>{63,28}</string>
			</dict>
			<key>totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,411},{98,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{457,411},{98,39}}</string>
				<key>sourceSize</key>
				<string>{98,39}</string>
			</dict>
			<key>txt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,411},{514,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{415,411},{514,36}}</string>
				<key>sourceSize</key>
				<string>{514,36}</string>
			</dict>
			<key>txt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,773},{320,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,773},{320,41}}</string>
				<key>sourceSize</key>
				<string>{320,41}</string>
			</dict>
			<key>wild-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,59},{395,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,59},{395,48}}</string>
				<key>sourceSize</key>
				<string>{395,48}</string>
			</dict>
			<key>wild-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,411},{558,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{363,411},{558,46}}</string>
				<key>sourceSize</key>
				<string>{558,46}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,113},{49,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{363,113},{49,30}}</string>
				<key>sourceSize</key>
				<string>{49,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>12e3e5516.png</string>
			<key>size</key>
			<string>{512,972}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>12e3e5516.png</string>
		</dict>
	</dict>
</plist>
