<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>annn.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,477},{309,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{88,477},{309,109}}</string>
				<key>sourceSize</key>
				<string>{309,109}</string>
			</dict>
			<key>auto_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,736},{130,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,736},{130,31}}</string>
				<key>sourceSize</key>
				<string>{130,31}</string>
			</dict>
			<key>betbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,57},{270,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{838,57},{270,67}}</string>
				<key>sourceSize</key>
				<string>{270,67}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,3},{48,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{838,3},{48,68}}</string>
				<key>sourceSize</key>
				<string>{48,68}</string>
			</dict>
			<key>btn_bet_selected_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,792},{153,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,792},{153,48}}</string>
				<key>sourceSize</key>
				<string>{153,48}</string>
			</dict>
			<key>btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,846},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,846},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>btn_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,285},{111,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,285},{111,80}}</string>
				<key>sourceSize</key>
				<string>{111,80}</string>
			</dict>
			<key>btn_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,846},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{165,846},{46,44}}</string>
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>btn_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,846},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{295,846},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>btn_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,406},{65,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{836,406},{65,73}}</string>
				<key>sourceSize</key>
				<string>{65,73}</string>
			</dict>
			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,155},{58,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{773,155},{58,61}}</string>
				<key>sourceSize</key>
				<string>{58,61}</string>
			</dict>
			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,567},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{599,567},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,664},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{599,664},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,477},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{502,477},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_stop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,470},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{599,470},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_stop1_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,477},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{405,477},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_stop_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,664},{231,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{696,664},{231,91}}</string>
				<key>sourceSize</key>
				<string>{231,91}</string>
			</dict>
			<key>btn_sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,792},{49,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{88,792},{49,67}}</string>
				<key>sourceSize</key>
				<string>{49,67}</string>
			</dict>
			<key>cash_num6.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,285},{179,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,285},{179,207}}</string>
				<key>sourceSize</key>
				<string>{179,207}</string>
			</dict>
			<key>cash_num7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,285},{182,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,285},{182,200}}</string>
				<key>sourceSize</key>
				<string>{182,200}</string>
			</dict>
			<key>cash_num8.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,736},{174,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,736},{174,207}}</string>
				<key>sourceSize</key>
				<string>{174,207}</string>
			</dict>
			<key>cash_num9.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,285},{179,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{552,285},{179,207}}</string>
				<key>sourceSize</key>
				<string>{179,207}</string>
			</dict>
			<key>goldbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,222},{223,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{773,222},{223,57}}</string>
				<key>sourceSize</key>
				<string>{223,57}</string>
			</dict>
			<key>gongju.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,333},{73,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,333},{73,67}}</string>
				<key>sourceSize</key>
				<string>{73,67}</string>
			</dict>
			<key>img_txt_autoMax.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,846},{42,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,846},{42,24}}</string>
				<key>sourceSize</key>
				<string>{54,46}</string>
			</dict>
			<key>set_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,664},{75,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{793,664},{75,222}}</string>
				<key>sourceSize</key>
				<string>{75,222}</string>
			</dict>
			<key>time_select_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,477},{196,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,477},{196,253}}</string>
				<key>sourceSize</key>
				<string>{196,253}</string>
			</dict>
			<key>time_select_item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,848},{156,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,848},{156,49}}</string>
				<key>sourceSize</key>
				<string>{156,49}</string>
			</dict>
			<key>topbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{829,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{829,146}}</string>
				<key>sourceSize</key>
				<string>{829,146}</string>
			</dict>
			<key>win_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,477},{365,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,477},{365,79}}</string>
				<key>sourceSize</key>
				<string>{365,79}</string>
			</dict>
			<key>zidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,155},{764,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,155},{764,124}}</string>
				<key>sourceSize</key>
				<string>{764,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ff57eea0.png</string>
			<key>size</key>
			<string>{912,913}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ff57eea0.png</string>
		</dict>
	</dict>
</plist>
