<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>EVBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,33},{91,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,33},{91,34}}</string>
				<key>sourceSize</key>
				<string>{91,34}</string>
			</dict>
			<key>betBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,182},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{376,182},{101,101}}</string>
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>betBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,188},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{483,188},{101,101}}</string>
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>bottemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,172},{367,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,172},{367,95}}</string>
				<key>sourceSize</key>
				<string>{367,95}</string>
			</dict>
			<key>btnBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,106},{144,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,106},{144,60}}</string>
				<key>sourceSize</key>
				<string>{144,60}</string>
			</dict>
			<key>btnBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,40},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{608,40},{145,60}}</string>
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>btnBg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,41},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,41},{145,60}}</string>
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>btnBg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,40},{144,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,40},{144,60}}</string>
				<key>sourceSize</key>
				<string>{144,60}</string>
			</dict>
			<key>btnBg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,102},{144,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,102},{144,60}}</string>
				<key>sourceSize</key>
				<string>{144,60}</string>
			</dict>
			<key>btnBg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,40},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{457,40},{145,60}}</string>
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>cardTypeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,3},{188,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{773,3},{188,32}}</string>
				<key>sourceSize</key>
				<string>{188,32}</string>
			</dict>
			<key>cardTypeBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{38,3},{179,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,3},{179,24}}</string>
				<key>sourceSize</key>
				<string>{179,24}</string>
			</dict>
			<key>chipBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,106},{96,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,106},{96,76}}</string>
				<key>sourceSize</key>
				<string>{96,76}</string>
			</dict>
			<key>chipSelet.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,211},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{844,211},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>iconBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,41},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,41},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>img1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{29,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{29,19}}</string>
				<key>sourceSize</key>
				<string>{29,19}</string>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,273},{212,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,273},{212,135}}</string>
				<key>sourceSize</key>
				<string>{212,135}</string>
			</dict>
			<key>img3.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,338},{350,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{483,338},{350,291}}</string>
				<key>sourceSize</key>
				<string>{350,291}</string>
			</dict>
			<key>img4.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,289},{232,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{221,289},{232,256}}</string>
				<key>sourceSize</key>
				<string>{232,256}</string>
			</dict>
			<key>otherIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,33},{68,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,33},{68,56}}</string>
				<key>sourceSize</key>
				<string>{68,56}</string>
			</dict>
			<key>otherPlayerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,106},{123,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,106},{123,70}}</string>
				<key>sourceSize</key>
				<string>{123,70}</string>
			</dict>
			<key>playerBetBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,3},{79,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,3},{79,27}}</string>
				<key>sourceSize</key>
				<string>{79,27}</string>
			</dict>
			<key>playerWinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,36},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{174,36},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>timerBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,73},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,73},{71,71}}</string>
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>timerCircel.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,36},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,36},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>tipsBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,3},{459,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,3},{459,31}}</string>
				<key>sourceSize</key>
				<string>{459,31}</string>
			</dict>
			<key>trip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,211},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{590,211},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>trip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,211},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,211},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>userHeadBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,117},{256,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{706,117},{256,88}}</string>
				<key>sourceSize</key>
				<string>{256,88}</string>
			</dict>
			<key>userIconBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,106},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,106},{89,88}}</string>
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1521f3646.png</string>
			<key>size</key>
			<string>{990,632}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1521f3646.png</string>
		</dict>
	</dict>
</plist>
