<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>grand_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,290},{692,274}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{575,290},{692,274}}</string>
				<key>sourceSize</key>
				<string>{702,274}</string>
			</dict>
			<key>major_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,290},{692,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{289,290},{692,280}}</string>
				<key>sourceSize</key>
				<string>{692,280}</string>
			</dict>
			<key>mini_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{692,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{692,281}}</string>
				<key>sourceSize</key>
				<string>{692,281}</string>
			</dict>
			<key>minor_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,290},{692,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,290},{692,280}}</string>
				<key>sourceSize</key>
				<string>{692,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f4a8360b.png</string>
			<key>size</key>
			<string>{852,985}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f4a8360b.png</string>
		</dict>
	</dict>
</plist>
