<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rule_page_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{821,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{821,371}}</string>
				<key>sourceSize</key>
				<string>{821,371}</string>
			</dict>
			<key>rule_page_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,380},{758,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,380},{758,408}}</string>
				<key>sourceSize</key>
				<string>{758,408}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1fab791f6.png</string>
			<key>size</key>
			<string>{827,791}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1fab791f6.png</string>
		</dict>
	</dict>
</plist>
