<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>head_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,689},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,689},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,395},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,395},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,493},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,493},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,591},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,591},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,395},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,395},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,3},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,3},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,199},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,199},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,787},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,787},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,199},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,199},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,101},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,101},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,101},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,101},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,101},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,101},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,297},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,297},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,101},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,101},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,395},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,395},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,591},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,591},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,591},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,591},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,3},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,3},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,493},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,493},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,199},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,199},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,787},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,787},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,591},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,591},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,395},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,395},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,689},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,689},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,689},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,689},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,297},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,297},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,297},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,297},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,591},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,591},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,199},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,199},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,199},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,199},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,101},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,101},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,689},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,689},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,297},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,297},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,493},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,493},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,493},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,493},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,395},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,395},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,493},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,493},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,297},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,297},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,3},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,3},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_default0.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,3},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,3},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>head_default1.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,689},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,689},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>sprite_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,787},{153,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{315,787},{153,155}}</string>
				<key>sourceSize</key>
				<string>{155,155}</string>
			</dict>
			<key>sprite_circle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,787},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,787},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13dbf4601.png</string>
			<key>size</key>
			<string>{490,943}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13dbf4601.png</string>
		</dict>
	</dict>
</plist>
