<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_lb_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,290},{96,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,290},{96,41}}</string>
				<key>sourceSize</key>
				<string>{96,41}</string>
			</dict>
			<key>btn_lb_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,3},{166,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{145,3},{166,44}}</string>
				<key>sourceSize</key>
				<string>{166,44}</string>
			</dict>
			<key>btn_lb_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,337},{70,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,337},{70,29}}</string>
				<key>sourceSize</key>
				<string>{70,29}</string>
			</dict>
			<key>btn_lb_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,175},{67,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{183,175},{67,29}}</string>
				<key>sourceSize</key>
				<string>{67,29}</string>
			</dict>
			<key>btn_lb_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,175},{109,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{145,175},{109,32}}</string>
				<key>sourceSize</key>
				<string>{109,32}</string>
			</dict>
			<key>btn_lb_suppot.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,525},{95,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,525},{95,24}}</string>
				<key>sourceSize</key>
				<string>{95,24}</string>
			</dict>
			<key>lb_title_create.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,379},{210,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,379},{210,140}}</string>
				<key>sourceSize</key>
				<string>{210,140}</string>
			</dict>
			<key>lb_title_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{370,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{3,3},{370,136}}</string>
				<key>sourceSize</key>
				<string>{370,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>12507d266.png</string>
			<key>size</key>
			<string>{244,552}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>12507d266.png</string>
		</dict>
	</dict>
</plist>
